In [8]:
import pandas as pd
import numpy as np

In [9]:
eightmath = pd.read_excel('eighth-grade-math-performance.xlsx')
eightmath

,Table S-5,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"Eighth Grade Mathematics Performance, by state...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,(Score out of 500),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2000,2003,2005,2007.0,2009.0,2011.0,2013.0,2015.0,2017.0,2019.0
3,United States,272,276,278,280.0,282.0,283.0,284.0,281.0,282.0,281.0
4,Alabama,264,262,262,266.0,269.0,269.0,269.0,267.0,268.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...
59,NOTES: The National Assessment of Educational ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Last updated: April 29, 2020",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
eightmath.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Table S-5    61 non-null     object
 1   Unnamed: 1   43 non-null     object
 2   Unnamed: 2   54 non-null     object
 3   Unnamed: 3   54 non-null     object
 4   Unnamed: 4   53 non-null     float64
 5   Unnamed: 5   53 non-null     float64
 6   Unnamed: 6   54 non-null     float64
 7   Unnamed: 7   54 non-null     float64
 8   Unnamed: 8   54 non-null     float64
 9   Unnamed: 9   54 non-null     float64
 10  Unnamed: 10  53 non-null     float64
dtypes: float64(7), object(4)
memory usage: 5.6+ KB

In [11]:
eightmath = eightmath.rename(columns = {'Table S-5' : 'State',
                                   'Unnamed: 1' : '8th 2000 Math',
                                   'Unnamed: 2' : '8th 2003 Math',
                                   'Unnamed: 3' : '8th 2005 Math',
                                   'Unnamed: 4' : '8th 2007 Math',
                                   'Unnamed: 5' : '8th 2009 Math',
                                   'Unnamed: 6' : '8th 2011 Math',
                                   'Unnamed: 7' : '8th 2013 Math',
                                   'Unnamed: 8' : '8th 2015 Math',
                                   'Unnamed: 9' : '8th 2017 Math',
                                   'Unnamed: 10': '8th 2019 Math' })

eightmath.drop(range(0,4), inplace = True)

eightmath.head()

,State,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
4,Alabama,264,262,262,266.0,269.0,269.0,269.0,267.0,268.0,269.0
5,Alaska,NaN,279,279,283.0,283.0,283.0,282.0,280.0,277.0,274.0
6,Arizona,269,271,274,276.0,277.0,279.0,280.0,283.0,282.0,280.0
7,Arkansas,257,266,272,274.0,276.0,279.0,278.0,275.0,274.0,274.0
8,California,260,267,269,270.0,270.0,273.0,276.0,275.0,277.0,276.0

In [12]:
eightmath = eightmath.reset_index(drop = True)

eightmath.head()

,State,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,264,262,262,266.0,269.0,269.0,269.0,267.0,268.0,269.0
1,Alaska,NaN,279,279,283.0,283.0,283.0,282.0,280.0,277.0,274.0
2,Arizona,269,271,274,276.0,277.0,279.0,280.0,283.0,282.0,280.0
3,Arkansas,257,266,272,274.0,276.0,279.0,278.0,275.0,274.0,274.0
4,California,260,267,269,270.0,270.0,273.0,276.0,275.0,277.0,276.0

In [13]:
eightmath.isna().sum()

State             2
8th 2000 Math    20
8th 2003 Math     8
8th 2005 Math     8
8th 2007 Math     9
8th 2009 Math     9
8th 2011 Math     8
8th 2013 Math     8
8th 2015 Math     8
8th 2017 Math     8
8th 2019 Math     9
dtype: int64

In [14]:
eightmath.State

0                                               Alabama
1                                                Alaska
2                                               Arizona
3                                              Arkansas
4                                            California
5                                              Colorado
6                                           Connecticut
7                                              Delaware
8                                  District of Columbia
9                                               Florida
10                                              Georgia
11                                               Hawaii
12                                                Idaho
13                                             Illinois
14                                              Indiana
15                                                 Iowa
16                                               Kansas
17                                             Kentucky
18                                            Louisiana
19                                                Maine
20                                             Maryland
21                                        Massachusetts
22                                             Michigan
23                                            Minnesota
24                                          Mississippi
25                                             Missouri
26                                              Montana
27                                             Nebraska
28                                               Nevada
29                                        New Hampshire
30                                           New Jersey
31                                           New Mexico
32                                             New York
33                                       North Carolina
34                                         North Dakota
35                                                 Ohio
36                                             Oklahoma
37                                               Oregon
38                                         Pennsylvania
39                                         Rhode Island
40                                       South Carolina
41                                         South Dakota
42                                            Tennessee
43                                                Texas
44                                                 Utah
45                                              Vermont
46                                             Virginia
47                                           Washington
48                                        West Virginia
49                                            Wisconsin
50                                              Wyoming
51                                                  NaN
52                                          Puerto Rico
53                                                  NaN
54    S = data are suppressed because reporting stan...
55    NOTES: The National Assessment of Educational ...
56    SOURCE: National Center for Education Statisti...
57    Recommended Citation: National Science Board. ...
58                         Last updated: April 29, 2020
59                   Science and Engineering Indicators
Name: State, dtype: object

In [15]:
eightmath.drop(range(51,60), inplace = True)
eightmath.State

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

In [17]:
eightmath.isna().sum()

State             0
8th 2000 Math    11
8th 2003 Math     0
8th 2005 Math     0
8th 2007 Math     0
8th 2009 Math     0
8th 2011 Math     0
8th 2013 Math     0
8th 2015 Math     0
8th 2017 Math     0
8th 2019 Math     0
dtype: int64

In [18]:
eightmath = eightmath.fillna(eightmath.mean())
eightmath

,State,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,264.000,262,262,266.0,269.0,269.0,269.0,267.0,268.0,269.0
1,Alaska,271.225,279,279,283.0,283.0,283.0,282.0,280.0,277.0,274.0
2,Arizona,269.000,271,274,276.0,277.0,279.0,280.0,283.0,282.0,280.0
3,Arkansas,257.000,266,272,274.0,276.0,279.0,278.0,275.0,274.0,274.0
4,California,260.000,267,269,270.0,270.0,273.0,276.0,275.0,277.0,276.0
5,Colorado,271.225,283,281,286.0,287.0,292.0,290.0,286.0,286.0,285.0
6,Connecticut,281.000,284,281,282.0,289.0,287.0,285.0,284.0,284.0,286.0
7,Delaware,271.225,277,281,283.0,284.0,283.0,282.0,280.0,278.0,277.0
8,District of Columbia,235.000,243,245,248.0,254.0,260.0,265.0,263.0,266.0,269.0
9,Florida,271.225,271,274,277.0,279.0,278.0,281.0,275.0,279.0,279.0
10,Georgia,265.000,270,272,275.0,278.0,278.0,279.0,279.0,281.0,279.0
11,Hawaii,262.000,266,266,269.0,274.0,278.0,281.0,279.0,277.0,275.0
12,Idaho,277.000,280,281,284.0,287.0,287.0,286.0,284.0,284.0,286.0
13,Illinois,275.000,277,278,280.0,282.0,283.0,285.0,282.0,282.0,283.0
14,Indiana,281.000,281,282,285.0,287.0,285.0,288.0,287.0,288.0,286.0
15,Iowa,271.225,284,284,285.0,284.0,285.0,285.0,286.0,286.0,282.0
16,Kansas,283.000,284,284,290.0,289.0,290.0,290.0,284.0,285.0,282.0
17,Kentucky,270.000,274,274,279.0,279.0,282.0,281.0,278.0,278.0,278.0
18,Louisiana,259.000,266,268,272.0,272.0,273.0,273.0,268.0,267.0,272.0
19,Maine,281.000,282,281,286.0,286.0,289.0,289.0,285.0,284.0,282.0
20,Maryland,272.000,278,278,286.0,288.0,288.0,287.0,283.0,281.0,280.0
21,Massachusetts,279.000,287,292,298.0,299.0,299.0,301.0,297.0,297.0,294.0
22,Michigan,277.000,276,277,277.0,278.0,280.0,280.0,278.0,280.0,280.0
23,Minnesota,287.000,291,290,292.0,294.0,295.0,295.0,294.0,294.0,291.0
24,Mississippi,254.000,261,262,265.0,265.0,269.0,271.0,271.0,271.0,274.0
25,Missouri,271.000,279,276,281.0,286.0,282.0,283.0,281.0,281.0,281.0
26,Montana,285.000,286,286,287.0,292.0,293.0,289.0,287.0,286.0,284.0
27,Nebraska,280.000,282,284,284.0,284.0,283.0,285.0,286.0,288.0,285.0
28,Nevada,265.000,268,270,271.0,274.0,278.0,278.0,275.0,275.0,274.0
29,New Hampshire,271.225,286,285,288.0,292.0,292.0,296.0,294.0,293.0,287.0
30,New Jersey,271.225,281,284,289.0,293.0,294.0,296.0,293.0,292.0,292.0
31,New Mexico,259.000,263,263,268.0,270.0,274.0,273.0,271.0,269.0,269.0
32,New York,271.000,280,280,280.0,283.0,280.0,282.0,280.0,282.0,280.0
33,North Carolina,276.000,281,282,284.0,284.0,286.0,286.0,281.0,282.0,284.0
34,North Dakota,282.000,287,287,292.0,293.0,292.0,291.0,288.0,288.0,286.0
35,Ohio,281.000,282,283,285.0,286.0,289.0,290.0,285.0,288.0,286.0
36,Oklahoma,270.000,272,271,275.0,276.0,279.0,276.0,275.0,275.0,276.0
37,Oregon,280.000,281,282,284.0,285.0,283.0,284.0,283.0,282.0,280.0
38,Pennsylvania,271.225,279,281,286.0,288.0,286.0,290.0,284.0,286.0,285.0
39,Rhode Island,269.000,272,272,275.0,278.0,283.0,284.0,281.0,277.0,276.0
40,South Carolina,265.000,277,281,282.0,280.0,281.0,280.0,276.0,275.0,276.0
41,South Dakota,271.225,285,287,288.0,291.0,291.0,287.0,285.0,286.0,287.0
42,Tennessee,262.000,268,271,274.0,275.0,274.0,278.0,278.0,279.0,280.0
43,Texas,273.000,277,281,286.0,287.0,290.0,288.0,284.0,282.0,280.0
44,Utah,274.000,281,279,281.0,284.0,283.0,284.0,286.0,287.0,285.0
45,Vermont,281.000,286,287,291.0,293.0,294.0,295.0,290.0,288.0,287.0
46,Virginia,275.000,282,284,288.0,286.0,289.0,288.0,288.0,290.0,287.0
47,Washington,271.225,281,285,285.0,289.0,288.0,290.0,287.0,289.0,286.0
48,West Virginia,266.000,271,269,270.0,270.0,273.0,274.0,271.0,273.0,272.0
49,Wisconsin,271.225,284,285,286.0,288.0,289.0,289.0,289.0,288.0,289.0
50,Wyoming,276.000,284,282,287.0,286.0,288.0,288.0,287.0,289.0,286.0

In [19]:
eightmath = eightmath.astype({'8th 2000 Math': 'int32',
                                  '8th 2003 Math': 'int32',
                                  '8th 2005 Math': 'int32',
                                  '8th 2007 Math': 'int32',
                                  '8th 2009 Math': 'int32',
                                  '8th 2011 Math': 'int32',
                                  '8th 2013 Math': 'int32',
                                  '8th 2015 Math': 'int32',
                                  '8th 2017 Math': 'int32',
                                  '8th 2019 Math': 'int32' })

eightmath

,State,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,264,262,262,266,269,269,269,267,268,269
1,Alaska,271,279,279,283,283,283,282,280,277,274
2,Arizona,269,271,274,276,277,279,280,283,282,280
3,Arkansas,257,266,272,274,276,279,278,275,274,274
4,California,260,267,269,270,270,273,276,275,277,276
5,Colorado,271,283,281,286,287,292,290,286,286,285
6,Connecticut,281,284,281,282,289,287,285,284,284,286
7,Delaware,271,277,281,283,284,283,282,280,278,277
8,District of Columbia,235,243,245,248,254,260,265,263,266,269
9,Florida,271,271,274,277,279,278,281,275,279,279
10,Georgia,265,270,272,275,278,278,279,279,281,279
11,Hawaii,262,266,266,269,274,278,281,279,277,275
12,Idaho,277,280,281,284,287,287,286,284,284,286
13,Illinois,275,277,278,280,282,283,285,282,282,283
14,Indiana,281,281,282,285,287,285,288,287,288,286
15,Iowa,271,284,284,285,284,285,285,286,286,282
16,Kansas,283,284,284,290,289,290,290,284,285,282
17,Kentucky,270,274,274,279,279,282,281,278,278,278
18,Louisiana,259,266,268,272,272,273,273,268,267,272
19,Maine,281,282,281,286,286,289,289,285,284,282
20,Maryland,272,278,278,286,288,288,287,283,281,280
21,Massachusetts,279,287,292,298,299,299,301,297,297,294
22,Michigan,277,276,277,277,278,280,280,278,280,280
23,Minnesota,287,291,290,292,294,295,295,294,294,291
24,Mississippi,254,261,262,265,265,269,271,271,271,274
25,Missouri,271,279,276,281,286,282,283,281,281,281
26,Montana,285,286,286,287,292,293,289,287,286,284
27,Nebraska,280,282,284,284,284,283,285,286,288,285
28,Nevada,265,268,270,271,274,278,278,275,275,274
29,New Hampshire,271,286,285,288,292,292,296,294,293,287
30,New Jersey,271,281,284,289,293,294,296,293,292,292
31,New Mexico,259,263,263,268,270,274,273,271,269,269
32,New York,271,280,280,280,283,280,282,280,282,280
33,North Carolina,276,281,282,284,284,286,286,281,282,284
34,North Dakota,282,287,287,292,293,292,291,288,288,286
35,Ohio,281,282,283,285,286,289,290,285,288,286
36,Oklahoma,270,272,271,275,276,279,276,275,275,276
37,Oregon,280,281,282,284,285,283,284,283,282,280
38,Pennsylvania,271,279,281,286,288,286,290,284,286,285
39,Rhode Island,269,272,272,275,278,283,284,281,277,276
40,South Carolina,265,277,281,282,280,281,280,276,275,276
41,South Dakota,271,285,287,288,291,291,287,285,286,287
42,Tennessee,262,268,271,274,275,274,278,278,279,280
43,Texas,273,277,281,286,287,290,288,284,282,280
44,Utah,274,281,279,281,284,283,284,286,287,285
45,Vermont,281,286,287,291,293,294,295,290,288,287
46,Virginia,275,282,284,288,286,289,288,288,290,287
47,Washington,271,281,285,285,289,288,290,287,289,286
48,West Virginia,266,271,269,270,270,273,274,271,273,272
49,Wisconsin,271,284,285,286,288,289,289,289,288,289
50,Wyoming,276,284,282,287,286,288,288,287,289,286

In [20]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
4574  2020-05-24       Virginia    51  36244    1171
4575  2020-05-24     Washington    53  20732    1069
4576  2020-05-24  West Virginia    54   1771      72
4577  2020-05-24      Wisconsin    55  15362     510
4578  2020-05-24        Wyoming    56    813      12

[4579 rows x 5 columns]

In [21]:
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases

                       state  fips     cases   deaths
0                    Alabama    73    387786    14345
1                     Alaska   148     18316      367
2                    Arizona   480    426614    18857
3                   Arkansas   375    161569     3301
4                 California   726   2664110   102387
5                   Colorado   648    766512    37828
6                Connecticut   702   1314995   104185
7                   Delaware   750    234327     7813
8       District of Columbia   869    229466    10822
9                    Florida  1020   1726811    63147
10                   Georgia  1092   1282091    54209
11                      Guam  4686     48340      311
12                    Hawaii  1200     31433      681
13                     Idaho  1168    103987     2828
14                  Illinois  2074   2843621   122000
15                   Indiana  1440    920434    53042
16                      Iowa  1482    396980     9203
17                    Kansas  1580    231885     6527
18                  Kentucky  1680    246480    11851
19                 Louisiana  1694   1443404    90609
20                     Maine  1702     61284     2451
21                  Maryland  1944   1173802    56126
22             Massachusetts  2850   2929874   167711
23                  Michigan  1976   2023047   171867
24                 Minnesota  2160    377850    18934
25               Mississippi  2100    358459    15047
26                  Missouri  2291    395952    17924
27                   Montana  2190     23875      676
28                  Nebraska  3038    259429     3535
29                    Nevada  2592    259808    11975
30             New Hampshire  2772    117245     4507
31                New Jersey  2788   5645458   332869
32                New Mexico  2625    177827     6867
33                  New York  3060  15041806  1081194
34            North Carolina  3071    568719    19258
35              North Dakota  2850     55932     1219
36  Northern Mariana Islands  4002       798      102
37                      Ohio  3003    908834    47879
38                  Oklahoma  3200    187462    10394
39                    Oregon  3567    134979     5067
40              Pennsylvania  3360   2320771   127278
41               Puerto Rico  5256     86159     4199
42              Rhode Island  3740    401931    14251
43            South Carolina  3600    313173    11859
44              South Dakota  3496    122292     1121
45                 Tennessee  3807    583792    10198
46                     Texas  4944   1553075    41267
47                      Utah  4410    245859     2472
48                   Vermont  3950     45230     2320
49            Virgin Islands  5616      3373      180
50                  Virginia  4029    866807    28754
51                Washington  6625    807848    42371
52             West Virginia  3726     56158     1950
53                 Wisconsin  6050    393823    15587
54                   Wyoming  4200     28407      281

In [22]:
COVIDCases.state

0                      Alabama
1                       Alaska
2                      Arizona
3                     Arkansas
4                   California
5                     Colorado
6                  Connecticut
7                     Delaware
8         District of Columbia
9                      Florida
10                     Georgia
11                        Guam
12                      Hawaii
13                       Idaho
14                    Illinois
15                     Indiana
16                        Iowa
17                      Kansas
18                    Kentucky
19                   Louisiana
20                       Maine
21                    Maryland
22               Massachusetts
23                    Michigan
24                   Minnesota
25                 Mississippi
26                    Missouri
27                     Montana
28                    Nebraska
29                      Nevada
30               New Hampshire
31                  New Jersey
32                  New Mexico
33                    New York
34              North Carolina
35                North Dakota
36    Northern Mariana Islands
37                        Ohio
38                    Oklahoma
39                      Oregon
40                Pennsylvania
41                 Puerto Rico
42                Rhode Island
43              South Carolina
44                South Dakota
45                   Tennessee
46                       Texas
47                        Utah
48                     Vermont
49              Virgin Islands
50                    Virginia
51                  Washington
52               West Virginia
53                   Wisconsin
54                     Wyoming
Name: state, dtype: object

In [23]:
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [24]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [25]:
COVID8math = pd.merge(COVIDCases, eightmath, how = 'left', on = 'State')
COVID8math

,State,fips,cases,deaths,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,73,387786,14345,264,262,262,266,269,269,269,267,268,269
1,Alaska,148,18316,367,271,279,279,283,283,283,282,280,277,274
2,Arizona,480,426614,18857,269,271,274,276,277,279,280,283,282,280
3,Arkansas,375,161569,3301,257,266,272,274,276,279,278,275,274,274
4,California,726,2664110,102387,260,267,269,270,270,273,276,275,277,276
5,Colorado,648,766512,37828,271,283,281,286,287,292,290,286,286,285
6,Connecticut,702,1314995,104185,281,284,281,282,289,287,285,284,284,286
7,Delaware,750,234327,7813,271,277,281,283,284,283,282,280,278,277
8,District of Columbia,869,229466,10822,235,243,245,248,254,260,265,263,266,269
9,Florida,1020,1726811,63147,271,271,274,277,279,278,281,275,279,279
10,Georgia,1092,1282091,54209,265,270,272,275,278,278,279,279,281,279
11,Hawaii,1200,31433,681,262,266,266,269,274,278,281,279,277,275
12,Idaho,1168,103987,2828,277,280,281,284,287,287,286,284,284,286
13,Illinois,2074,2843621,122000,275,277,278,280,282,283,285,282,282,283
14,Indiana,1440,920434,53042,281,281,282,285,287,285,288,287,288,286
15,Iowa,1482,396980,9203,271,284,284,285,284,285,285,286,286,282
16,Kansas,1580,231885,6527,283,284,284,290,289,290,290,284,285,282
17,Kentucky,1680,246480,11851,270,274,274,279,279,282,281,278,278,278
18,Louisiana,1694,1443404,90609,259,266,268,272,272,273,273,268,267,272
19,Maine,1702,61284,2451,281,282,281,286,286,289,289,285,284,282
20,Maryland,1944,1173802,56126,272,278,278,286,288,288,287,283,281,280
21,Massachusetts,2850,2929874,167711,279,287,292,298,299,299,301,297,297,294
22,Michigan,1976,2023047,171867,277,276,277,277,278,280,280,278,280,280
23,Minnesota,2160,377850,18934,287,291,290,292,294,295,295,294,294,291
24,Mississippi,2100,358459,15047,254,261,262,265,265,269,271,271,271,274
25,Missouri,2291,395952,17924,271,279,276,281,286,282,283,281,281,281
26,Montana,2190,23875,676,285,286,286,287,292,293,289,287,286,284
27,Nebraska,3038,259429,3535,280,282,284,284,284,283,285,286,288,285
28,Nevada,2592,259808,11975,265,268,270,271,274,278,278,275,275,274
29,New Hampshire,2772,117245,4507,271,286,285,288,292,292,296,294,293,287
30,New Jersey,2788,5645458,332869,271,281,284,289,293,294,296,293,292,292
31,New Mexico,2625,177827,6867,259,263,263,268,270,274,273,271,269,269
32,New York,3060,15041806,1081194,271,280,280,280,283,280,282,280,282,280
33,North Carolina,3071,568719,19258,276,281,282,284,284,286,286,281,282,284
34,North Dakota,2850,55932,1219,282,287,287,292,293,292,291,288,288,286
35,Ohio,3003,908834,47879,281,282,283,285,286,289,290,285,288,286
36,Oklahoma,3200,187462,10394,270,272,271,275,276,279,276,275,275,276
37,Oregon,3567,134979,5067,280,281,282,284,285,283,284,283,282,280
38,Pennsylvania,3360,2320771,127278,271,279,281,286,288,286,290,284,286,285
39,Rhode Island,3740,401931,14251,269,272,272,275,278,283,284,281,277,276
40,South Carolina,3600,313173,11859,265,277,281,282,280,281,280,276,275,276
41,South Dakota,3496,122292,1121,271,285,287,288,291,291,287,285,286,287
42,Tennessee,3807,583792,10198,262,268,271,274,275,274,278,278,279,280
43,Texas,4944,1553075,41267,273,277,281,286,287,290,288,284,282,280
44,Utah,4410,245859,2472,274,281,279,281,284,283,284,286,287,285
45,Vermont,3950,45230,2320,281,286,287,291,293,294,295,290,288,287
46,Virginia,4029,866807,28754,275,282,284,288,286,289,288,288,290,287
47,Washington,6625,807848,42371,271,281,285,285,289,288,290,287,289,286
48,West Virginia,3726,56158,1950,266,271,269,270,270,273,274,271,273,272
49,Wisconsin,6050,393823,15587,271,284,285,286,288,289,289,289,288,289
50,Wyoming,4200,28407,281,276,284,282,287,286,288,288,287,289,286

In [26]:
COVID8math.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   fips           51 non-null     int64
 2   cases          51 non-null     int64
 3   deaths         51 non-null     int64
 4   8th 2000 Math  51 non-null     int32
 5   8th 2003 Math  51 non-null     int32
 6   8th 2005 Math  51 non-null     int32
 7   8th 2007 Math  51 non-null     int32
 8   8th 2009 Math  51 non-null     int32
 9   8th 2011 Math  51 non-null     int32
 10  8th 2013 Math  51 non-null     int32
 11  8th 2015 Math  51 non-null     int32
 12  8th 2017 Math  51 non-null     int32
 13  8th 2019 Math  51 non-null     int32
dtypes: int32(10), int64(3), object(1)
memory usage: 4.0+ KB

In [27]:
COVID8math = COVID8math.drop(['fips'], axis = 1)
COVID8math

,State,cases,deaths,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,387786,14345,264,262,262,266,269,269,269,267,268,269
1,Alaska,18316,367,271,279,279,283,283,283,282,280,277,274
2,Arizona,426614,18857,269,271,274,276,277,279,280,283,282,280
3,Arkansas,161569,3301,257,266,272,274,276,279,278,275,274,274
4,California,2664110,102387,260,267,269,270,270,273,276,275,277,276
5,Colorado,766512,37828,271,283,281,286,287,292,290,286,286,285
6,Connecticut,1314995,104185,281,284,281,282,289,287,285,284,284,286
7,Delaware,234327,7813,271,277,281,283,284,283,282,280,278,277
8,District of Columbia,229466,10822,235,243,245,248,254,260,265,263,266,269
9,Florida,1726811,63147,271,271,274,277,279,278,281,275,279,279
10,Georgia,1282091,54209,265,270,272,275,278,278,279,279,281,279
11,Hawaii,31433,681,262,266,266,269,274,278,281,279,277,275
12,Idaho,103987,2828,277,280,281,284,287,287,286,284,284,286
13,Illinois,2843621,122000,275,277,278,280,282,283,285,282,282,283
14,Indiana,920434,53042,281,281,282,285,287,285,288,287,288,286
15,Iowa,396980,9203,271,284,284,285,284,285,285,286,286,282
16,Kansas,231885,6527,283,284,284,290,289,290,290,284,285,282
17,Kentucky,246480,11851,270,274,274,279,279,282,281,278,278,278
18,Louisiana,1443404,90609,259,266,268,272,272,273,273,268,267,272
19,Maine,61284,2451,281,282,281,286,286,289,289,285,284,282
20,Maryland,1173802,56126,272,278,278,286,288,288,287,283,281,280
21,Massachusetts,2929874,167711,279,287,292,298,299,299,301,297,297,294
22,Michigan,2023047,171867,277,276,277,277,278,280,280,278,280,280
23,Minnesota,377850,18934,287,291,290,292,294,295,295,294,294,291
24,Mississippi,358459,15047,254,261,262,265,265,269,271,271,271,274
25,Missouri,395952,17924,271,279,276,281,286,282,283,281,281,281
26,Montana,23875,676,285,286,286,287,292,293,289,287,286,284
27,Nebraska,259429,3535,280,282,284,284,284,283,285,286,288,285
28,Nevada,259808,11975,265,268,270,271,274,278,278,275,275,274
29,New Hampshire,117245,4507,271,286,285,288,292,292,296,294,293,287
30,New Jersey,5645458,332869,271,281,284,289,293,294,296,293,292,292
31,New Mexico,177827,6867,259,263,263,268,270,274,273,271,269,269
32,New York,15041806,1081194,271,280,280,280,283,280,282,280,282,280
33,North Carolina,568719,19258,276,281,282,284,284,286,286,281,282,284
34,North Dakota,55932,1219,282,287,287,292,293,292,291,288,288,286
35,Ohio,908834,47879,281,282,283,285,286,289,290,285,288,286
36,Oklahoma,187462,10394,270,272,271,275,276,279,276,275,275,276
37,Oregon,134979,5067,280,281,282,284,285,283,284,283,282,280
38,Pennsylvania,2320771,127278,271,279,281,286,288,286,290,284,286,285
39,Rhode Island,401931,14251,269,272,272,275,278,283,284,281,277,276
40,South Carolina,313173,11859,265,277,281,282,280,281,280,276,275,276
41,South Dakota,122292,1121,271,285,287,288,291,291,287,285,286,287
42,Tennessee,583792,10198,262,268,271,274,275,274,278,278,279,280
43,Texas,1553075,41267,273,277,281,286,287,290,288,284,282,280
44,Utah,245859,2472,274,281,279,281,284,283,284,286,287,285
45,Vermont,45230,2320,281,286,287,291,293,294,295,290,288,287
46,Virginia,866807,28754,275,282,284,288,286,289,288,288,290,287
47,Washington,807848,42371,271,281,285,285,289,288,290,287,289,286
48,West Virginia,56158,1950,266,271,269,270,270,273,274,271,273,272
49,Wisconsin,393823,15587,271,284,285,286,288,289,289,289,288,289
50,Wyoming,28407,281,276,284,282,287,286,288,288,287,289,286

In [29]:
COVID8math = COVID8math.drop(['fips','8th 2000 Math','8th 2003 Math','8th 2005 Math','8th 2007 Math','8th 2011 Math','8th 2013 Math'], axis = 1)
COVID8math

,State,cases,deaths,8th 2009 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,387786,14345,269,267,268,269
1,Alaska,18316,367,283,280,277,274
2,Arizona,426614,18857,277,283,282,280
3,Arkansas,161569,3301,276,275,274,274
4,California,2664110,102387,270,275,277,276
5,Colorado,766512,37828,287,286,286,285
6,Connecticut,1314995,104185,289,284,284,286
7,Delaware,234327,7813,284,280,278,277
8,District of Columbia,229466,10822,254,263,266,269
9,Florida,1726811,63147,279,275,279,279
10,Georgia,1282091,54209,278,279,281,279
11,Hawaii,31433,681,274,279,277,275
12,Idaho,103987,2828,287,284,284,286
13,Illinois,2843621,122000,282,282,282,283
14,Indiana,920434,53042,287,287,288,286
15,Iowa,396980,9203,284,286,286,282
16,Kansas,231885,6527,289,284,285,282
17,Kentucky,246480,11851,279,278,278,278
18,Louisiana,1443404,90609,272,268,267,272
19,Maine,61284,2451,286,285,284,282
20,Maryland,1173802,56126,288,283,281,280
21,Massachusetts,2929874,167711,299,297,297,294
22,Michigan,2023047,171867,278,278,280,280
23,Minnesota,377850,18934,294,294,294,291
24,Mississippi,358459,15047,265,271,271,274
25,Missouri,395952,17924,286,281,281,281
26,Montana,23875,676,292,287,286,284
27,Nebraska,259429,3535,284,286,288,285
28,Nevada,259808,11975,274,275,275,274
29,New Hampshire,117245,4507,292,294,293,287
30,New Jersey,5645458,332869,293,293,292,292
31,New Mexico,177827,6867,270,271,269,269
32,New York,15041806,1081194,283,280,282,280
33,North Carolina,568719,19258,284,281,282,284
34,North Dakota,55932,1219,293,288,288,286
35,Ohio,908834,47879,286,285,288,286
36,Oklahoma,187462,10394,276,275,275,276
37,Oregon,134979,5067,285,283,282,280
38,Pennsylvania,2320771,127278,288,284,286,285
39,Rhode Island,401931,14251,278,281,277,276
40,South Carolina,313173,11859,280,276,275,276
41,South Dakota,122292,1121,291,285,286,287
42,Tennessee,583792,10198,275,278,279,280
43,Texas,1553075,41267,287,284,282,280
44,Utah,245859,2472,284,286,287,285
45,Vermont,45230,2320,293,290,288,287
46,Virginia,866807,28754,286,288,290,287
47,Washington,807848,42371,289,287,289,286
48,West Virginia,56158,1950,270,271,273,272
49,Wisconsin,393823,15587,288,289,288,289
50,Wyoming,28407,281,286,287,289,286