In [4]:
import pandas as pd
import numpy as np

In [5]:
PSchExpPupil = pd.read_excel('public-school-per-pupil-expenditures.xlsx')
PSchExpPupil

,Table S-11,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,Expenditures per Pupil for Elementary and Seco...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Public school expenditures ($thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,1993,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,...,2007.000000,2008.000000,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000
3,United States,222992392,233291720.0,245703310.0,257168777.0,272313329.0,287860809.0,305130470.0,326202323.0,350643209.0,...,9629.857664,10249.061669,10502.691668,10600.619208,10625.427027,10616.755023,10744.334348,11035.741396,11407.774080,11790.812805
4,Alabama,2610514,2809713.0,3026287.0,3240364.0,3436406.0,3633159.0,3880188.0,4176082.0,4354794.0,...,8398.012727,9196.748232,8963.564214,8907.217224,8725.971210,8576.869307,8772.540177,9036.173754,9146.460995,9257.567670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,NOTES: The national total for public school ex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"Last updated: April 29, 2020",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
PSchExpPupil = PSchExpPupil.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 
                'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 
                'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
               'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
                        'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
                        'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
                        'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
                        'Unnamed: 47', 'Unnamed: 48','Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
                        'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59',
                        'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
                        'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71',
                        'Unnamed: 72', 'Unnamed: 73'], axis = 1)

PSchExpPupil.head()

,Table S-11,Unnamed: 24,Unnamed: 49,Unnamed: 74
0,Expenditures per Pupil for Elementary and Seco...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,State,2016.0,2016.0,2016.000000
3,United States,599710063.0,50862487.0,11790.812805
4,Alabama,6885677.0,743789.0,9257.567670

In [7]:
PSchExpPupil = PSchExpPupil.rename(columns = {'Table S-11':'State',
                                   'Unnamed: 24': 'Public School Expenditure 2016(Thousands)',
                                   'Unnamed: 49': 'Student Enrollment',
                                   'Unnamed: 74': 'School Expenditures per Student Enrollment(Percent)'})
PSchExpPupil

,State,Public School Expenditure 2016(Thousands),Student Enrollment,School Expenditures per Student Enrollment(Percent)
0,Expenditures per Pupil for Elementary and Seco...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,State,2016.0,2016.0,2016.000000
3,United States,599710063.0,50862487.0,11790.812805
4,Alabama,6885677.0,743789.0,9257.567670
...,...,...,...,...
58,NOTES: The national total for public school ex...,NaN,NaN,NaN
59,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN
60,Recommended Citation: National Science Board. ...,NaN,NaN,NaN
61,"Last updated: April 29, 2020",NaN,NaN,NaN
62,Science and Engineering Indicators,NaN,NaN,NaN

In [8]:
PSchExpPupil.tail(10)

,State,Public School Expenditure 2016(Thousands),Student Enrollment,School Expenditures per Student Enrollment(Percent)
53,Wisconsin,10122041.0,867800.0,11664.025121
54,Wyoming,1556321.0,94717.0,16431.274217
55,NaN,NaN,NaN,NaN
56,Puerto Rico,2970386.0,379818.0,7820.550895
57,NaN,NaN,NaN,NaN
58,NOTES: The national total for public school ex...,NaN,NaN,NaN
59,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN
60,Recommended Citation: National Science Board. ...,NaN,NaN,NaN
61,"Last updated: April 29, 2020",NaN,NaN,NaN
62,Science and Engineering Indicators,NaN,NaN,NaN

In [9]:
PSchExpPupil.drop(range(0, 4), inplace = True)
PSchExpPupil.drop(range(55,63), inplace = True)
PSchExpPupil = PSchExpPupil.reset_index(drop = True)
PSchExpPupil

,State,Public School Expenditure 2016(Thousands),Student Enrollment,School Expenditures per Student Enrollment(Percent)
0,Alabama,6885677.0,743789.0,9257.567670
1,Alaska,2319662.0,132477.0,17509.922477
2,Arizona,8551673.0,1109040.0,7710.878778
3,Arkansas,4872214.0,492132.0,9900.217828
4,California,72003129.0,6305347.0,11419.376126
5,Colorado,8648369.0,899112.0,9618.789428
6,Connecticut,10551327.0,537933.0,19614.574678
7,Delaware,1941408.0,134847.0,14397.116732
8,District of Columbia,1775833.0,84024.0,21134.830525
9,Florida,25621239.0,2792234.0,9175.892493
10,Georgia,17283295.0,1757237.0,9835.494586
11,Hawaii,2502117.0,181995.0,13748.273304
12,Idaho,2097992.0,292277.0,7178.094753
13,Illinois,29253457.0,2041779.0,14327.435535
14,Indiana,10144064.0,1046757.0,9690.944508
15,Iowa,5663444.0,508014.0,11148.204577
16,Kansas,5065968.0,495884.0,10216.034395
17,Kentucky,6750052.0,686598.0,9831.155931
18,Louisiana,8027058.0,718711.0,11168.686718
19,Maine,2579299.0,181613.0,14202.171651
20,Maryland,12774063.0,879601.0,14522.565345
21,Massachusetts,16374676.0,964026.0,16985.720302
22,Michigan,16977163.0,1536231.0,11051.178501
23,Minnesota,10687048.0,864384.0,12363.773508
24,Mississippi,4234977.0,487200.0,8692.481527
25,Missouri,9545816.0,919234.0,10384.533209
26,Montana,1652848.0,145319.0,11373.929080
27,Nebraska,3911805.0,316014.0,12378.581329
28,Nevada,4092457.0,467527.0,8753.413172
29,New Hampshire,2833893.0,182425.0,15534.564890
30,New Jersey,26825114.0,1408845.0,19040.500552
31,New Mexico,3343152.0,335694.0,9958.926880
32,New York,59161439.0,2711626.0,21817.698680
33,North Carolina,13466942.0,1544934.0,8716.839684
34,North Dakota,1451309.0,108644.0,13358.390707
35,Ohio,20484182.0,1716585.0,11933.100895
36,Oklahoma,5606044.0,692878.0,8090.953963
37,Oregon,6238574.0,608825.0,10246.908389
38,Pennsylvania,26045127.0,1717414.0,15165.316575
39,Rhode Island,2283927.0,142014.0,16082.407368
40,South Carolina,7669725.0,763533.0,10045.047169
41,South Dakota,1253268.0,134253.0,9335.121003
42,Tennessee,8886994.0,1001235.0,8876.032100
43,Texas,49577688.0,5301477.0,9351.674637
44,Utah,4539291.0,647870.0,7006.484326
45,Vermont,1671433.0,87866.0,19022.522933
46,Virginia,14677698.0,1283590.0,11434.880297
47,Washington,12483668.0,1087030.0,11484.198228
48,West Virginia,3169684.0,277452.0,11424.260773
49,Wisconsin,10122041.0,867800.0,11664.025121
50,Wyoming,1556321.0,94717.0,16431.274217

In [10]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [11]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [12]:
COVIDPSchExpPupil = pd.merge(COVIDCases, PSchExpPupil, how = 'left', on = 'State')
COVIDPSchExpPupil

,State,fips,cases,deaths,Public School Expenditure 2016(Thousands),Student Enrollment,School Expenditures per Student Enrollment(Percent)
0,Alabama,73,387786,14345,6885677.0,743789.0,9257.567670
1,Alaska,148,18316,367,2319662.0,132477.0,17509.922477
2,Arizona,480,426614,18857,8551673.0,1109040.0,7710.878778
3,Arkansas,375,161569,3301,4872214.0,492132.0,9900.217828
4,California,726,2664110,102387,72003129.0,6305347.0,11419.376126
5,Colorado,648,766512,37828,8648369.0,899112.0,9618.789428
6,Connecticut,702,1314995,104185,10551327.0,537933.0,19614.574678
7,Delaware,750,234327,7813,1941408.0,134847.0,14397.116732
8,District of Columbia,869,229466,10822,1775833.0,84024.0,21134.830525
9,Florida,1020,1726811,63147,25621239.0,2792234.0,9175.892493
10,Georgia,1092,1282091,54209,17283295.0,1757237.0,9835.494586
11,Hawaii,1200,31433,681,2502117.0,181995.0,13748.273304
12,Idaho,1168,103987,2828,2097992.0,292277.0,7178.094753
13,Illinois,2074,2843621,122000,29253457.0,2041779.0,14327.435535
14,Indiana,1440,920434,53042,10144064.0,1046757.0,9690.944508
15,Iowa,1482,396980,9203,5663444.0,508014.0,11148.204577
16,Kansas,1580,231885,6527,5065968.0,495884.0,10216.034395
17,Kentucky,1680,246480,11851,6750052.0,686598.0,9831.155931
18,Louisiana,1694,1443404,90609,8027058.0,718711.0,11168.686718
19,Maine,1702,61284,2451,2579299.0,181613.0,14202.171651
20,Maryland,1944,1173802,56126,12774063.0,879601.0,14522.565345
21,Massachusetts,2850,2929874,167711,16374676.0,964026.0,16985.720302
22,Michigan,1976,2023047,171867,16977163.0,1536231.0,11051.178501
23,Minnesota,2160,377850,18934,10687048.0,864384.0,12363.773508
24,Mississippi,2100,358459,15047,4234977.0,487200.0,8692.481527
25,Missouri,2291,395952,17924,9545816.0,919234.0,10384.533209
26,Montana,2190,23875,676,1652848.0,145319.0,11373.929080
27,Nebraska,3038,259429,3535,3911805.0,316014.0,12378.581329
28,Nevada,2592,259808,11975,4092457.0,467527.0,8753.413172
29,New Hampshire,2772,117245,4507,2833893.0,182425.0,15534.564890
30,New Jersey,2788,5645458,332869,26825114.0,1408845.0,19040.500552
31,New Mexico,2625,177827,6867,3343152.0,335694.0,9958.926880
32,New York,3060,15041806,1081194,59161439.0,2711626.0,21817.698680
33,North Carolina,3071,568719,19258,13466942.0,1544934.0,8716.839684
34,North Dakota,2850,55932,1219,1451309.0,108644.0,13358.390707
35,Ohio,3003,908834,47879,20484182.0,1716585.0,11933.100895
36,Oklahoma,3200,187462,10394,5606044.0,692878.0,8090.953963
37,Oregon,3567,134979,5067,6238574.0,608825.0,10246.908389
38,Pennsylvania,3360,2320771,127278,26045127.0,1717414.0,15165.316575
39,Rhode Island,3740,401931,14251,2283927.0,142014.0,16082.407368
40,South Carolina,3600,313173,11859,7669725.0,763533.0,10045.047169
41,South Dakota,3496,122292,1121,1253268.0,134253.0,9335.121003
42,Tennessee,3807,583792,10198,8886994.0,1001235.0,8876.032100
43,Texas,4944,1553075,41267,49577688.0,5301477.0,9351.674637
44,Utah,4410,245859,2472,4539291.0,647870.0,7006.484326
45,Vermont,3950,45230,2320,1671433.0,87866.0,19022.522933
46,Virginia,4029,866807,28754,14677698.0,1283590.0,11434.880297
47,Washington,6625,807848,42371,12483668.0,1087030.0,11484.198228
48,West Virginia,3726,56158,1950,3169684.0,277452.0,11424.260773
49,Wisconsin,6050,393823,15587,10122041.0,867800.0,11664.025121
50,Wyoming,4200,28407,281,1556321.0,94717.0,16431.274217

In [13]:
COVIDPSchExpPupil = COVIDPSchExpPupil.drop(['fips'], axis = 1)
COVIDPSchExpPupil

,State,cases,deaths,Public School Expenditure 2016(Thousands),Student Enrollment,School Expenditures per Student Enrollment(Percent)
0,Alabama,387786,14345,6885677.0,743789.0,9257.567670
1,Alaska,18316,367,2319662.0,132477.0,17509.922477
2,Arizona,426614,18857,8551673.0,1109040.0,7710.878778
3,Arkansas,161569,3301,4872214.0,492132.0,9900.217828
4,California,2664110,102387,72003129.0,6305347.0,11419.376126
5,Colorado,766512,37828,8648369.0,899112.0,9618.789428
6,Connecticut,1314995,104185,10551327.0,537933.0,19614.574678
7,Delaware,234327,7813,1941408.0,134847.0,14397.116732
8,District of Columbia,229466,10822,1775833.0,84024.0,21134.830525
9,Florida,1726811,63147,25621239.0,2792234.0,9175.892493
10,Georgia,1282091,54209,17283295.0,1757237.0,9835.494586
11,Hawaii,31433,681,2502117.0,181995.0,13748.273304
12,Idaho,103987,2828,2097992.0,292277.0,7178.094753
13,Illinois,2843621,122000,29253457.0,2041779.0,14327.435535
14,Indiana,920434,53042,10144064.0,1046757.0,9690.944508
15,Iowa,396980,9203,5663444.0,508014.0,11148.204577
16,Kansas,231885,6527,5065968.0,495884.0,10216.034395
17,Kentucky,246480,11851,6750052.0,686598.0,9831.155931
18,Louisiana,1443404,90609,8027058.0,718711.0,11168.686718
19,Maine,61284,2451,2579299.0,181613.0,14202.171651
20,Maryland,1173802,56126,12774063.0,879601.0,14522.565345
21,Massachusetts,2929874,167711,16374676.0,964026.0,16985.720302
22,Michigan,2023047,171867,16977163.0,1536231.0,11051.178501
23,Minnesota,377850,18934,10687048.0,864384.0,12363.773508
24,Mississippi,358459,15047,4234977.0,487200.0,8692.481527
25,Missouri,395952,17924,9545816.0,919234.0,10384.533209
26,Montana,23875,676,1652848.0,145319.0,11373.929080
27,Nebraska,259429,3535,3911805.0,316014.0,12378.581329
28,Nevada,259808,11975,4092457.0,467527.0,8753.413172
29,New Hampshire,117245,4507,2833893.0,182425.0,15534.564890
30,New Jersey,5645458,332869,26825114.0,1408845.0,19040.500552
31,New Mexico,177827,6867,3343152.0,335694.0,9958.926880
32,New York,15041806,1081194,59161439.0,2711626.0,21817.698680
33,North Carolina,568719,19258,13466942.0,1544934.0,8716.839684
34,North Dakota,55932,1219,1451309.0,108644.0,13358.390707
35,Ohio,908834,47879,20484182.0,1716585.0,11933.100895
36,Oklahoma,187462,10394,5606044.0,692878.0,8090.953963
37,Oregon,134979,5067,6238574.0,608825.0,10246.908389
38,Pennsylvania,2320771,127278,26045127.0,1717414.0,15165.316575
39,Rhode Island,401931,14251,2283927.0,142014.0,16082.407368
40,South Carolina,313173,11859,7669725.0,763533.0,10045.047169
41,South Dakota,122292,1121,1253268.0,134253.0,9335.121003
42,Tennessee,583792,10198,8886994.0,1001235.0,8876.032100
43,Texas,1553075,41267,49577688.0,5301477.0,9351.674637
44,Utah,245859,2472,4539291.0,647870.0,7006.484326
45,Vermont,45230,2320,1671433.0,87866.0,19022.522933
46,Virginia,866807,28754,14677698.0,1283590.0,11434.880297
47,Washington,807848,42371,12483668.0,1087030.0,11484.198228
48,West Virginia,56158,1950,3169684.0,277452.0,11424.260773
49,Wisconsin,393823,15587,10122041.0,867800.0,11664.025121
50,Wyoming,28407,281,1556321.0,94717.0,16431.274217

In [14]:
COVIDPSchExpPupil.to_csv('COVID_PSchExpPupil.csv')