In [18]:
import pandas as pd
import numpy as np
from functools import reduce

In [19]:
Tab21 = pd.read_excel('Residence_all_tables.xlsx', 'Table 21 Population')
Tab24 = pd.read_excel('Residence_all_tables.xlsx', 'Table 24 Medicare Enrollment')
Tab27 = pd.read_excel('Residence_all_tables.xlsx', 'Table 27 Medicaid Enrollment')
Tab30 = pd.read_excel('Residence_all_tables.xlsx', 'Table 30 Private Enrollment')

In [20]:
Tab21 = Tab21.rename(columns = {'Table 21: US Population Estimates by State - 1991 - 2014 (in Thousands)':'State',
                             'Unnamed: 24':'Population Per State (2014)'})
Tab21 = Tab21[['State', 'Population Per State (2014)']]
Tab21.head()

                       State  Population Per State (2014)
0  Region/state of residence                       2014.0
1              United States                     318563.0
2                New England                      14683.0
3                Connecticut                       3592.0
4                      Maine                       1331.0

In [21]:
Tab24 = Tab24.rename(columns = {'Table 24: Medicare Enrollment- 1991-2014 (in Thousands)':'State',
                             'Unnamed: 24':'Medicare Enrollment Per State (2014)'})
Tab24 = Tab24[['State', 'Medicare Enrollment Per State (2014)']]
Tab24.head()

                       State  Medicare Enrollment Per State (2014)
0  Region/state of residence                                2014.0
1              United States                               52846.0
2                New England                                2694.0
3                Connecticut                                 619.0
4                      Maine                                 299.0

In [22]:
Tab27 = Tab27.rename(columns = {'Table 27: Medicaid Enrollment, 1991-2014 (in Thousands)':'State',
                             'Unnamed: 24':'Medicaid Enrollment Per State (2014)'})
Tab27 = Tab27[['State', 'Medicaid Enrollment Per State (2014)']]
Tab27.head()

                       State  Medicaid Enrollment Per State (2014)
0  Region/state of residence                                2014.0
1              United States                               65548.0
2                New England                                3252.0
3                Connecticut                                 868.0
4                      Maine                                 315.0

In [23]:
Tab30 = Tab30.rename(columns = {'Table 30: Private Health Insurance Enrollment -  2001-2014  (in Thousands)':'State',
                             'Unnamed: 14':'Private Enrollment Per State (2014)'})
Tab30 = Tab30[['State', 'Private Enrollment Per State (2014)']]
Tab30.head()

                       State  Private Enrollment Per State (2014)
0  Region/state of residence                               2014.0
1              United States                             192318.0
2                New England                               9582.0
3                Connecticut                               2298.0
4                      Maine                                827.0

In [24]:
HealthInsDF = [Tab21, Tab24, Tab27, Tab30]
HealthInsFinal = reduce(lambda left, right: pd.merge(left, right, on = 'State', how = 'outer'), HealthInsDF)
HealthInsFinal.head()

,State,Population Per State (2014),Medicare Enrollment Per State (2014),Medicaid Enrollment Per State (2014),Private Enrollment Per State (2014)
0,Region/state of residence,2014.0,2014.0,2014.0,2014.0
1,United States,318563.0,52846.0,65548.0,192318.0
2,New England,14683.0,2694.0,3252.0,9582.0
3,Connecticut,3592.0,619.0,868.0,2298.0
4,Maine,1331.0,299.0,315.0,827.0

In [25]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [26]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [27]:
COVIDHealthIns = pd.merge(COVIDCases, HealthInsFinal, how = 'left', on = 'State')
COVIDHealthIns

,State,fips,cases,deaths,Population Per State (2014),Medicare Enrollment Per State (2014),Medicaid Enrollment Per State (2014),Private Enrollment Per State (2014)
0,Alabama,73,387786,14345,4843.0,947.0,988.0,3042.0
1,Alaska,148,18316,367,737.0,80.0,113.0,418.0
2,Arizona,480,426614,18857,6720.0,1096.0,1388.0,3735.0
3,Arkansas,375,161569,3301,2967.0,584.0,812.0,1590.0
4,California,726,2664110,102387,38681.0,5476.0,11505.0,21970.0
5,Colorado,648,766512,37828,5350.0,755.0,845.0,3388.0
6,Connecticut,702,1314995,104185,3592.0,619.0,868.0,2298.0
7,Delaware,750,234327,7813,935.0,175.0,218.0,610.0
8,District of Columbia,869,229466,10822,659.0,87.0,242.0,418.0
9,Florida,1020,1726811,63147,19889.0,3900.0,3534.0,10543.0
10,Georgia,1092,1282091,54209,10087.0,1469.0,1685.0,5907.0
11,Hawaii,1200,31433,681,1416.0,237.0,291.0,856.0
12,Idaho,1168,103987,2828,1634.0,271.0,218.0,1075.0
13,Illinois,2074,2843621,122000,12868.0,2026.0,3105.0,8279.0
14,Indiana,1440,920434,53042,6595.0,1124.0,1070.0,4156.0
15,Iowa,1482,396980,9203,3108.0,561.0,606.0,2209.0
16,Kansas,1580,231885,6527,2899.0,477.0,352.0,1844.0
17,Kentucky,1680,246480,11851,4413.0,846.0,1058.0,2599.0
18,Louisiana,1694,1443404,90609,4648.0,772.0,1128.0,2497.0
19,Maine,1702,61284,2451,1331.0,299.0,315.0,827.0
20,Maryland,1944,1173802,56126,5967.0,905.0,1143.0,3983.0
21,Massachusetts,2850,2929874,167711,6750.0,1189.0,1542.0,4452.0
22,Michigan,1976,2023047,171867,9916.0,1853.0,2110.0,6566.0
23,Minnesota,2160,377850,18934,5453.0,888.0,1053.0,3787.0
24,Mississippi,2100,358459,15047,2992.0,549.0,683.0,1520.0
25,Missouri,2291,395952,17924,6061.0,1113.0,910.0,3795.0
26,Montana,2190,23875,676,1023.0,195.0,113.0,644.0
27,Nebraska,3038,259429,3535,1881.0,306.0,213.0,1286.0
28,Nevada,2592,259808,11975,2833.0,435.0,428.0,1694.0
29,New Hampshire,2772,117245,4507,1329.0,259.0,144.0,955.0
30,New Jersey,2788,5645458,332869,8925.0,1462.0,1483.0,5897.0
31,New Mexico,2625,177827,6867,2083.0,361.0,702.0,996.0
32,New York,3060,15041806,1081194,19719.0,3278.0,5286.0,11565.0
33,North Carolina,3071,568719,19258,9934.0,1719.0,1649.0,5868.0
34,North Dakota,2850,55932,1219,740.0,117.0,76.0,547.0
35,Ohio,3003,908834,47879,11594.0,2108.0,2559.0,7296.0
36,Oklahoma,3200,187462,10394,3877.0,665.0,735.0,2395.0
37,Oregon,3567,134979,5067,3968.0,728.0,964.0,2427.0
38,Pennsylvania,3360,2320771,127278,12791.0,2489.0,2150.0,8533.0
39,Rhode Island,3740,401931,14251,1054.0,200.0,207.0,654.0
40,South Carolina,3600,313173,11859,4828.0,910.0,922.0,2829.0
41,South Dakota,3496,122292,1121,853.0,152.0,108.0,569.0
42,Tennessee,3807,583792,10198,6545.0,1206.0,1348.0,3506.0
43,Texas,4944,1553075,41267,26945.0,3516.0,4136.0,14373.0
44,Utah,4410,245859,2472,2942.0,333.0,296.0,2262.0
45,Vermont,3950,45230,2320,627.0,128.0,176.0,396.0
46,Virginia,4029,866807,28754,8317.0,1311.0,928.0,5468.0
47,Washington,6625,807848,42371,7054.0,1146.0,1539.0,4468.0
48,West Virginia,3726,56158,1950,1849.0,411.0,495.0,1108.0
49,Wisconsin,6050,393823,15587,5758.0,1023.0,1039.0,3828.0
50,Wyoming,4200,28407,281,584.0,92.0,69.0,389.0

In [28]:
COVIDHealthIns = COVIDHealthIns.drop(['fips'], axis = 1)
COVIDHealthIns

,State,cases,deaths,Population Per State (2014),Medicare Enrollment Per State (2014),Medicaid Enrollment Per State (2014),Private Enrollment Per State (2014)
0,Alabama,387786,14345,4843.0,947.0,988.0,3042.0
1,Alaska,18316,367,737.0,80.0,113.0,418.0
2,Arizona,426614,18857,6720.0,1096.0,1388.0,3735.0
3,Arkansas,161569,3301,2967.0,584.0,812.0,1590.0
4,California,2664110,102387,38681.0,5476.0,11505.0,21970.0
5,Colorado,766512,37828,5350.0,755.0,845.0,3388.0
6,Connecticut,1314995,104185,3592.0,619.0,868.0,2298.0
7,Delaware,234327,7813,935.0,175.0,218.0,610.0
8,District of Columbia,229466,10822,659.0,87.0,242.0,418.0
9,Florida,1726811,63147,19889.0,3900.0,3534.0,10543.0
10,Georgia,1282091,54209,10087.0,1469.0,1685.0,5907.0
11,Hawaii,31433,681,1416.0,237.0,291.0,856.0
12,Idaho,103987,2828,1634.0,271.0,218.0,1075.0
13,Illinois,2843621,122000,12868.0,2026.0,3105.0,8279.0
14,Indiana,920434,53042,6595.0,1124.0,1070.0,4156.0
15,Iowa,396980,9203,3108.0,561.0,606.0,2209.0
16,Kansas,231885,6527,2899.0,477.0,352.0,1844.0
17,Kentucky,246480,11851,4413.0,846.0,1058.0,2599.0
18,Louisiana,1443404,90609,4648.0,772.0,1128.0,2497.0
19,Maine,61284,2451,1331.0,299.0,315.0,827.0
20,Maryland,1173802,56126,5967.0,905.0,1143.0,3983.0
21,Massachusetts,2929874,167711,6750.0,1189.0,1542.0,4452.0
22,Michigan,2023047,171867,9916.0,1853.0,2110.0,6566.0
23,Minnesota,377850,18934,5453.0,888.0,1053.0,3787.0
24,Mississippi,358459,15047,2992.0,549.0,683.0,1520.0
25,Missouri,395952,17924,6061.0,1113.0,910.0,3795.0
26,Montana,23875,676,1023.0,195.0,113.0,644.0
27,Nebraska,259429,3535,1881.0,306.0,213.0,1286.0
28,Nevada,259808,11975,2833.0,435.0,428.0,1694.0
29,New Hampshire,117245,4507,1329.0,259.0,144.0,955.0
30,New Jersey,5645458,332869,8925.0,1462.0,1483.0,5897.0
31,New Mexico,177827,6867,2083.0,361.0,702.0,996.0
32,New York,15041806,1081194,19719.0,3278.0,5286.0,11565.0
33,North Carolina,568719,19258,9934.0,1719.0,1649.0,5868.0
34,North Dakota,55932,1219,740.0,117.0,76.0,547.0
35,Ohio,908834,47879,11594.0,2108.0,2559.0,7296.0
36,Oklahoma,187462,10394,3877.0,665.0,735.0,2395.0
37,Oregon,134979,5067,3968.0,728.0,964.0,2427.0
38,Pennsylvania,2320771,127278,12791.0,2489.0,2150.0,8533.0
39,Rhode Island,401931,14251,1054.0,200.0,207.0,654.0
40,South Carolina,313173,11859,4828.0,910.0,922.0,2829.0
41,South Dakota,122292,1121,853.0,152.0,108.0,569.0
42,Tennessee,583792,10198,6545.0,1206.0,1348.0,3506.0
43,Texas,1553075,41267,26945.0,3516.0,4136.0,14373.0
44,Utah,245859,2472,2942.0,333.0,296.0,2262.0
45,Vermont,45230,2320,627.0,128.0,176.0,396.0
46,Virginia,866807,28754,8317.0,1311.0,928.0,5468.0
47,Washington,807848,42371,7054.0,1146.0,1539.0,4468.0
48,West Virginia,56158,1950,1849.0,411.0,495.0,1108.0
49,Wisconsin,393823,15587,5758.0,1023.0,1039.0,3828.0
50,Wyoming,28407,281,584.0,92.0,69.0,389.0