In [1]:
import pandas as pd
import numpy as np

In [2]:
CompMath = pd.read_excel('computer-and-mathematical-scientists-to-all-occupations.xlsx')
CompMath

,Table S-35,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Computer and Mathematical Scientists as a Perc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Computer and mathematical scientists,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,...,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000
3,United States,2491280,2603140.0,2629640.0,2743560.0,2855930.0,2972940.0,2997120.0,3016100.0,3153130.0,...,2.294049,2.373066,2.458034,2.553434,2.603855,2.663314,2.743243,2.819123,2.860527,2.913463
4,Alabama,25530,27090.0,28180.0,30120.0,31000.0,31530.0,30900.0,32000.0,33980.0,...,1.658063,1.770421,1.877950,1.901447,1.983103,1.883684,1.777190,1.721389,1.729456,1.790859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NOTES: Occupational Employment Statistics (OES...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"SOURCE: Bureau of Labor Statistics, special ta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
CompMath = CompMath.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
                          'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49'], axis = 1)

CompMath.head()

,Table S-35,Unnamed: 16,Unnamed: 33,Unnamed: 50
0,Computer and Mathematical Scientists as a Perc...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,State,2018.0,2018.0,2018.000000
3,United States,4216750.0,144733270.0,2.913463
4,Alabama,34810.0,1943760.0,1.790859

In [4]:
CompMath.tail(10)

,Table S-35,Unnamed: 16,Unnamed: 33,Unnamed: 50
54,Wyoming,2990.0,269320.0,1.110203
55,NaN,NaN,NaN,NaN
56,Puerto Rico,9980.0,846010.0,1.179655
57,NaN,NaN,NaN,NaN
58,NA = not available.,NaN,NaN,NaN
59,NOTES: Occupational Employment Statistics (OES...,NaN,NaN,NaN
60,"SOURCE: Bureau of Labor Statistics, special ta...",NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN

In [5]:
CompMath = CompMath.rename(columns = {'Table S-35':'State',
                                     'Unnamed: 16':'Computer Mathematical Scientists 2018',
                                     'Unnamed: 33':'All Occupations 2018',
                                     'Unnamed: 50':'Computer Mathematical Scientists 2018 (Percent)'})
CompMath.drop(range(0,4), inplace = True)
CompMath.drop(range(55,64), inplace = True)
CompMath = CompMath.reset_index(drop = True)
CompMath

,State,Computer Mathematical Scientists 2018,All Occupations 2018,Computer Mathematical Scientists 2018 (Percent)
0,Alabama,34810.0,1943760.0,1.790859
1,Alaska,4820.0,315250.0,1.528945
2,Arizona,92170.0,2789520.0,3.304153
3,Arkansas,21960.0,1210120.0,1.814696
4,California,592510.0,17007690.0,3.483777
5,Colorado,115320.0,2620640.0,4.400452
6,Connecticut,44120.0,1660200.0,2.657511
7,Delaware,16310.0,448510.0,3.636485
8,District of Columbia,41310.0,712370.0,5.798953
9,Florida,199870.0,8608660.0,2.321732
10,Georgia,144220.0,4394740.0,3.281650
11,Hawaii,9760.0,641790.0,1.520747
12,Idaho,14260.0,706140.0,2.019430
13,Illinois,168130.0,5991270.0,2.806250
14,Indiana,55720.0,3048100.0,1.828024
15,Iowa,35510.0,1541700.0,2.303302
16,Kansas,33320.0,1375380.0,2.422603
17,Kentucky,31800.0,1889870.0,1.682655
18,Louisiana,18700.0,1913770.0,0.977129
19,Maine,11700.0,605550.0,1.932128
20,Maryland,124600.0,2684010.0,4.642308
21,Massachusetts,138490.0,3571360.0,3.877794
22,Michigan,110840.0,4317830.0,2.567030
23,Minnesota,92090.0,2867700.0,3.211284
24,Mississippi,11910.0,1123830.0,1.059769
25,Missouri,83620.0,2804780.0,2.981339
26,Montana,8280.0,463280.0,1.787256
27,Nebraska,28180.0,978290.0,2.880536
28,Nevada,19520.0,1347130.0,1.449006
29,New Hampshire,20520.0,652920.0,3.142805
30,New Jersey,136850.0,4050170.0,3.378871
31,New Mexico,15090.0,811680.0,1.859107
32,New York,254650.0,9385620.0,2.713193
33,North Carolina,132200.0,4383210.0,3.016054
34,North Dakota,7570.0,416550.0,1.817309
35,Ohio,147330.0,5416810.0,2.719866
36,Oklahoma,29820.0,1594370.0,1.870331
37,Oregon,51800.0,1886090.0,2.746422
38,Pennsylvania,151880.0,5847690.0,2.597265
39,Rhode Island,12850.0,482030.0,2.665809
40,South Carolina,37870.0,2062280.0,1.836317
41,South Dakota,7890.0,422310.0,1.868296
42,Tennessee,53570.0,2956920.0,1.811682
43,Texas,349540.0,12113810.0,2.885467
44,Utah,49930.0,1455910.0,3.429470
45,Vermont,7040.0,305210.0,2.306609
46,Virginia,202990.0,3832840.0,5.296073
47,Washington,156540.0,3259150.0,4.803093
48,West Virginia,11200.0,696620.0,1.607763
49,Wisconsin,72790.0,2848560.0,2.555326
50,Wyoming,2990.0,269320.0,1.110203

In [6]:
CompMath.isnull().sum()

State                                              0
Computer Mathematical Scientists 2018              0
All Occupations 2018                               0
Computer Mathematical Scientists 2018 (Percent)    0
dtype: int64

In [7]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [8]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [9]:
COVIDCompMath = pd.merge(COVIDCases, CompMath, how = 'left', on = 'State')
COVIDCompMath

,State,fips,cases,deaths,Computer Mathematical Scientists 2018,All Occupations 2018,Computer Mathematical Scientists 2018 (Percent)
0,Alabama,73,387786,14345,34810.0,1943760.0,1.790859
1,Alaska,148,18316,367,4820.0,315250.0,1.528945
2,Arizona,480,426614,18857,92170.0,2789520.0,3.304153
3,Arkansas,375,161569,3301,21960.0,1210120.0,1.814696
4,California,726,2664110,102387,592510.0,17007690.0,3.483777
5,Colorado,648,766512,37828,115320.0,2620640.0,4.400452
6,Connecticut,702,1314995,104185,44120.0,1660200.0,2.657511
7,Delaware,750,234327,7813,16310.0,448510.0,3.636485
8,District of Columbia,869,229466,10822,41310.0,712370.0,5.798953
9,Florida,1020,1726811,63147,199870.0,8608660.0,2.321732
10,Georgia,1092,1282091,54209,144220.0,4394740.0,3.281650
11,Hawaii,1200,31433,681,9760.0,641790.0,1.520747
12,Idaho,1168,103987,2828,14260.0,706140.0,2.019430
13,Illinois,2074,2843621,122000,168130.0,5991270.0,2.806250
14,Indiana,1440,920434,53042,55720.0,3048100.0,1.828024
15,Iowa,1482,396980,9203,35510.0,1541700.0,2.303302
16,Kansas,1580,231885,6527,33320.0,1375380.0,2.422603
17,Kentucky,1680,246480,11851,31800.0,1889870.0,1.682655
18,Louisiana,1694,1443404,90609,18700.0,1913770.0,0.977129
19,Maine,1702,61284,2451,11700.0,605550.0,1.932128
20,Maryland,1944,1173802,56126,124600.0,2684010.0,4.642308
21,Massachusetts,2850,2929874,167711,138490.0,3571360.0,3.877794
22,Michigan,1976,2023047,171867,110840.0,4317830.0,2.567030
23,Minnesota,2160,377850,18934,92090.0,2867700.0,3.211284
24,Mississippi,2100,358459,15047,11910.0,1123830.0,1.059769
25,Missouri,2291,395952,17924,83620.0,2804780.0,2.981339
26,Montana,2190,23875,676,8280.0,463280.0,1.787256
27,Nebraska,3038,259429,3535,28180.0,978290.0,2.880536
28,Nevada,2592,259808,11975,19520.0,1347130.0,1.449006
29,New Hampshire,2772,117245,4507,20520.0,652920.0,3.142805
30,New Jersey,2788,5645458,332869,136850.0,4050170.0,3.378871
31,New Mexico,2625,177827,6867,15090.0,811680.0,1.859107
32,New York,3060,15041806,1081194,254650.0,9385620.0,2.713193
33,North Carolina,3071,568719,19258,132200.0,4383210.0,3.016054
34,North Dakota,2850,55932,1219,7570.0,416550.0,1.817309
35,Ohio,3003,908834,47879,147330.0,5416810.0,2.719866
36,Oklahoma,3200,187462,10394,29820.0,1594370.0,1.870331
37,Oregon,3567,134979,5067,51800.0,1886090.0,2.746422
38,Pennsylvania,3360,2320771,127278,151880.0,5847690.0,2.597265
39,Rhode Island,3740,401931,14251,12850.0,482030.0,2.665809
40,South Carolina,3600,313173,11859,37870.0,2062280.0,1.836317
41,South Dakota,3496,122292,1121,7890.0,422310.0,1.868296
42,Tennessee,3807,583792,10198,53570.0,2956920.0,1.811682
43,Texas,4944,1553075,41267,349540.0,12113810.0,2.885467
44,Utah,4410,245859,2472,49930.0,1455910.0,3.429470
45,Vermont,3950,45230,2320,7040.0,305210.0,2.306609
46,Virginia,4029,866807,28754,202990.0,3832840.0,5.296073
47,Washington,6625,807848,42371,156540.0,3259150.0,4.803093
48,West Virginia,3726,56158,1950,11200.0,696620.0,1.607763
49,Wisconsin,6050,393823,15587,72790.0,2848560.0,2.555326
50,Wyoming,4200,28407,281,2990.0,269320.0,1.110203

In [10]:
COVIDCompMath = COVIDCompMath.drop(['fips'], axis = 1)
COVIDCompMath

,State,cases,deaths,Computer Mathematical Scientists 2018,All Occupations 2018,Computer Mathematical Scientists 2018 (Percent)
0,Alabama,387786,14345,34810.0,1943760.0,1.790859
1,Alaska,18316,367,4820.0,315250.0,1.528945
2,Arizona,426614,18857,92170.0,2789520.0,3.304153
3,Arkansas,161569,3301,21960.0,1210120.0,1.814696
4,California,2664110,102387,592510.0,17007690.0,3.483777
5,Colorado,766512,37828,115320.0,2620640.0,4.400452
6,Connecticut,1314995,104185,44120.0,1660200.0,2.657511
7,Delaware,234327,7813,16310.0,448510.0,3.636485
8,District of Columbia,229466,10822,41310.0,712370.0,5.798953
9,Florida,1726811,63147,199870.0,8608660.0,2.321732
10,Georgia,1282091,54209,144220.0,4394740.0,3.281650
11,Hawaii,31433,681,9760.0,641790.0,1.520747
12,Idaho,103987,2828,14260.0,706140.0,2.019430
13,Illinois,2843621,122000,168130.0,5991270.0,2.806250
14,Indiana,920434,53042,55720.0,3048100.0,1.828024
15,Iowa,396980,9203,35510.0,1541700.0,2.303302
16,Kansas,231885,6527,33320.0,1375380.0,2.422603
17,Kentucky,246480,11851,31800.0,1889870.0,1.682655
18,Louisiana,1443404,90609,18700.0,1913770.0,0.977129
19,Maine,61284,2451,11700.0,605550.0,1.932128
20,Maryland,1173802,56126,124600.0,2684010.0,4.642308
21,Massachusetts,2929874,167711,138490.0,3571360.0,3.877794
22,Michigan,2023047,171867,110840.0,4317830.0,2.567030
23,Minnesota,377850,18934,92090.0,2867700.0,3.211284
24,Mississippi,358459,15047,11910.0,1123830.0,1.059769
25,Missouri,395952,17924,83620.0,2804780.0,2.981339
26,Montana,23875,676,8280.0,463280.0,1.787256
27,Nebraska,259429,3535,28180.0,978290.0,2.880536
28,Nevada,259808,11975,19520.0,1347130.0,1.449006
29,New Hampshire,117245,4507,20520.0,652920.0,3.142805
30,New Jersey,5645458,332869,136850.0,4050170.0,3.378871
31,New Mexico,177827,6867,15090.0,811680.0,1.859107
32,New York,15041806,1081194,254650.0,9385620.0,2.713193
33,North Carolina,568719,19258,132200.0,4383210.0,3.016054
34,North Dakota,55932,1219,7570.0,416550.0,1.817309
35,Ohio,908834,47879,147330.0,5416810.0,2.719866
36,Oklahoma,187462,10394,29820.0,1594370.0,1.870331
37,Oregon,134979,5067,51800.0,1886090.0,2.746422
38,Pennsylvania,2320771,127278,151880.0,5847690.0,2.597265
39,Rhode Island,401931,14251,12850.0,482030.0,2.665809
40,South Carolina,313173,11859,37870.0,2062280.0,1.836317
41,South Dakota,122292,1121,7890.0,422310.0,1.868296
42,Tennessee,583792,10198,53570.0,2956920.0,1.811682
43,Texas,1553075,41267,349540.0,12113810.0,2.885467
44,Utah,245859,2472,49930.0,1455910.0,3.429470
45,Vermont,45230,2320,7040.0,305210.0,2.306609
46,Virginia,866807,28754,202990.0,3832840.0,5.296073
47,Washington,807848,42371,156540.0,3259150.0,4.803093
48,West Virginia,56158,1950,11200.0,696620.0,1.607763
49,Wisconsin,393823,15587,72790.0,2848560.0,2.555326
50,Wyoming,28407,281,2990.0,269320.0,1.110203

In [11]:
COVIDCompMath.to_csv('CompMath_Jobs.csv')