In [106]:
import pandas as pd
import numpy as np

In [107]:
fourscience = pd.read_excel('fourth-grade-science-performance.xlsx')
fourscience.head()

,Table S-3,Unnamed: 1,Unnamed: 2
0,"Fourth Grade Science Performance, by state: 20...",NaN,NaN
1,NaN,(Score out of 300),NaN
2,State,2009,2015.0
3,United States,149,153.0
4,Alabama,143,145.0

In [108]:
fourscience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Table S-3   61 non-null     object
 1   Unnamed: 1  49 non-null     object
 2   Unnamed: 2  48 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.6+ KB

In [109]:
fourscience = fourscience.rename(columns = {'Table S-3' : 'State',
                                   'Unnamed: 1' : '4th 2009 Science',
                                   'Unnamed: 2' : '4th 2015 Science'})

fourscience.drop(range(0,4), inplace = True)

fourscience.head()

        State 4th 2009 Science  4th 2015 Science
4     Alabama              143             145.0
5      Alaska              NaN               NaN
6     Arizona              138             149.0
7    Arkansas              146             150.0
8  California              136             140.0

In [110]:
fourscience = fourscience.reset_index(drop = True)

fourscience.head()

        State 4th 2009 Science  4th 2015 Science
0     Alabama              143             145.0
1      Alaska              NaN               NaN
2     Arizona              138             149.0
3    Arkansas              146             150.0
4  California              136             140.0

In [111]:
fourscience.isna().sum()

State                2
4th 2009 Science    14
4th 2015 Science    14
dtype: int64

In [112]:
fourscience.State

0                                               Alabama
1                                                Alaska
2                                               Arizona
3                                              Arkansas
4                                            California
5                                              Colorado
6                                           Connecticut
7                                              Delaware
8                                  District of Columbia
9                                               Florida
10                                              Georgia
11                                               Hawaii
12                                                Idaho
13                                             Illinois
14                                              Indiana
15                                                 Iowa
16                                               Kansas
17                                             Kentucky
18                                            Louisiana
19                                                Maine
20                                             Maryland
21                                        Massachusetts
22                                             Michigan
23                                            Minnesota
24                                          Mississippi
25                                             Missouri
26                                              Montana
27                                             Nebraska
28                                               Nevada
29                                        New Hampshire
30                                           New Jersey
31                                           New Mexico
32                                             New York
33                                       North Carolina
34                                         North Dakota
35                                                 Ohio
36                                             Oklahoma
37                                               Oregon
38                                         Pennsylvania
39                                         Rhode Island
40                                       South Carolina
41                                         South Dakota
42                                            Tennessee
43                                                Texas
44                                                 Utah
45                                              Vermont
46                                             Virginia
47                                           Washington
48                                        West Virginia
49                                            Wisconsin
50                                              Wyoming
51                                                  NaN
52                                          Puerto Rico
53                                                  NaN
54                                  NA = not available.
55    NOTES: The National Assessment of Educational ...
56    SOURCE: National Center for Education Statisti...
57    Recommended Citation: National Science Board. ...
58                       Last updated: January 18, 2018
59                   Science and Engineering Indicators
Name: State, dtype: object

In [113]:
fourscience.drop(range(51,60), inplace = True)
fourscience.State

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

In [114]:
fourscience.isna().sum()

State               0
4th 2009 Science    5
4th 2015 Science    5
dtype: int64

In [115]:
fourscience = fourscience.fillna(fourscience.mean())
fourscience

                   State  4th 2009 Science  4th 2015 Science
0                Alabama        143.000000        145.000000
1                 Alaska        151.130435        154.456522
2                Arizona        138.000000        149.000000
3               Arkansas        146.000000        150.000000
4             California        136.000000        140.000000
5               Colorado        155.000000        154.456522
6            Connecticut        156.000000        154.000000
7               Delaware        153.000000        150.000000
8   District of Columbia        151.130435        154.456522
9                Florida        151.000000        158.000000
10               Georgia        144.000000        152.000000
11                Hawaii        140.000000        146.000000
12                 Idaho        154.000000        156.000000
13              Illinois        148.000000        151.000000
14               Indiana        153.000000        159.000000
15                  Iowa        157.000000        159.000000
16                Kansas        151.130435        154.000000
17              Kentucky        161.000000        160.000000
18             Louisiana        141.000000        154.456522
19                 Maine        160.000000        158.000000
20              Maryland        150.000000        153.000000
21         Massachusetts        160.000000        161.000000
22              Michigan        150.000000        154.000000
23             Minnesota        158.000000        157.000000
24           Mississippi        133.000000        140.000000
25              Missouri        156.000000        155.000000
26               Montana        160.000000        159.000000
27              Nebraska        151.130435        162.000000
28                Nevada        141.000000        142.000000
29         New Hampshire        163.000000        165.000000
30            New Jersey        155.000000        155.000000
31            New Mexico        142.000000        143.000000
32              New York        148.000000        150.000000
33        North Carolina        148.000000        154.000000
34          North Dakota        162.000000        161.000000
35                  Ohio        157.000000        157.000000
36              Oklahoma        148.000000        153.000000
37                Oregon        151.000000        153.000000
38          Pennsylvania        154.000000        154.456522
39          Rhode Island        150.000000        152.000000
40        South Carolina        149.000000        155.000000
41          South Dakota        157.000000        157.000000
42             Tennessee        148.000000        157.000000
43                 Texas        148.000000        155.000000
44                  Utah        154.000000        160.000000
45               Vermont        151.130435        163.000000
46              Virginia        162.000000        165.000000
47            Washington        151.000000        158.000000
48         West Virginia        148.000000        151.000000
49             Wisconsin        157.000000        156.000000
50               Wyoming        156.000000        161.000000

In [116]:
fourscience = fourscience.astype({'4th 2009 Science':'int32',
                         '4th 2015 Science':'int32'})

fourscience

                   State  4th 2009 Science  4th 2015 Science
0                Alabama               143               145
1                 Alaska               151               154
2                Arizona               138               149
3               Arkansas               146               150
4             California               136               140
5               Colorado               155               154
6            Connecticut               156               154
7               Delaware               153               150
8   District of Columbia               151               154
9                Florida               151               158
10               Georgia               144               152
11                Hawaii               140               146
12                 Idaho               154               156
13              Illinois               148               151
14               Indiana               153               159
15                  Iowa               157               159
16                Kansas               151               154
17              Kentucky               161               160
18             Louisiana               141               154
19                 Maine               160               158
20              Maryland               150               153
21         Massachusetts               160               161
22              Michigan               150               154
23             Minnesota               158               157
24           Mississippi               133               140
25              Missouri               156               155
26               Montana               160               159
27              Nebraska               151               162
28                Nevada               141               142
29         New Hampshire               163               165
30            New Jersey               155               155
31            New Mexico               142               143
32              New York               148               150
33        North Carolina               148               154
34          North Dakota               162               161
35                  Ohio               157               157
36              Oklahoma               148               153
37                Oregon               151               153
38          Pennsylvania               154               154
39          Rhode Island               150               152
40        South Carolina               149               155
41          South Dakota               157               157
42             Tennessee               148               157
43                 Texas               148               155
44                  Utah               154               160
45               Vermont               151               163
46              Virginia               162               165
47            Washington               151               158
48         West Virginia               148               151
49             Wisconsin               157               156
50               Wyoming               156               161

In [117]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
4574  2020-05-24       Virginia    51  36244    1171
4575  2020-05-24     Washington    53  20732    1069
4576  2020-05-24  West Virginia    54   1771      72
4577  2020-05-24      Wisconsin    55  15362     510
4578  2020-05-24        Wyoming    56    813      12

[4579 rows x 5 columns]

In [118]:
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases

                       state  fips     cases   deaths
0                    Alabama    73    387786    14345
1                     Alaska   148     18316      367
2                    Arizona   480    426614    18857
3                   Arkansas   375    161569     3301
4                 California   726   2664110   102387
5                   Colorado   648    766512    37828
6                Connecticut   702   1314995   104185
7                   Delaware   750    234327     7813
8       District of Columbia   869    229466    10822
9                    Florida  1020   1726811    63147
10                   Georgia  1092   1282091    54209
11                      Guam  4686     48340      311
12                    Hawaii  1200     31433      681
13                     Idaho  1168    103987     2828
14                  Illinois  2074   2843621   122000
15                   Indiana  1440    920434    53042
16                      Iowa  1482    396980     9203
17                    Kansas  1580    231885     6527
18                  Kentucky  1680    246480    11851
19                 Louisiana  1694   1443404    90609
20                     Maine  1702     61284     2451
21                  Maryland  1944   1173802    56126
22             Massachusetts  2850   2929874   167711
23                  Michigan  1976   2023047   171867
24                 Minnesota  2160    377850    18934
25               Mississippi  2100    358459    15047
26                  Missouri  2291    395952    17924
27                   Montana  2190     23875      676
28                  Nebraska  3038    259429     3535
29                    Nevada  2592    259808    11975
30             New Hampshire  2772    117245     4507
31                New Jersey  2788   5645458   332869
32                New Mexico  2625    177827     6867
33                  New York  3060  15041806  1081194
34            North Carolina  3071    568719    19258
35              North Dakota  2850     55932     1219
36  Northern Mariana Islands  4002       798      102
37                      Ohio  3003    908834    47879
38                  Oklahoma  3200    187462    10394
39                    Oregon  3567    134979     5067
40              Pennsylvania  3360   2320771   127278
41               Puerto Rico  5256     86159     4199
42              Rhode Island  3740    401931    14251
43            South Carolina  3600    313173    11859
44              South Dakota  3496    122292     1121
45                 Tennessee  3807    583792    10198
46                     Texas  4944   1553075    41267
47                      Utah  4410    245859     2472
48                   Vermont  3950     45230     2320
49            Virgin Islands  5616      3373      180
50                  Virginia  4029    866807    28754
51                Washington  6625    807848    42371
52             West Virginia  3726     56158     1950
53                 Wisconsin  6050    393823    15587
54                   Wyoming  4200     28407      281

In [119]:
COVIDCases.state

0                      Alabama
1                       Alaska
2                      Arizona
3                     Arkansas
4                   California
5                     Colorado
6                  Connecticut
7                     Delaware
8         District of Columbia
9                      Florida
10                     Georgia
11                        Guam
12                      Hawaii
13                       Idaho
14                    Illinois
15                     Indiana
16                        Iowa
17                      Kansas
18                    Kentucky
19                   Louisiana
20                       Maine
21                    Maryland
22               Massachusetts
23                    Michigan
24                   Minnesota
25                 Mississippi
26                    Missouri
27                     Montana
28                    Nebraska
29                      Nevada
30               New Hampshire
31                  New Jersey
32                  New Mexico
33                    New York
34              North Carolina
35                North Dakota
36    Northern Mariana Islands
37                        Ohio
38                    Oklahoma
39                      Oregon
40                Pennsylvania
41                 Puerto Rico
42                Rhode Island
43              South Carolina
44                South Dakota
45                   Tennessee
46                       Texas
47                        Utah
48                     Vermont
49              Virgin Islands
50                    Virginia
51                  Washington
52               West Virginia
53                   Wisconsin
54                     Wyoming
Name: state, dtype: object

In [120]:
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [121]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [122]:
COVID4science = pd.merge(COVIDCases, fourscience, how = 'left', on = 'State')
COVID4science

,State,fips,cases,deaths,4th 2009 Science,4th 2015 Science
0,Alabama,73,387786,14345,143,145
1,Alaska,148,18316,367,151,154
2,Arizona,480,426614,18857,138,149
3,Arkansas,375,161569,3301,146,150
4,California,726,2664110,102387,136,140
5,Colorado,648,766512,37828,155,154
6,Connecticut,702,1314995,104185,156,154
7,Delaware,750,234327,7813,153,150
8,District of Columbia,869,229466,10822,151,154
9,Florida,1020,1726811,63147,151,158
10,Georgia,1092,1282091,54209,144,152
11,Hawaii,1200,31433,681,140,146
12,Idaho,1168,103987,2828,154,156
13,Illinois,2074,2843621,122000,148,151
14,Indiana,1440,920434,53042,153,159
15,Iowa,1482,396980,9203,157,159
16,Kansas,1580,231885,6527,151,154
17,Kentucky,1680,246480,11851,161,160
18,Louisiana,1694,1443404,90609,141,154
19,Maine,1702,61284,2451,160,158
20,Maryland,1944,1173802,56126,150,153
21,Massachusetts,2850,2929874,167711,160,161
22,Michigan,1976,2023047,171867,150,154
23,Minnesota,2160,377850,18934,158,157
24,Mississippi,2100,358459,15047,133,140
25,Missouri,2291,395952,17924,156,155
26,Montana,2190,23875,676,160,159
27,Nebraska,3038,259429,3535,151,162
28,Nevada,2592,259808,11975,141,142
29,New Hampshire,2772,117245,4507,163,165
30,New Jersey,2788,5645458,332869,155,155
31,New Mexico,2625,177827,6867,142,143
32,New York,3060,15041806,1081194,148,150
33,North Carolina,3071,568719,19258,148,154
34,North Dakota,2850,55932,1219,162,161
35,Ohio,3003,908834,47879,157,157
36,Oklahoma,3200,187462,10394,148,153
37,Oregon,3567,134979,5067,151,153
38,Pennsylvania,3360,2320771,127278,154,154
39,Rhode Island,3740,401931,14251,150,152
40,South Carolina,3600,313173,11859,149,155
41,South Dakota,3496,122292,1121,157,157
42,Tennessee,3807,583792,10198,148,157
43,Texas,4944,1553075,41267,148,155
44,Utah,4410,245859,2472,154,160
45,Vermont,3950,45230,2320,151,163
46,Virginia,4029,866807,28754,162,165
47,Washington,6625,807848,42371,151,158
48,West Virginia,3726,56158,1950,148,151
49,Wisconsin,6050,393823,15587,157,156
50,Wyoming,4200,28407,281,156,161

In [123]:
COVID4science.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             51 non-null     object
 1   fips              51 non-null     int64
 2   cases             51 non-null     int64
 3   deaths            51 non-null     int64
 4   4th 2009 Science  51 non-null     int32
 5   4th 2015 Science  51 non-null     int32
dtypes: int32(2), int64(3), object(1)
memory usage: 2.4+ KB

In [124]:
COVID4science = COVID4science.drop(['fips'], axis = 1)
COVID4science

,State,cases,deaths,4th 2009 Science,4th 2015 Science
0,Alabama,387786,14345,143,145
1,Alaska,18316,367,151,154
2,Arizona,426614,18857,138,149
3,Arkansas,161569,3301,146,150
4,California,2664110,102387,136,140
5,Colorado,766512,37828,155,154
6,Connecticut,1314995,104185,156,154
7,Delaware,234327,7813,153,150
8,District of Columbia,229466,10822,151,154
9,Florida,1726811,63147,151,158
10,Georgia,1282091,54209,144,152
11,Hawaii,31433,681,140,146
12,Idaho,103987,2828,154,156
13,Illinois,2843621,122000,148,151
14,Indiana,920434,53042,153,159
15,Iowa,396980,9203,157,159
16,Kansas,231885,6527,151,154
17,Kentucky,246480,11851,161,160
18,Louisiana,1443404,90609,141,154
19,Maine,61284,2451,160,158
20,Maryland,1173802,56126,150,153
21,Massachusetts,2929874,167711,160,161
22,Michigan,2023047,171867,150,154
23,Minnesota,377850,18934,158,157
24,Mississippi,358459,15047,133,140
25,Missouri,395952,17924,156,155
26,Montana,23875,676,160,159
27,Nebraska,259429,3535,151,162
28,Nevada,259808,11975,141,142
29,New Hampshire,117245,4507,163,165
30,New Jersey,5645458,332869,155,155
31,New Mexico,177827,6867,142,143
32,New York,15041806,1081194,148,150
33,North Carolina,568719,19258,148,154
34,North Dakota,55932,1219,162,161
35,Ohio,908834,47879,157,157
36,Oklahoma,187462,10394,148,153
37,Oregon,134979,5067,151,153
38,Pennsylvania,2320771,127278,154,154
39,Rhode Island,401931,14251,150,152
40,South Carolina,313173,11859,149,155
41,South Dakota,122292,1121,157,157
42,Tennessee,583792,10198,148,157
43,Texas,1553075,41267,148,155
44,Utah,245859,2472,154,160
45,Vermont,45230,2320,151,163
46,Virginia,866807,28754,162,165
47,Washington,807848,42371,151,158
48,West Virginia,56158,1950,148,151
49,Wisconsin,393823,15587,157,156
50,Wyoming,28407,281,156,161

In [125]:
fourmath = pd.read_excel('fourth-grade-math-performance.xlsx')
fourmath.head()

,Table S-1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"Fourth Grade Mathematics Performance, by state...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,(Score out of 500),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2000,2003,2005,2007.0,2009.0,2011.0,2013.0,2015.0,2017.0,2019.0
3,United States,224,234,237,239.0,239.0,240.0,241.0,240.0,239.0,240.0
4,Alabama,217,223,225,229.0,228.0,231.0,233.0,231.0,232.0,230.0

In [126]:
fourmath = fourmath.rename(columns = {'Table S-1' : 'State',
                                   'Unnamed: 1' : '4th 2000 Math',
                                   'Unnamed: 2' : '4th 2003 Math',
                                   'Unnamed: 3' : '4th 2005 Math',
                                   'Unnamed: 4' : '4th 2007 Math',
                                   'Unnamed: 5' : '4th 2009 Math',
                                   'Unnamed: 6' : '4th 2011 Math',
                                   'Unnamed: 7' : '4th 2013 Math',
                                   'Unnamed: 8' : '4th 2015 Math',
                                   'Unnamed: 9' : '4th 2017 Math',
                                   'Unnamed: 10': '4th 2019 Math' })

fourmath.drop(range(0,4), inplace = True)

fourmath.head()

,State,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
4,Alabama,217,223,225,229.0,228.0,231.0,233.0,231.0,232.0,230.0
5,Alaska,NaN,233,236,237.0,237.0,236.0,236.0,236.0,230.0,232.0
6,Arizona,219,229,230,232.0,230.0,235.0,240.0,238.0,234.0,238.0
7,Arkansas,216,229,236,238.0,238.0,238.0,240.0,235.0,234.0,233.0
8,California,213,227,230,230.0,232.0,234.0,234.0,232.0,232.0,235.0

In [127]:
fourmath = fourmath.reset_index(drop = True)

fourmath.head()

,State,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,217,223,225,229.0,228.0,231.0,233.0,231.0,232.0,230.0
1,Alaska,NaN,233,236,237.0,237.0,236.0,236.0,236.0,230.0,232.0
2,Arizona,219,229,230,232.0,230.0,235.0,240.0,238.0,234.0,238.0
3,Arkansas,216,229,236,238.0,238.0,238.0,240.0,235.0,234.0,233.0
4,California,213,227,230,230.0,232.0,234.0,234.0,232.0,232.0,235.0

In [128]:
fourmath.State

0                                               Alabama
1                                                Alaska
2                                               Arizona
3                                              Arkansas
4                                            California
5                                              Colorado
6                                           Connecticut
7                                              Delaware
8                                  District of Columbia
9                                               Florida
10                                              Georgia
11                                               Hawaii
12                                                Idaho
13                                             Illinois
14                                              Indiana
15                                                 Iowa
16                                               Kansas
17                                             Kentucky
18                                            Louisiana
19                                                Maine
20                                             Maryland
21                                        Massachusetts
22                                             Michigan
23                                            Minnesota
24                                          Mississippi
25                                             Missouri
26                                              Montana
27                                             Nebraska
28                                               Nevada
29                                        New Hampshire
30                                           New Jersey
31                                           New Mexico
32                                             New York
33                                       North Carolina
34                                         North Dakota
35                                                 Ohio
36                                             Oklahoma
37                                               Oregon
38                                         Pennsylvania
39                                         Rhode Island
40                                       South Carolina
41                                         South Dakota
42                                            Tennessee
43                                                Texas
44                                                 Utah
45                                              Vermont
46                                             Virginia
47                                           Washington
48                                        West Virginia
49                                            Wisconsin
50                                              Wyoming
51                                                  NaN
52                                          Puerto Rico
53                                                  NaN
54    S = data are suppressed because reporting stan...
55    NOTES: The National Assessment of Educational ...
56    SOURCE: National Center for Education Statisti...
57    Recommended Citation: National Science Board. ...
58                         Last updated: April 29, 2020
59                   Science and Engineering Indicators
Name: State, dtype: object

In [129]:
fourmath.drop(range(51,60), inplace = True)
fourmath.State

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

In [130]:
fourmath = fourmath.fillna(fourmath.mean())
fourmath

,State,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,217.000000,223,225,229.0,228.0,231.0,233.0,231.0,232.0,230.0
1,Alaska,223.853659,233,236,237.0,237.0,236.0,236.0,236.0,230.0,232.0
2,Arizona,219.000000,229,230,232.0,230.0,235.0,240.0,238.0,234.0,238.0
3,Arkansas,216.000000,229,236,238.0,238.0,238.0,240.0,235.0,234.0,233.0
4,California,213.000000,227,230,230.0,232.0,234.0,234.0,232.0,232.0,235.0
5,Colorado,223.853659,235,239,240.0,243.0,244.0,247.0,242.0,241.0,242.0
6,Connecticut,234.000000,241,242,243.0,245.0,242.0,243.0,240.0,239.0,243.0
7,Delaware,223.853659,236,240,242.0,239.0,240.0,243.0,239.0,236.0,239.0
8,District of Columbia,192.000000,205,211,214.0,219.0,222.0,229.0,231.0,231.0,235.0
9,Florida,223.853659,234,239,242.0,242.0,240.0,242.0,243.0,246.0,246.0
10,Georgia,219.000000,230,234,235.0,236.0,238.0,240.0,236.0,236.0,238.0
11,Hawaii,216.000000,227,230,234.0,236.0,239.0,243.0,238.0,238.0,239.0
12,Idaho,224.000000,235,242,241.0,241.0,240.0,241.0,239.0,240.0,242.0
13,Illinois,223.000000,233,233,237.0,238.0,239.0,239.0,237.0,238.0,237.0
14,Indiana,233.000000,238,240,245.0,243.0,244.0,249.0,248.0,247.0,245.0
15,Iowa,231.000000,238,240,243.0,243.0,243.0,246.0,243.0,243.0,241.0
16,Kansas,232.000000,242,246,248.0,245.0,246.0,246.0,241.0,241.0,239.0
17,Kentucky,219.000000,229,231,235.0,239.0,241.0,241.0,242.0,239.0,239.0
18,Louisiana,218.000000,226,230,230.0,229.0,231.0,231.0,234.0,229.0,231.0
19,Maine,230.000000,238,241,242.0,244.0,244.0,246.0,242.0,240.0,241.0
20,Maryland,222.000000,233,238,240.0,244.0,247.0,245.0,239.0,241.0,239.0
21,Massachusetts,233.000000,242,247,252.0,252.0,253.0,253.0,251.0,249.0,247.0
22,Michigan,229.000000,236,238,238.0,236.0,236.0,237.0,236.0,236.0,236.0
23,Minnesota,234.000000,242,246,247.0,249.0,249.0,253.0,250.0,249.0,248.0
24,Mississippi,211.000000,223,227,228.0,227.0,230.0,231.0,234.0,235.0,241.0
25,Missouri,228.000000,235,235,239.0,241.0,240.0,240.0,239.0,240.0,238.0
26,Montana,228.000000,236,241,244.0,244.0,244.0,244.0,241.0,241.0,241.0
27,Nebraska,225.000000,236,238,238.0,239.0,240.0,243.0,244.0,246.0,244.0
28,Nevada,220.000000,228,230,232.0,235.0,237.0,236.0,234.0,232.0,236.0
29,New Hampshire,223.853659,243,246,249.0,251.0,252.0,253.0,249.0,245.0,245.0
30,New Jersey,223.853659,239,244,249.0,247.0,248.0,247.0,245.0,248.0,246.0
31,New Mexico,213.000000,223,224,228.0,230.0,233.0,233.0,231.0,230.0,231.0
32,New York,225.000000,236,238,243.0,241.0,238.0,240.0,237.0,236.0,237.0
33,North Carolina,230.000000,242,241,242.0,244.0,245.0,245.0,244.0,241.0,241.0
34,North Dakota,230.000000,238,243,245.0,245.0,245.0,246.0,245.0,244.0,243.0
35,Ohio,230.000000,238,242,245.0,244.0,244.0,246.0,244.0,241.0,241.0
36,Oklahoma,224.000000,229,234,237.0,237.0,237.0,239.0,240.0,237.0,237.0
37,Oregon,224.000000,236,238,236.0,238.0,237.0,240.0,238.0,233.0,236.0
38,Pennsylvania,223.853659,236,241,244.0,244.0,246.0,244.0,243.0,242.0,244.0
39,Rhode Island,224.000000,230,233,236.0,239.0,242.0,241.0,238.0,238.0,239.0
40,South Carolina,220.000000,236,238,237.0,236.0,237.0,237.0,237.0,234.0,237.0
41,South Dakota,223.853659,237,242,241.0,242.0,241.0,241.0,240.0,242.0,241.0
42,Tennessee,220.000000,228,232,233.0,232.0,233.0,240.0,241.0,237.0,240.0
43,Texas,231.000000,237,242,242.0,240.0,241.0,242.0,244.0,241.0,244.0
44,Utah,227.000000,235,239,239.0,240.0,243.0,243.0,243.0,242.0,244.0
45,Vermont,232.000000,242,244,246.0,248.0,247.0,248.0,243.0,241.0,239.0
46,Virginia,230.000000,239,240,244.0,243.0,245.0,246.0,247.0,248.0,247.0
47,Washington,223.853659,238,242,243.0,242.0,243.0,246.0,245.0,242.0,240.0
48,West Virginia,223.000000,231,231,236.0,233.0,235.0,237.0,235.0,236.0,231.0
49,Wisconsin,223.853659,237,241,244.0,244.0,245.0,245.0,243.0,240.0,242.0
50,Wyoming,229.000000,241,243,244.0,242.0,244.0,247.0,247.0,248.0,246.0

In [131]:
fourmath = fourmath.astype({'4th 2000 Math': 'int32',
                                  '4th 2003 Math': 'int32',
                                  '4th 2005 Math': 'int32',
                                  '4th 2007 Math': 'int32',
                                  '4th 2009 Math': 'int32',
                                  '4th 2011 Math': 'int32',
                                  '4th 2013 Math': 'int32',
                                  '4th 2015 Math': 'int32',
                                  '4th 2017 Math': 'int32',
                                  '4th 2019 Math': 'int32' })

fourmath

,State,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,217,223,225,229,228,231,233,231,232,230
1,Alaska,223,233,236,237,237,236,236,236,230,232
2,Arizona,219,229,230,232,230,235,240,238,234,238
3,Arkansas,216,229,236,238,238,238,240,235,234,233
4,California,213,227,230,230,232,234,234,232,232,235
5,Colorado,223,235,239,240,243,244,247,242,241,242
6,Connecticut,234,241,242,243,245,242,243,240,239,243
7,Delaware,223,236,240,242,239,240,243,239,236,239
8,District of Columbia,192,205,211,214,219,222,229,231,231,235
9,Florida,223,234,239,242,242,240,242,243,246,246
10,Georgia,219,230,234,235,236,238,240,236,236,238
11,Hawaii,216,227,230,234,236,239,243,238,238,239
12,Idaho,224,235,242,241,241,240,241,239,240,242
13,Illinois,223,233,233,237,238,239,239,237,238,237
14,Indiana,233,238,240,245,243,244,249,248,247,245
15,Iowa,231,238,240,243,243,243,246,243,243,241
16,Kansas,232,242,246,248,245,246,246,241,241,239
17,Kentucky,219,229,231,235,239,241,241,242,239,239
18,Louisiana,218,226,230,230,229,231,231,234,229,231
19,Maine,230,238,241,242,244,244,246,242,240,241
20,Maryland,222,233,238,240,244,247,245,239,241,239
21,Massachusetts,233,242,247,252,252,253,253,251,249,247
22,Michigan,229,236,238,238,236,236,237,236,236,236
23,Minnesota,234,242,246,247,249,249,253,250,249,248
24,Mississippi,211,223,227,228,227,230,231,234,235,241
25,Missouri,228,235,235,239,241,240,240,239,240,238
26,Montana,228,236,241,244,244,244,244,241,241,241
27,Nebraska,225,236,238,238,239,240,243,244,246,244
28,Nevada,220,228,230,232,235,237,236,234,232,236
29,New Hampshire,223,243,246,249,251,252,253,249,245,245
30,New Jersey,223,239,244,249,247,248,247,245,248,246
31,New Mexico,213,223,224,228,230,233,233,231,230,231
32,New York,225,236,238,243,241,238,240,237,236,237
33,North Carolina,230,242,241,242,244,245,245,244,241,241
34,North Dakota,230,238,243,245,245,245,246,245,244,243
35,Ohio,230,238,242,245,244,244,246,244,241,241
36,Oklahoma,224,229,234,237,237,237,239,240,237,237
37,Oregon,224,236,238,236,238,237,240,238,233,236
38,Pennsylvania,223,236,241,244,244,246,244,243,242,244
39,Rhode Island,224,230,233,236,239,242,241,238,238,239
40,South Carolina,220,236,238,237,236,237,237,237,234,237
41,South Dakota,223,237,242,241,242,241,241,240,242,241
42,Tennessee,220,228,232,233,232,233,240,241,237,240
43,Texas,231,237,242,242,240,241,242,244,241,244
44,Utah,227,235,239,239,240,243,243,243,242,244
45,Vermont,232,242,244,246,248,247,248,243,241,239
46,Virginia,230,239,240,244,243,245,246,247,248,247
47,Washington,223,238,242,243,242,243,246,245,242,240
48,West Virginia,223,231,231,236,233,235,237,235,236,231
49,Wisconsin,223,237,241,244,244,245,245,243,240,242
50,Wyoming,229,241,243,244,242,244,247,247,248,246

In [132]:
fourmath = fourmath.drop(['4th 2000 Math','4th 2003 Math','4th 2005 Math','4th 2007 Math','4th 2011 Math','4th 2013 Math'], axis = 1)
fourmath

,State,4th 2009 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,228,231,232,230
1,Alaska,237,236,230,232
2,Arizona,230,238,234,238
3,Arkansas,238,235,234,233
4,California,232,232,232,235
5,Colorado,243,242,241,242
6,Connecticut,245,240,239,243
7,Delaware,239,239,236,239
8,District of Columbia,219,231,231,235
9,Florida,242,243,246,246
10,Georgia,236,236,236,238
11,Hawaii,236,238,238,239
12,Idaho,241,239,240,242
13,Illinois,238,237,238,237
14,Indiana,243,248,247,245
15,Iowa,243,243,243,241
16,Kansas,245,241,241,239
17,Kentucky,239,242,239,239
18,Louisiana,229,234,229,231
19,Maine,244,242,240,241
20,Maryland,244,239,241,239
21,Massachusetts,252,251,249,247
22,Michigan,236,236,236,236
23,Minnesota,249,250,249,248
24,Mississippi,227,234,235,241
25,Missouri,241,239,240,238
26,Montana,244,241,241,241
27,Nebraska,239,244,246,244
28,Nevada,235,234,232,236
29,New Hampshire,251,249,245,245
30,New Jersey,247,245,248,246
31,New Mexico,230,231,230,231
32,New York,241,237,236,237
33,North Carolina,244,244,241,241
34,North Dakota,245,245,244,243
35,Ohio,244,244,241,241
36,Oklahoma,237,240,237,237
37,Oregon,238,238,233,236
38,Pennsylvania,244,243,242,244
39,Rhode Island,239,238,238,239
40,South Carolina,236,237,234,237
41,South Dakota,242,240,242,241
42,Tennessee,232,241,237,240
43,Texas,240,244,241,244
44,Utah,240,243,242,244
45,Vermont,248,243,241,239
46,Virginia,243,247,248,247
47,Washington,242,245,242,240
48,West Virginia,233,235,236,231
49,Wisconsin,244,243,240,242
50,Wyoming,242,247,248,246

In [133]:
COVID4math = pd.merge(COVIDCases, fourmath, how = 'left', on = 'State')
COVID4math

,State,fips,cases,deaths,4th 2009 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,73,387786,14345,228,231,232,230
1,Alaska,148,18316,367,237,236,230,232
2,Arizona,480,426614,18857,230,238,234,238
3,Arkansas,375,161569,3301,238,235,234,233
4,California,726,2664110,102387,232,232,232,235
5,Colorado,648,766512,37828,243,242,241,242
6,Connecticut,702,1314995,104185,245,240,239,243
7,Delaware,750,234327,7813,239,239,236,239
8,District of Columbia,869,229466,10822,219,231,231,235
9,Florida,1020,1726811,63147,242,243,246,246
10,Georgia,1092,1282091,54209,236,236,236,238
11,Hawaii,1200,31433,681,236,238,238,239
12,Idaho,1168,103987,2828,241,239,240,242
13,Illinois,2074,2843621,122000,238,237,238,237
14,Indiana,1440,920434,53042,243,248,247,245
15,Iowa,1482,396980,9203,243,243,243,241
16,Kansas,1580,231885,6527,245,241,241,239
17,Kentucky,1680,246480,11851,239,242,239,239
18,Louisiana,1694,1443404,90609,229,234,229,231
19,Maine,1702,61284,2451,244,242,240,241
20,Maryland,1944,1173802,56126,244,239,241,239
21,Massachusetts,2850,2929874,167711,252,251,249,247
22,Michigan,1976,2023047,171867,236,236,236,236
23,Minnesota,2160,377850,18934,249,250,249,248
24,Mississippi,2100,358459,15047,227,234,235,241
25,Missouri,2291,395952,17924,241,239,240,238
26,Montana,2190,23875,676,244,241,241,241
27,Nebraska,3038,259429,3535,239,244,246,244
28,Nevada,2592,259808,11975,235,234,232,236
29,New Hampshire,2772,117245,4507,251,249,245,245
30,New Jersey,2788,5645458,332869,247,245,248,246
31,New Mexico,2625,177827,6867,230,231,230,231
32,New York,3060,15041806,1081194,241,237,236,237
33,North Carolina,3071,568719,19258,244,244,241,241
34,North Dakota,2850,55932,1219,245,245,244,243
35,Ohio,3003,908834,47879,244,244,241,241
36,Oklahoma,3200,187462,10394,237,240,237,237
37,Oregon,3567,134979,5067,238,238,233,236
38,Pennsylvania,3360,2320771,127278,244,243,242,244
39,Rhode Island,3740,401931,14251,239,238,238,239
40,South Carolina,3600,313173,11859,236,237,234,237
41,South Dakota,3496,122292,1121,242,240,242,241
42,Tennessee,3807,583792,10198,232,241,237,240
43,Texas,4944,1553075,41267,240,244,241,244
44,Utah,4410,245859,2472,240,243,242,244
45,Vermont,3950,45230,2320,248,243,241,239
46,Virginia,4029,866807,28754,243,247,248,247
47,Washington,6625,807848,42371,242,245,242,240
48,West Virginia,3726,56158,1950,233,235,236,231
49,Wisconsin,6050,393823,15587,244,243,240,242
50,Wyoming,4200,28407,281,242,247,248,246

In [134]:
COVID4math = COVID4math.drop(['fips'], axis = 1)
COVID4math

,State,cases,deaths,4th 2009 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,387786,14345,228,231,232,230
1,Alaska,18316,367,237,236,230,232
2,Arizona,426614,18857,230,238,234,238
3,Arkansas,161569,3301,238,235,234,233
4,California,2664110,102387,232,232,232,235
5,Colorado,766512,37828,243,242,241,242
6,Connecticut,1314995,104185,245,240,239,243
7,Delaware,234327,7813,239,239,236,239
8,District of Columbia,229466,10822,219,231,231,235
9,Florida,1726811,63147,242,243,246,246
10,Georgia,1282091,54209,236,236,236,238
11,Hawaii,31433,681,236,238,238,239
12,Idaho,103987,2828,241,239,240,242
13,Illinois,2843621,122000,238,237,238,237
14,Indiana,920434,53042,243,248,247,245
15,Iowa,396980,9203,243,243,243,241
16,Kansas,231885,6527,245,241,241,239
17,Kentucky,246480,11851,239,242,239,239
18,Louisiana,1443404,90609,229,234,229,231
19,Maine,61284,2451,244,242,240,241
20,Maryland,1173802,56126,244,239,241,239
21,Massachusetts,2929874,167711,252,251,249,247
22,Michigan,2023047,171867,236,236,236,236
23,Minnesota,377850,18934,249,250,249,248
24,Mississippi,358459,15047,227,234,235,241
25,Missouri,395952,17924,241,239,240,238
26,Montana,23875,676,244,241,241,241
27,Nebraska,259429,3535,239,244,246,244
28,Nevada,259808,11975,235,234,232,236
29,New Hampshire,117245,4507,251,249,245,245
30,New Jersey,5645458,332869,247,245,248,246
31,New Mexico,177827,6867,230,231,230,231
32,New York,15041806,1081194,241,237,236,237
33,North Carolina,568719,19258,244,244,241,241
34,North Dakota,55932,1219,245,245,244,243
35,Ohio,908834,47879,244,244,241,241
36,Oklahoma,187462,10394,237,240,237,237
37,Oregon,134979,5067,238,238,233,236
38,Pennsylvania,2320771,127278,244,243,242,244
39,Rhode Island,401931,14251,239,238,238,239
40,South Carolina,313173,11859,236,237,234,237
41,South Dakota,122292,1121,242,240,242,241
42,Tennessee,583792,10198,232,241,237,240
43,Texas,1553075,41267,240,244,241,244
44,Utah,245859,2472,240,243,242,244
45,Vermont,45230,2320,248,243,241,239
46,Virginia,866807,28754,243,247,248,247
47,Washington,807848,42371,242,245,242,240
48,West Virginia,56158,1950,233,235,236,231
49,Wisconsin,393823,15587,244,243,240,242
50,Wyoming,28407,281,242,247,248,246

In [135]:
COVID4sciencemath = pd.merge(COVID4math, fourscience, how = 'left', on = 'State')
COVID4sciencemath

,State,cases,deaths,4th 2009 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math,4th 2009 Science,4th 2015 Science
0,Alabama,387786,14345,228,231,232,230,143,145
1,Alaska,18316,367,237,236,230,232,151,154
2,Arizona,426614,18857,230,238,234,238,138,149
3,Arkansas,161569,3301,238,235,234,233,146,150
4,California,2664110,102387,232,232,232,235,136,140
5,Colorado,766512,37828,243,242,241,242,155,154
6,Connecticut,1314995,104185,245,240,239,243,156,154
7,Delaware,234327,7813,239,239,236,239,153,150
8,District of Columbia,229466,10822,219,231,231,235,151,154
9,Florida,1726811,63147,242,243,246,246,151,158
10,Georgia,1282091,54209,236,236,236,238,144,152
11,Hawaii,31433,681,236,238,238,239,140,146
12,Idaho,103987,2828,241,239,240,242,154,156
13,Illinois,2843621,122000,238,237,238,237,148,151
14,Indiana,920434,53042,243,248,247,245,153,159
15,Iowa,396980,9203,243,243,243,241,157,159
16,Kansas,231885,6527,245,241,241,239,151,154
17,Kentucky,246480,11851,239,242,239,239,161,160
18,Louisiana,1443404,90609,229,234,229,231,141,154
19,Maine,61284,2451,244,242,240,241,160,158
20,Maryland,1173802,56126,244,239,241,239,150,153
21,Massachusetts,2929874,167711,252,251,249,247,160,161
22,Michigan,2023047,171867,236,236,236,236,150,154
23,Minnesota,377850,18934,249,250,249,248,158,157
24,Mississippi,358459,15047,227,234,235,241,133,140
25,Missouri,395952,17924,241,239,240,238,156,155
26,Montana,23875,676,244,241,241,241,160,159
27,Nebraska,259429,3535,239,244,246,244,151,162
28,Nevada,259808,11975,235,234,232,236,141,142
29,New Hampshire,117245,4507,251,249,245,245,163,165
30,New Jersey,5645458,332869,247,245,248,246,155,155
31,New Mexico,177827,6867,230,231,230,231,142,143
32,New York,15041806,1081194,241,237,236,237,148,150
33,North Carolina,568719,19258,244,244,241,241,148,154
34,North Dakota,55932,1219,245,245,244,243,162,161
35,Ohio,908834,47879,244,244,241,241,157,157
36,Oklahoma,187462,10394,237,240,237,237,148,153
37,Oregon,134979,5067,238,238,233,236,151,153
38,Pennsylvania,2320771,127278,244,243,242,244,154,154
39,Rhode Island,401931,14251,239,238,238,239,150,152
40,South Carolina,313173,11859,236,237,234,237,149,155
41,South Dakota,122292,1121,242,240,242,241,157,157
42,Tennessee,583792,10198,232,241,237,240,148,157
43,Texas,1553075,41267,240,244,241,244,148,155
44,Utah,245859,2472,240,243,242,244,154,160
45,Vermont,45230,2320,248,243,241,239,151,163
46,Virginia,866807,28754,243,247,248,247,162,165
47,Washington,807848,42371,242,245,242,240,151,158
48,West Virginia,56158,1950,233,235,236,231,148,151
49,Wisconsin,393823,15587,244,243,240,242,157,156
50,Wyoming,28407,281,242,247,248,246,156,161

In [136]:
eightscience = pd.read_excel('eighth-grade-science-performance.xlsx')
eightscience.head()

,Table S-7,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,"Eighth Grade Science Performance, by state: 20...",NaN,NaN,NaN
1,NaN,(Score out of 300),NaN,NaN
2,State,2009,2011.0,2015.0
3,United States,149,151.0,153.0
4,Alabama,139,140.0,141.0

In [137]:
eightscience = eightscience.rename(columns = {'Table S-7' : 'State',
                                   'Unnamed: 1' : '8th 2009 science',
                                   'Unnamed: 2' : '8th 2011 science',
                                   'Unnamed: 3' : '8th 2015 science'})

eightscience.drop(range(0,4), inplace = True)

eightscience.head()

        State 8th 2009 science  8th 2011 science  8th 2015 science
4     Alabama              139             140.0             141.0
5      Alaska              NaN             153.0               NaN
6     Arizona              141             144.0             148.0
7    Arkansas              144             148.0             148.0
8  California              137             140.0             143.0

In [138]:
eightscience = eightscience.reset_index(drop = True)

eightscience.head()

        State 8th 2009 science  8th 2011 science  8th 2015 science
0     Alabama              139             140.0             141.0
1      Alaska              NaN             153.0               NaN
2     Arizona              141             144.0             148.0
3    Arkansas              144             148.0             148.0
4  California              137             140.0             143.0

In [139]:
eightscience.drop(range(51,60), inplace = True)
eightscience.State

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

In [140]:
eightscience = eightscience.fillna(eightscience.mean())
eightscience

                   State  8th 2009 science  8th 2011 science  8th 2015 science
0                Alabama        139.000000             140.0        141.000000
1                 Alaska        150.695652             153.0        154.586957
2                Arizona        141.000000             144.0        148.000000
3               Arkansas        144.000000             148.0        148.000000
4             California        137.000000             140.0        143.000000
5               Colorado        156.000000             161.0        154.586957
6            Connecticut        155.000000             155.0        155.000000
7               Delaware        148.000000             150.0        149.000000
8   District of Columbia        150.695652             112.0        154.586957
9                Florida        146.000000             148.0        153.000000
10               Georgia        147.000000             151.0        152.000000
11                Hawaii        139.000000             142.0        144.000000
12                 Idaho        158.000000             159.0        160.000000
13              Illinois        148.000000             147.0        150.000000
14               Indiana        152.000000             153.0        156.000000
15                  Iowa        156.000000             157.0        159.000000
16                Kansas        150.695652             156.0        155.000000
17              Kentucky        156.000000             157.0        157.000000
18             Louisiana        139.000000             143.0        154.586957
19                 Maine        158.000000             160.0        160.000000
20              Maryland        148.000000             152.0        155.000000
21         Massachusetts        160.000000             161.0        162.000000
22              Michigan        153.000000             157.0        155.000000
23             Minnesota        159.000000             161.0        162.000000
24           Mississippi        132.000000             137.0        140.000000
25              Missouri        156.000000             156.0        159.000000
26               Montana        162.000000             163.0        161.000000
27              Nebraska        150.695652             157.0        160.000000
28                Nevada        141.000000             144.0        149.000000
29         New Hampshire        160.000000             162.0        165.000000
30            New Jersey        155.000000             155.0        156.000000
31            New Mexico        143.000000             145.0        143.000000
32              New York        149.000000             149.0        150.000000
33        North Carolina        144.000000             148.0        150.000000
34          North Dakota        162.000000             164.0        161.000000
35                  Ohio        158.000000             158.0        157.000000
36              Oklahoma        146.000000             148.0        151.000000
37                Oregon        154.000000             155.0        156.000000
38          Pennsylvania        154.000000             151.0        154.586957
39          Rhode Island        146.000000             149.0        151.000000
40        South Carolina        143.000000             149.0        151.000000
41          South Dakota        161.000000             162.0        160.000000
42             Tennessee        148.000000             150.0        156.000000
43                 Texas        150.000000             153.0        156.000000
44                  Utah        158.000000             161.0        166.000000
45               Vermont        150.695652             163.0        163.000000
46              Virginia        156.000000             160.0        160.000000
47            Washington        155.000000             156.0        157.000000
48         West Virginia        145.000000             149.0        150.000000
49             Wisconsin        157.000000             159.0        159.000000
50               Wyoming        158.000000             160.0        160.000000

In [141]:
eightscience = eightscience.astype({'8th 2009 science':'int32',
                                    '8th 2011 science':'int32',
                                    '8th 2015 science':'int32'})

eightscience

                   State  8th 2009 science  8th 2011 science  8th 2015 science
0                Alabama               139               140               141
1                 Alaska               150               153               154
2                Arizona               141               144               148
3               Arkansas               144               148               148
4             California               137               140               143
5               Colorado               156               161               154
6            Connecticut               155               155               155
7               Delaware               148               150               149
8   District of Columbia               150               112               154
9                Florida               146               148               153
10               Georgia               147               151               152
11                Hawaii               139               142               144
12                 Idaho               158               159               160
13              Illinois               148               147               150
14               Indiana               152               153               156
15                  Iowa               156               157               159
16                Kansas               150               156               155
17              Kentucky               156               157               157
18             Louisiana               139               143               154
19                 Maine               158               160               160
20              Maryland               148               152               155
21         Massachusetts               160               161               162
22              Michigan               153               157               155
23             Minnesota               159               161               162
24           Mississippi               132               137               140
25              Missouri               156               156               159
26               Montana               162               163               161
27              Nebraska               150               157               160
28                Nevada               141               144               149
29         New Hampshire               160               162               165
30            New Jersey               155               155               156
31            New Mexico               143               145               143
32              New York               149               149               150
33        North Carolina               144               148               150
34          North Dakota               162               164               161
35                  Ohio               158               158               157
36              Oklahoma               146               148               151
37                Oregon               154               155               156
38          Pennsylvania               154               151               154
39          Rhode Island               146               149               151
40        South Carolina               143               149               151
41          South Dakota               161               162               160
42             Tennessee               148               150               156
43                 Texas               150               153               156
44                  Utah               158               161               166
45               Vermont               150               163               163
46              Virginia               156               160               160
47            Washington               155               156               157
48         West Virginia               145               149               150
49             Wisconsin               157               159               159
50               Wyoming               158               160               160

In [142]:
COVID8science = pd.merge(COVIDCases, eightscience, how = 'left', on = 'State')
COVID8science

,State,fips,cases,deaths,8th 2009 science,8th 2011 science,8th 2015 science
0,Alabama,73,387786,14345,139,140,141
1,Alaska,148,18316,367,150,153,154
2,Arizona,480,426614,18857,141,144,148
3,Arkansas,375,161569,3301,144,148,148
4,California,726,2664110,102387,137,140,143
5,Colorado,648,766512,37828,156,161,154
6,Connecticut,702,1314995,104185,155,155,155
7,Delaware,750,234327,7813,148,150,149
8,District of Columbia,869,229466,10822,150,112,154
9,Florida,1020,1726811,63147,146,148,153
10,Georgia,1092,1282091,54209,147,151,152
11,Hawaii,1200,31433,681,139,142,144
12,Idaho,1168,103987,2828,158,159,160
13,Illinois,2074,2843621,122000,148,147,150
14,Indiana,1440,920434,53042,152,153,156
15,Iowa,1482,396980,9203,156,157,159
16,Kansas,1580,231885,6527,150,156,155
17,Kentucky,1680,246480,11851,156,157,157
18,Louisiana,1694,1443404,90609,139,143,154
19,Maine,1702,61284,2451,158,160,160
20,Maryland,1944,1173802,56126,148,152,155
21,Massachusetts,2850,2929874,167711,160,161,162
22,Michigan,1976,2023047,171867,153,157,155
23,Minnesota,2160,377850,18934,159,161,162
24,Mississippi,2100,358459,15047,132,137,140
25,Missouri,2291,395952,17924,156,156,159
26,Montana,2190,23875,676,162,163,161
27,Nebraska,3038,259429,3535,150,157,160
28,Nevada,2592,259808,11975,141,144,149
29,New Hampshire,2772,117245,4507,160,162,165
30,New Jersey,2788,5645458,332869,155,155,156
31,New Mexico,2625,177827,6867,143,145,143
32,New York,3060,15041806,1081194,149,149,150
33,North Carolina,3071,568719,19258,144,148,150
34,North Dakota,2850,55932,1219,162,164,161
35,Ohio,3003,908834,47879,158,158,157
36,Oklahoma,3200,187462,10394,146,148,151
37,Oregon,3567,134979,5067,154,155,156
38,Pennsylvania,3360,2320771,127278,154,151,154
39,Rhode Island,3740,401931,14251,146,149,151
40,South Carolina,3600,313173,11859,143,149,151
41,South Dakota,3496,122292,1121,161,162,160
42,Tennessee,3807,583792,10198,148,150,156
43,Texas,4944,1553075,41267,150,153,156
44,Utah,4410,245859,2472,158,161,166
45,Vermont,3950,45230,2320,150,163,163
46,Virginia,4029,866807,28754,156,160,160
47,Washington,6625,807848,42371,155,156,157
48,West Virginia,3726,56158,1950,145,149,150
49,Wisconsin,6050,393823,15587,157,159,159
50,Wyoming,4200,28407,281,158,160,160

In [143]:
COVID8science = COVID8science.drop(['fips'], axis = 1)
COVID8science

,State,cases,deaths,8th 2009 science,8th 2011 science,8th 2015 science
0,Alabama,387786,14345,139,140,141
1,Alaska,18316,367,150,153,154
2,Arizona,426614,18857,141,144,148
3,Arkansas,161569,3301,144,148,148
4,California,2664110,102387,137,140,143
5,Colorado,766512,37828,156,161,154
6,Connecticut,1314995,104185,155,155,155
7,Delaware,234327,7813,148,150,149
8,District of Columbia,229466,10822,150,112,154
9,Florida,1726811,63147,146,148,153
10,Georgia,1282091,54209,147,151,152
11,Hawaii,31433,681,139,142,144
12,Idaho,103987,2828,158,159,160
13,Illinois,2843621,122000,148,147,150
14,Indiana,920434,53042,152,153,156
15,Iowa,396980,9203,156,157,159
16,Kansas,231885,6527,150,156,155
17,Kentucky,246480,11851,156,157,157
18,Louisiana,1443404,90609,139,143,154
19,Maine,61284,2451,158,160,160
20,Maryland,1173802,56126,148,152,155
21,Massachusetts,2929874,167711,160,161,162
22,Michigan,2023047,171867,153,157,155
23,Minnesota,377850,18934,159,161,162
24,Mississippi,358459,15047,132,137,140
25,Missouri,395952,17924,156,156,159
26,Montana,23875,676,162,163,161
27,Nebraska,259429,3535,150,157,160
28,Nevada,259808,11975,141,144,149
29,New Hampshire,117245,4507,160,162,165
30,New Jersey,5645458,332869,155,155,156
31,New Mexico,177827,6867,143,145,143
32,New York,15041806,1081194,149,149,150
33,North Carolina,568719,19258,144,148,150
34,North Dakota,55932,1219,162,164,161
35,Ohio,908834,47879,158,158,157
36,Oklahoma,187462,10394,146,148,151
37,Oregon,134979,5067,154,155,156
38,Pennsylvania,2320771,127278,154,151,154
39,Rhode Island,401931,14251,146,149,151
40,South Carolina,313173,11859,143,149,151
41,South Dakota,122292,1121,161,162,160
42,Tennessee,583792,10198,148,150,156
43,Texas,1553075,41267,150,153,156
44,Utah,245859,2472,158,161,166
45,Vermont,45230,2320,150,163,163
46,Virginia,866807,28754,156,160,160
47,Washington,807848,42371,155,156,157
48,West Virginia,56158,1950,145,149,150
49,Wisconsin,393823,15587,157,159,159
50,Wyoming,28407,281,158,160,160

In [144]:
eightmath = pd.read_excel('eighth-grade-math-performance.xlsx')
eightmath

,Table S-5,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"Eighth Grade Mathematics Performance, by state...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,(Score out of 500),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2000,2003,2005,2007.0,2009.0,2011.0,2013.0,2015.0,2017.0,2019.0
3,United States,272,276,278,280.0,282.0,283.0,284.0,281.0,282.0,281.0
4,Alabama,264,262,262,266.0,269.0,269.0,269.0,267.0,268.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...
59,NOTES: The National Assessment of Educational ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Last updated: April 29, 2020",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
eightmath = eightmath.rename(columns = {'Table S-5' : 'State',
                                   'Unnamed: 1' : '8th 2000 Math',
                                   'Unnamed: 2' : '8th 2003 Math',
                                   'Unnamed: 3' : '8th 2005 Math',
                                   'Unnamed: 4' : '8th 2007 Math',
                                   'Unnamed: 5' : '8th 2009 Math',
                                   'Unnamed: 6' : '8th 2011 Math',
                                   'Unnamed: 7' : '8th 2013 Math',
                                   'Unnamed: 8' : '8th 2015 Math',
                                   'Unnamed: 9' : '8th 2017 Math',
                                   'Unnamed: 10': '8th 2019 Math' })

eightmath.drop(range(0,4), inplace = True)

eightmath.head()

,State,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
4,Alabama,264,262,262,266.0,269.0,269.0,269.0,267.0,268.0,269.0
5,Alaska,NaN,279,279,283.0,283.0,283.0,282.0,280.0,277.0,274.0
6,Arizona,269,271,274,276.0,277.0,279.0,280.0,283.0,282.0,280.0
7,Arkansas,257,266,272,274.0,276.0,279.0,278.0,275.0,274.0,274.0
8,California,260,267,269,270.0,270.0,273.0,276.0,275.0,277.0,276.0

In [146]:
eightmath = eightmath.reset_index(drop = True)

eightmath.head()

,State,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,264,262,262,266.0,269.0,269.0,269.0,267.0,268.0,269.0
1,Alaska,NaN,279,279,283.0,283.0,283.0,282.0,280.0,277.0,274.0
2,Arizona,269,271,274,276.0,277.0,279.0,280.0,283.0,282.0,280.0
3,Arkansas,257,266,272,274.0,276.0,279.0,278.0,275.0,274.0,274.0
4,California,260,267,269,270.0,270.0,273.0,276.0,275.0,277.0,276.0

In [147]:
eightmath.drop(range(51,60), inplace = True)
eightmath.State

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

In [148]:
eightmath = eightmath.fillna(eightmath.mean())
eightmath

,State,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,264.000,262,262,266.0,269.0,269.0,269.0,267.0,268.0,269.0
1,Alaska,271.225,279,279,283.0,283.0,283.0,282.0,280.0,277.0,274.0
2,Arizona,269.000,271,274,276.0,277.0,279.0,280.0,283.0,282.0,280.0
3,Arkansas,257.000,266,272,274.0,276.0,279.0,278.0,275.0,274.0,274.0
4,California,260.000,267,269,270.0,270.0,273.0,276.0,275.0,277.0,276.0
5,Colorado,271.225,283,281,286.0,287.0,292.0,290.0,286.0,286.0,285.0
6,Connecticut,281.000,284,281,282.0,289.0,287.0,285.0,284.0,284.0,286.0
7,Delaware,271.225,277,281,283.0,284.0,283.0,282.0,280.0,278.0,277.0
8,District of Columbia,235.000,243,245,248.0,254.0,260.0,265.0,263.0,266.0,269.0
9,Florida,271.225,271,274,277.0,279.0,278.0,281.0,275.0,279.0,279.0
10,Georgia,265.000,270,272,275.0,278.0,278.0,279.0,279.0,281.0,279.0
11,Hawaii,262.000,266,266,269.0,274.0,278.0,281.0,279.0,277.0,275.0
12,Idaho,277.000,280,281,284.0,287.0,287.0,286.0,284.0,284.0,286.0
13,Illinois,275.000,277,278,280.0,282.0,283.0,285.0,282.0,282.0,283.0
14,Indiana,281.000,281,282,285.0,287.0,285.0,288.0,287.0,288.0,286.0
15,Iowa,271.225,284,284,285.0,284.0,285.0,285.0,286.0,286.0,282.0
16,Kansas,283.000,284,284,290.0,289.0,290.0,290.0,284.0,285.0,282.0
17,Kentucky,270.000,274,274,279.0,279.0,282.0,281.0,278.0,278.0,278.0
18,Louisiana,259.000,266,268,272.0,272.0,273.0,273.0,268.0,267.0,272.0
19,Maine,281.000,282,281,286.0,286.0,289.0,289.0,285.0,284.0,282.0
20,Maryland,272.000,278,278,286.0,288.0,288.0,287.0,283.0,281.0,280.0
21,Massachusetts,279.000,287,292,298.0,299.0,299.0,301.0,297.0,297.0,294.0
22,Michigan,277.000,276,277,277.0,278.0,280.0,280.0,278.0,280.0,280.0
23,Minnesota,287.000,291,290,292.0,294.0,295.0,295.0,294.0,294.0,291.0
24,Mississippi,254.000,261,262,265.0,265.0,269.0,271.0,271.0,271.0,274.0
25,Missouri,271.000,279,276,281.0,286.0,282.0,283.0,281.0,281.0,281.0
26,Montana,285.000,286,286,287.0,292.0,293.0,289.0,287.0,286.0,284.0
27,Nebraska,280.000,282,284,284.0,284.0,283.0,285.0,286.0,288.0,285.0
28,Nevada,265.000,268,270,271.0,274.0,278.0,278.0,275.0,275.0,274.0
29,New Hampshire,271.225,286,285,288.0,292.0,292.0,296.0,294.0,293.0,287.0
30,New Jersey,271.225,281,284,289.0,293.0,294.0,296.0,293.0,292.0,292.0
31,New Mexico,259.000,263,263,268.0,270.0,274.0,273.0,271.0,269.0,269.0
32,New York,271.000,280,280,280.0,283.0,280.0,282.0,280.0,282.0,280.0
33,North Carolina,276.000,281,282,284.0,284.0,286.0,286.0,281.0,282.0,284.0
34,North Dakota,282.000,287,287,292.0,293.0,292.0,291.0,288.0,288.0,286.0
35,Ohio,281.000,282,283,285.0,286.0,289.0,290.0,285.0,288.0,286.0
36,Oklahoma,270.000,272,271,275.0,276.0,279.0,276.0,275.0,275.0,276.0
37,Oregon,280.000,281,282,284.0,285.0,283.0,284.0,283.0,282.0,280.0
38,Pennsylvania,271.225,279,281,286.0,288.0,286.0,290.0,284.0,286.0,285.0
39,Rhode Island,269.000,272,272,275.0,278.0,283.0,284.0,281.0,277.0,276.0
40,South Carolina,265.000,277,281,282.0,280.0,281.0,280.0,276.0,275.0,276.0
41,South Dakota,271.225,285,287,288.0,291.0,291.0,287.0,285.0,286.0,287.0
42,Tennessee,262.000,268,271,274.0,275.0,274.0,278.0,278.0,279.0,280.0
43,Texas,273.000,277,281,286.0,287.0,290.0,288.0,284.0,282.0,280.0
44,Utah,274.000,281,279,281.0,284.0,283.0,284.0,286.0,287.0,285.0
45,Vermont,281.000,286,287,291.0,293.0,294.0,295.0,290.0,288.0,287.0
46,Virginia,275.000,282,284,288.0,286.0,289.0,288.0,288.0,290.0,287.0
47,Washington,271.225,281,285,285.0,289.0,288.0,290.0,287.0,289.0,286.0
48,West Virginia,266.000,271,269,270.0,270.0,273.0,274.0,271.0,273.0,272.0
49,Wisconsin,271.225,284,285,286.0,288.0,289.0,289.0,289.0,288.0,289.0
50,Wyoming,276.000,284,282,287.0,286.0,288.0,288.0,287.0,289.0,286.0

In [149]:
eightmath = eightmath.astype({'8th 2000 Math': 'int32',
                                  '8th 2003 Math': 'int32',
                                  '8th 2005 Math': 'int32',
                                  '8th 2007 Math': 'int32',
                                  '8th 2009 Math': 'int32',
                                  '8th 2011 Math': 'int32',
                                  '8th 2013 Math': 'int32',
                                  '8th 2015 Math': 'int32',
                                  '8th 2017 Math': 'int32',
                                  '8th 2019 Math': 'int32' })

eightmath

,State,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,264,262,262,266,269,269,269,267,268,269
1,Alaska,271,279,279,283,283,283,282,280,277,274
2,Arizona,269,271,274,276,277,279,280,283,282,280
3,Arkansas,257,266,272,274,276,279,278,275,274,274
4,California,260,267,269,270,270,273,276,275,277,276
5,Colorado,271,283,281,286,287,292,290,286,286,285
6,Connecticut,281,284,281,282,289,287,285,284,284,286
7,Delaware,271,277,281,283,284,283,282,280,278,277
8,District of Columbia,235,243,245,248,254,260,265,263,266,269
9,Florida,271,271,274,277,279,278,281,275,279,279
10,Georgia,265,270,272,275,278,278,279,279,281,279
11,Hawaii,262,266,266,269,274,278,281,279,277,275
12,Idaho,277,280,281,284,287,287,286,284,284,286
13,Illinois,275,277,278,280,282,283,285,282,282,283
14,Indiana,281,281,282,285,287,285,288,287,288,286
15,Iowa,271,284,284,285,284,285,285,286,286,282
16,Kansas,283,284,284,290,289,290,290,284,285,282
17,Kentucky,270,274,274,279,279,282,281,278,278,278
18,Louisiana,259,266,268,272,272,273,273,268,267,272
19,Maine,281,282,281,286,286,289,289,285,284,282
20,Maryland,272,278,278,286,288,288,287,283,281,280
21,Massachusetts,279,287,292,298,299,299,301,297,297,294
22,Michigan,277,276,277,277,278,280,280,278,280,280
23,Minnesota,287,291,290,292,294,295,295,294,294,291
24,Mississippi,254,261,262,265,265,269,271,271,271,274
25,Missouri,271,279,276,281,286,282,283,281,281,281
26,Montana,285,286,286,287,292,293,289,287,286,284
27,Nebraska,280,282,284,284,284,283,285,286,288,285
28,Nevada,265,268,270,271,274,278,278,275,275,274
29,New Hampshire,271,286,285,288,292,292,296,294,293,287
30,New Jersey,271,281,284,289,293,294,296,293,292,292
31,New Mexico,259,263,263,268,270,274,273,271,269,269
32,New York,271,280,280,280,283,280,282,280,282,280
33,North Carolina,276,281,282,284,284,286,286,281,282,284
34,North Dakota,282,287,287,292,293,292,291,288,288,286
35,Ohio,281,282,283,285,286,289,290,285,288,286
36,Oklahoma,270,272,271,275,276,279,276,275,275,276
37,Oregon,280,281,282,284,285,283,284,283,282,280
38,Pennsylvania,271,279,281,286,288,286,290,284,286,285
39,Rhode Island,269,272,272,275,278,283,284,281,277,276
40,South Carolina,265,277,281,282,280,281,280,276,275,276
41,South Dakota,271,285,287,288,291,291,287,285,286,287
42,Tennessee,262,268,271,274,275,274,278,278,279,280
43,Texas,273,277,281,286,287,290,288,284,282,280
44,Utah,274,281,279,281,284,283,284,286,287,285
45,Vermont,281,286,287,291,293,294,295,290,288,287
46,Virginia,275,282,284,288,286,289,288,288,290,287
47,Washington,271,281,285,285,289,288,290,287,289,286
48,West Virginia,266,271,269,270,270,273,274,271,273,272
49,Wisconsin,271,284,285,286,288,289,289,289,288,289
50,Wyoming,276,284,282,287,286,288,288,287,289,286

In [150]:
COVID8math = pd.merge(COVIDCases, eightmath, how = 'left', on = 'State')
COVID8math

,State,fips,cases,deaths,8th 2000 Math,8th 2003 Math,8th 2005 Math,8th 2007 Math,8th 2009 Math,8th 2011 Math,8th 2013 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,73,387786,14345,264,262,262,266,269,269,269,267,268,269
1,Alaska,148,18316,367,271,279,279,283,283,283,282,280,277,274
2,Arizona,480,426614,18857,269,271,274,276,277,279,280,283,282,280
3,Arkansas,375,161569,3301,257,266,272,274,276,279,278,275,274,274
4,California,726,2664110,102387,260,267,269,270,270,273,276,275,277,276
5,Colorado,648,766512,37828,271,283,281,286,287,292,290,286,286,285
6,Connecticut,702,1314995,104185,281,284,281,282,289,287,285,284,284,286
7,Delaware,750,234327,7813,271,277,281,283,284,283,282,280,278,277
8,District of Columbia,869,229466,10822,235,243,245,248,254,260,265,263,266,269
9,Florida,1020,1726811,63147,271,271,274,277,279,278,281,275,279,279
10,Georgia,1092,1282091,54209,265,270,272,275,278,278,279,279,281,279
11,Hawaii,1200,31433,681,262,266,266,269,274,278,281,279,277,275
12,Idaho,1168,103987,2828,277,280,281,284,287,287,286,284,284,286
13,Illinois,2074,2843621,122000,275,277,278,280,282,283,285,282,282,283
14,Indiana,1440,920434,53042,281,281,282,285,287,285,288,287,288,286
15,Iowa,1482,396980,9203,271,284,284,285,284,285,285,286,286,282
16,Kansas,1580,231885,6527,283,284,284,290,289,290,290,284,285,282
17,Kentucky,1680,246480,11851,270,274,274,279,279,282,281,278,278,278
18,Louisiana,1694,1443404,90609,259,266,268,272,272,273,273,268,267,272
19,Maine,1702,61284,2451,281,282,281,286,286,289,289,285,284,282
20,Maryland,1944,1173802,56126,272,278,278,286,288,288,287,283,281,280
21,Massachusetts,2850,2929874,167711,279,287,292,298,299,299,301,297,297,294
22,Michigan,1976,2023047,171867,277,276,277,277,278,280,280,278,280,280
23,Minnesota,2160,377850,18934,287,291,290,292,294,295,295,294,294,291
24,Mississippi,2100,358459,15047,254,261,262,265,265,269,271,271,271,274
25,Missouri,2291,395952,17924,271,279,276,281,286,282,283,281,281,281
26,Montana,2190,23875,676,285,286,286,287,292,293,289,287,286,284
27,Nebraska,3038,259429,3535,280,282,284,284,284,283,285,286,288,285
28,Nevada,2592,259808,11975,265,268,270,271,274,278,278,275,275,274
29,New Hampshire,2772,117245,4507,271,286,285,288,292,292,296,294,293,287
30,New Jersey,2788,5645458,332869,271,281,284,289,293,294,296,293,292,292
31,New Mexico,2625,177827,6867,259,263,263,268,270,274,273,271,269,269
32,New York,3060,15041806,1081194,271,280,280,280,283,280,282,280,282,280
33,North Carolina,3071,568719,19258,276,281,282,284,284,286,286,281,282,284
34,North Dakota,2850,55932,1219,282,287,287,292,293,292,291,288,288,286
35,Ohio,3003,908834,47879,281,282,283,285,286,289,290,285,288,286
36,Oklahoma,3200,187462,10394,270,272,271,275,276,279,276,275,275,276
37,Oregon,3567,134979,5067,280,281,282,284,285,283,284,283,282,280
38,Pennsylvania,3360,2320771,127278,271,279,281,286,288,286,290,284,286,285
39,Rhode Island,3740,401931,14251,269,272,272,275,278,283,284,281,277,276
40,South Carolina,3600,313173,11859,265,277,281,282,280,281,280,276,275,276
41,South Dakota,3496,122292,1121,271,285,287,288,291,291,287,285,286,287
42,Tennessee,3807,583792,10198,262,268,271,274,275,274,278,278,279,280
43,Texas,4944,1553075,41267,273,277,281,286,287,290,288,284,282,280
44,Utah,4410,245859,2472,274,281,279,281,284,283,284,286,287,285
45,Vermont,3950,45230,2320,281,286,287,291,293,294,295,290,288,287
46,Virginia,4029,866807,28754,275,282,284,288,286,289,288,288,290,287
47,Washington,6625,807848,42371,271,281,285,285,289,288,290,287,289,286
48,West Virginia,3726,56158,1950,266,271,269,270,270,273,274,271,273,272
49,Wisconsin,6050,393823,15587,271,284,285,286,288,289,289,289,288,289
50,Wyoming,4200,28407,281,276,284,282,287,286,288,288,287,289,286

In [151]:
COVID8math = COVID8math.drop(['fips','8th 2000 Math','8th 2003 Math','8th 2005 Math','8th 2007 Math','8th 2011 Math','8th 2013 Math'], axis = 1)
COVID8math

,State,cases,deaths,8th 2009 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math
0,Alabama,387786,14345,269,267,268,269
1,Alaska,18316,367,283,280,277,274
2,Arizona,426614,18857,277,283,282,280
3,Arkansas,161569,3301,276,275,274,274
4,California,2664110,102387,270,275,277,276
5,Colorado,766512,37828,287,286,286,285
6,Connecticut,1314995,104185,289,284,284,286
7,Delaware,234327,7813,284,280,278,277
8,District of Columbia,229466,10822,254,263,266,269
9,Florida,1726811,63147,279,275,279,279
10,Georgia,1282091,54209,278,279,281,279
11,Hawaii,31433,681,274,279,277,275
12,Idaho,103987,2828,287,284,284,286
13,Illinois,2843621,122000,282,282,282,283
14,Indiana,920434,53042,287,287,288,286
15,Iowa,396980,9203,284,286,286,282
16,Kansas,231885,6527,289,284,285,282
17,Kentucky,246480,11851,279,278,278,278
18,Louisiana,1443404,90609,272,268,267,272
19,Maine,61284,2451,286,285,284,282
20,Maryland,1173802,56126,288,283,281,280
21,Massachusetts,2929874,167711,299,297,297,294
22,Michigan,2023047,171867,278,278,280,280
23,Minnesota,377850,18934,294,294,294,291
24,Mississippi,358459,15047,265,271,271,274
25,Missouri,395952,17924,286,281,281,281
26,Montana,23875,676,292,287,286,284
27,Nebraska,259429,3535,284,286,288,285
28,Nevada,259808,11975,274,275,275,274
29,New Hampshire,117245,4507,292,294,293,287
30,New Jersey,5645458,332869,293,293,292,292
31,New Mexico,177827,6867,270,271,269,269
32,New York,15041806,1081194,283,280,282,280
33,North Carolina,568719,19258,284,281,282,284
34,North Dakota,55932,1219,293,288,288,286
35,Ohio,908834,47879,286,285,288,286
36,Oklahoma,187462,10394,276,275,275,276
37,Oregon,134979,5067,285,283,282,280
38,Pennsylvania,2320771,127278,288,284,286,285
39,Rhode Island,401931,14251,278,281,277,276
40,South Carolina,313173,11859,280,276,275,276
41,South Dakota,122292,1121,291,285,286,287
42,Tennessee,583792,10198,275,278,279,280
43,Texas,1553075,41267,287,284,282,280
44,Utah,245859,2472,284,286,287,285
45,Vermont,45230,2320,293,290,288,287
46,Virginia,866807,28754,286,288,290,287
47,Washington,807848,42371,289,287,289,286
48,West Virginia,56158,1950,270,271,273,272
49,Wisconsin,393823,15587,288,289,288,289
50,Wyoming,28407,281,286,287,289,286

In [152]:
COVID8sciencemath = pd.merge(COVID8math, eightscience, how = 'left', on = 'State')
COVID8sciencemath

,State,cases,deaths,8th 2009 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math,8th 2009 science,8th 2011 science,8th 2015 science
0,Alabama,387786,14345,269,267,268,269,139,140,141
1,Alaska,18316,367,283,280,277,274,150,153,154
2,Arizona,426614,18857,277,283,282,280,141,144,148
3,Arkansas,161569,3301,276,275,274,274,144,148,148
4,California,2664110,102387,270,275,277,276,137,140,143
5,Colorado,766512,37828,287,286,286,285,156,161,154
6,Connecticut,1314995,104185,289,284,284,286,155,155,155
7,Delaware,234327,7813,284,280,278,277,148,150,149
8,District of Columbia,229466,10822,254,263,266,269,150,112,154
9,Florida,1726811,63147,279,275,279,279,146,148,153
10,Georgia,1282091,54209,278,279,281,279,147,151,152
11,Hawaii,31433,681,274,279,277,275,139,142,144
12,Idaho,103987,2828,287,284,284,286,158,159,160
13,Illinois,2843621,122000,282,282,282,283,148,147,150
14,Indiana,920434,53042,287,287,288,286,152,153,156
15,Iowa,396980,9203,284,286,286,282,156,157,159
16,Kansas,231885,6527,289,284,285,282,150,156,155
17,Kentucky,246480,11851,279,278,278,278,156,157,157
18,Louisiana,1443404,90609,272,268,267,272,139,143,154
19,Maine,61284,2451,286,285,284,282,158,160,160
20,Maryland,1173802,56126,288,283,281,280,148,152,155
21,Massachusetts,2929874,167711,299,297,297,294,160,161,162
22,Michigan,2023047,171867,278,278,280,280,153,157,155
23,Minnesota,377850,18934,294,294,294,291,159,161,162
24,Mississippi,358459,15047,265,271,271,274,132,137,140
25,Missouri,395952,17924,286,281,281,281,156,156,159
26,Montana,23875,676,292,287,286,284,162,163,161
27,Nebraska,259429,3535,284,286,288,285,150,157,160
28,Nevada,259808,11975,274,275,275,274,141,144,149
29,New Hampshire,117245,4507,292,294,293,287,160,162,165
30,New Jersey,5645458,332869,293,293,292,292,155,155,156
31,New Mexico,177827,6867,270,271,269,269,143,145,143
32,New York,15041806,1081194,283,280,282,280,149,149,150
33,North Carolina,568719,19258,284,281,282,284,144,148,150
34,North Dakota,55932,1219,293,288,288,286,162,164,161
35,Ohio,908834,47879,286,285,288,286,158,158,157
36,Oklahoma,187462,10394,276,275,275,276,146,148,151
37,Oregon,134979,5067,285,283,282,280,154,155,156
38,Pennsylvania,2320771,127278,288,284,286,285,154,151,154
39,Rhode Island,401931,14251,278,281,277,276,146,149,151
40,South Carolina,313173,11859,280,276,275,276,143,149,151
41,South Dakota,122292,1121,291,285,286,287,161,162,160
42,Tennessee,583792,10198,275,278,279,280,148,150,156
43,Texas,1553075,41267,287,284,282,280,150,153,156
44,Utah,245859,2472,284,286,287,285,158,161,166
45,Vermont,45230,2320,293,290,288,287,150,163,163
46,Virginia,866807,28754,286,288,290,287,156,160,160
47,Washington,807848,42371,289,287,289,286,155,156,157
48,West Virginia,56158,1950,270,271,273,272,145,149,150
49,Wisconsin,393823,15587,288,289,288,289,157,159,159
50,Wyoming,28407,281,286,287,289,286,158,160,160

In [153]:
COVIDEducation = pd.merge(COVID8sciencemath, COVID4sciencemath, how = 'left', on = 'State')
COVIDEducation

,State,cases_x,deaths_x,8th 2009 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math,8th 2009 science,8th 2011 science,8th 2015 science,cases_y,deaths_y,4th 2009 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math,4th 2009 Science,4th 2015 Science
0,Alabama,387786,14345,269,267,268,269,139,140,141,387786,14345,228,231,232,230,143,145
1,Alaska,18316,367,283,280,277,274,150,153,154,18316,367,237,236,230,232,151,154
2,Arizona,426614,18857,277,283,282,280,141,144,148,426614,18857,230,238,234,238,138,149
3,Arkansas,161569,3301,276,275,274,274,144,148,148,161569,3301,238,235,234,233,146,150
4,California,2664110,102387,270,275,277,276,137,140,143,2664110,102387,232,232,232,235,136,140
5,Colorado,766512,37828,287,286,286,285,156,161,154,766512,37828,243,242,241,242,155,154
6,Connecticut,1314995,104185,289,284,284,286,155,155,155,1314995,104185,245,240,239,243,156,154
7,Delaware,234327,7813,284,280,278,277,148,150,149,234327,7813,239,239,236,239,153,150
8,District of Columbia,229466,10822,254,263,266,269,150,112,154,229466,10822,219,231,231,235,151,154
9,Florida,1726811,63147,279,275,279,279,146,148,153,1726811,63147,242,243,246,246,151,158
10,Georgia,1282091,54209,278,279,281,279,147,151,152,1282091,54209,236,236,236,238,144,152
11,Hawaii,31433,681,274,279,277,275,139,142,144,31433,681,236,238,238,239,140,146
12,Idaho,103987,2828,287,284,284,286,158,159,160,103987,2828,241,239,240,242,154,156
13,Illinois,2843621,122000,282,282,282,283,148,147,150,2843621,122000,238,237,238,237,148,151
14,Indiana,920434,53042,287,287,288,286,152,153,156,920434,53042,243,248,247,245,153,159
15,Iowa,396980,9203,284,286,286,282,156,157,159,396980,9203,243,243,243,241,157,159
16,Kansas,231885,6527,289,284,285,282,150,156,155,231885,6527,245,241,241,239,151,154
17,Kentucky,246480,11851,279,278,278,278,156,157,157,246480,11851,239,242,239,239,161,160
18,Louisiana,1443404,90609,272,268,267,272,139,143,154,1443404,90609,229,234,229,231,141,154
19,Maine,61284,2451,286,285,284,282,158,160,160,61284,2451,244,242,240,241,160,158
20,Maryland,1173802,56126,288,283,281,280,148,152,155,1173802,56126,244,239,241,239,150,153
21,Massachusetts,2929874,167711,299,297,297,294,160,161,162,2929874,167711,252,251,249,247,160,161
22,Michigan,2023047,171867,278,278,280,280,153,157,155,2023047,171867,236,236,236,236,150,154
23,Minnesota,377850,18934,294,294,294,291,159,161,162,377850,18934,249,250,249,248,158,157
24,Mississippi,358459,15047,265,271,271,274,132,137,140,358459,15047,227,234,235,241,133,140
25,Missouri,395952,17924,286,281,281,281,156,156,159,395952,17924,241,239,240,238,156,155
26,Montana,23875,676,292,287,286,284,162,163,161,23875,676,244,241,241,241,160,159
27,Nebraska,259429,3535,284,286,288,285,150,157,160,259429,3535,239,244,246,244,151,162
28,Nevada,259808,11975,274,275,275,274,141,144,149,259808,11975,235,234,232,236,141,142
29,New Hampshire,117245,4507,292,294,293,287,160,162,165,117245,4507,251,249,245,245,163,165
30,New Jersey,5645458,332869,293,293,292,292,155,155,156,5645458,332869,247,245,248,246,155,155
31,New Mexico,177827,6867,270,271,269,269,143,145,143,177827,6867,230,231,230,231,142,143
32,New York,15041806,1081194,283,280,282,280,149,149,150,15041806,1081194,241,237,236,237,148,150
33,North Carolina,568719,19258,284,281,282,284,144,148,150,568719,19258,244,244,241,241,148,154
34,North Dakota,55932,1219,293,288,288,286,162,164,161,55932,1219,245,245,244,243,162,161
35,Ohio,908834,47879,286,285,288,286,158,158,157,908834,47879,244,244,241,241,157,157
36,Oklahoma,187462,10394,276,275,275,276,146,148,151,187462,10394,237,240,237,237,148,153
37,Oregon,134979,5067,285,283,282,280,154,155,156,134979,5067,238,238,233,236,151,153
38,Pennsylvania,2320771,127278,288,284,286,285,154,151,154,2320771,127278,244,243,242,244,154,154
39,Rhode Island,401931,14251,278,281,277,276,146,149,151,401931,14251,239,238,238,239,150,152
40,South Carolina,313173,11859,280,276,275,276,143,149,151,313173,11859,236,237,234,237,149,155
41,South Dakota,122292,1121,291,285,286,287,161,162,160,122292,1121,242,240,242,241,157,157
42,Tennessee,583792,10198,275,278,279,280,148,150,156,583792,10198,232,241,237,240,148,157
43,Texas,1553075,41267,287,284,282,280,150,153,156,1553075,41267,240,244,241,244,148,155
44,Utah,245859,2472,284,286,287,285,158,161,166,245859,2472,240,243,242,244,154,160
45,Vermont,45230,2320,293,290,288,287,150,163,163,45230,2320,248,243,241,239,151,163
46,Virginia,866807,28754,286,288,290,287,156,160,160,866807,28754,243,247,248,247,162,165
47,Washington,807848,42371,289,287,289,286,155,156,157,807848,42371,242,245,242,240,151,158
48,West Virginia,56158,1950,270,271,273,272,145,149,150,56158,1950,233,235,236,231,148,151
49,Wisconsin,393823,15587,288,289,288,289,157,159,159,393823,15587,244,243,240,242,157,156
50,Wyoming,28407,281,286,287,289,286,158,160,160,28407,281,242,247,248,246,156,161

In [155]:
COVIDEducation = COVIDEducation.drop(['cases_y','deaths_y'], axis = 1)
COVIDEducation

,State,cases_x,deaths_x,8th 2009 Math,8th 2015 Math,8th 2017 Math,8th 2019 Math,8th 2009 science,8th 2011 science,8th 2015 science,4th 2009 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math,4th 2009 Science,4th 2015 Science
0,Alabama,387786,14345,269,267,268,269,139,140,141,228,231,232,230,143,145
1,Alaska,18316,367,283,280,277,274,150,153,154,237,236,230,232,151,154
2,Arizona,426614,18857,277,283,282,280,141,144,148,230,238,234,238,138,149
3,Arkansas,161569,3301,276,275,274,274,144,148,148,238,235,234,233,146,150
4,California,2664110,102387,270,275,277,276,137,140,143,232,232,232,235,136,140
5,Colorado,766512,37828,287,286,286,285,156,161,154,243,242,241,242,155,154
6,Connecticut,1314995,104185,289,284,284,286,155,155,155,245,240,239,243,156,154
7,Delaware,234327,7813,284,280,278,277,148,150,149,239,239,236,239,153,150
8,District of Columbia,229466,10822,254,263,266,269,150,112,154,219,231,231,235,151,154
9,Florida,1726811,63147,279,275,279,279,146,148,153,242,243,246,246,151,158
10,Georgia,1282091,54209,278,279,281,279,147,151,152,236,236,236,238,144,152
11,Hawaii,31433,681,274,279,277,275,139,142,144,236,238,238,239,140,146
12,Idaho,103987,2828,287,284,284,286,158,159,160,241,239,240,242,154,156
13,Illinois,2843621,122000,282,282,282,283,148,147,150,238,237,238,237,148,151
14,Indiana,920434,53042,287,287,288,286,152,153,156,243,248,247,245,153,159
15,Iowa,396980,9203,284,286,286,282,156,157,159,243,243,243,241,157,159
16,Kansas,231885,6527,289,284,285,282,150,156,155,245,241,241,239,151,154
17,Kentucky,246480,11851,279,278,278,278,156,157,157,239,242,239,239,161,160
18,Louisiana,1443404,90609,272,268,267,272,139,143,154,229,234,229,231,141,154
19,Maine,61284,2451,286,285,284,282,158,160,160,244,242,240,241,160,158
20,Maryland,1173802,56126,288,283,281,280,148,152,155,244,239,241,239,150,153
21,Massachusetts,2929874,167711,299,297,297,294,160,161,162,252,251,249,247,160,161
22,Michigan,2023047,171867,278,278,280,280,153,157,155,236,236,236,236,150,154
23,Minnesota,377850,18934,294,294,294,291,159,161,162,249,250,249,248,158,157
24,Mississippi,358459,15047,265,271,271,274,132,137,140,227,234,235,241,133,140
25,Missouri,395952,17924,286,281,281,281,156,156,159,241,239,240,238,156,155
26,Montana,23875,676,292,287,286,284,162,163,161,244,241,241,241,160,159
27,Nebraska,259429,3535,284,286,288,285,150,157,160,239,244,246,244,151,162
28,Nevada,259808,11975,274,275,275,274,141,144,149,235,234,232,236,141,142
29,New Hampshire,117245,4507,292,294,293,287,160,162,165,251,249,245,245,163,165
30,New Jersey,5645458,332869,293,293,292,292,155,155,156,247,245,248,246,155,155
31,New Mexico,177827,6867,270,271,269,269,143,145,143,230,231,230,231,142,143
32,New York,15041806,1081194,283,280,282,280,149,149,150,241,237,236,237,148,150
33,North Carolina,568719,19258,284,281,282,284,144,148,150,244,244,241,241,148,154
34,North Dakota,55932,1219,293,288,288,286,162,164,161,245,245,244,243,162,161
35,Ohio,908834,47879,286,285,288,286,158,158,157,244,244,241,241,157,157
36,Oklahoma,187462,10394,276,275,275,276,146,148,151,237,240,237,237,148,153
37,Oregon,134979,5067,285,283,282,280,154,155,156,238,238,233,236,151,153
38,Pennsylvania,2320771,127278,288,284,286,285,154,151,154,244,243,242,244,154,154
39,Rhode Island,401931,14251,278,281,277,276,146,149,151,239,238,238,239,150,152
40,South Carolina,313173,11859,280,276,275,276,143,149,151,236,237,234,237,149,155
41,South Dakota,122292,1121,291,285,286,287,161,162,160,242,240,242,241,157,157
42,Tennessee,583792,10198,275,278,279,280,148,150,156,232,241,237,240,148,157
43,Texas,1553075,41267,287,284,282,280,150,153,156,240,244,241,244,148,155
44,Utah,245859,2472,284,286,287,285,158,161,166,240,243,242,244,154,160
45,Vermont,45230,2320,293,290,288,287,150,163,163,248,243,241,239,151,163
46,Virginia,866807,28754,286,288,290,287,156,160,160,243,247,248,247,162,165
47,Washington,807848,42371,289,287,289,286,155,156,157,242,245,242,240,151,158
48,West Virginia,56158,1950,270,271,273,272,145,149,150,233,235,236,231,148,151
49,Wisconsin,393823,15587,288,289,288,289,157,159,159,244,243,240,242,157,156
50,Wyoming,28407,281,286,287,289,286,158,160,160,242,247,248,246,156,161