In [95]:
import pandas as pd
import numpy as np

In [96]:
fourmath = pd.read_excel('fourth-grade-math-performance.xlsx')
fourmath.head()

,Table S-1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"Fourth Grade Mathematics Performance, by state...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,(Score out of 500),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2000,2003,2005,2007.0,2009.0,2011.0,2013.0,2015.0,2017.0,2019.0
3,United States,224,234,237,239.0,239.0,240.0,241.0,240.0,239.0,240.0
4,Alabama,217,223,225,229.0,228.0,231.0,233.0,231.0,232.0,230.0

In [97]:
fourmath.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Table S-1    61 non-null     object
 1   Unnamed: 1   44 non-null     object
 2   Unnamed: 2   54 non-null     object
 3   Unnamed: 3   54 non-null     object
 4   Unnamed: 4   53 non-null     float64
 5   Unnamed: 5   53 non-null     float64
 6   Unnamed: 6   54 non-null     float64
 7   Unnamed: 7   54 non-null     float64
 8   Unnamed: 8   54 non-null     float64
 9   Unnamed: 9   54 non-null     float64
 10  Unnamed: 10  53 non-null     float64
dtypes: float64(7), object(4)
memory usage: 5.6+ KB

In [98]:
fourmath = fourmath.rename(columns = {'Table S-1' : 'State',
                                   'Unnamed: 1' : '4th 2000 Math',
                                   'Unnamed: 2' : '4th 2003 Math',
                                   'Unnamed: 3' : '4th 2005 Math',
                                   'Unnamed: 4' : '4th 2007 Math',
                                   'Unnamed: 5' : '4th 2009 Math',
                                   'Unnamed: 6' : '4th 2011 Math',
                                   'Unnamed: 7' : '4th 2013 Math',
                                   'Unnamed: 8' : '4th 2015 Math',
                                   'Unnamed: 9' : '4th 2017 Math',
                                   'Unnamed: 10': '4th 2019 Math' })

fourmath.drop(range(0,4), inplace = True)

fourmath.head()

,State,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
4,Alabama,217,223,225,229.0,228.0,231.0,233.0,231.0,232.0,230.0
5,Alaska,NaN,233,236,237.0,237.0,236.0,236.0,236.0,230.0,232.0
6,Arizona,219,229,230,232.0,230.0,235.0,240.0,238.0,234.0,238.0
7,Arkansas,216,229,236,238.0,238.0,238.0,240.0,235.0,234.0,233.0
8,California,213,227,230,230.0,232.0,234.0,234.0,232.0,232.0,235.0

In [99]:
fourmath = fourmath.reset_index(drop = True)

fourmath.head()

,State,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,217,223,225,229.0,228.0,231.0,233.0,231.0,232.0,230.0
1,Alaska,NaN,233,236,237.0,237.0,236.0,236.0,236.0,230.0,232.0
2,Arizona,219,229,230,232.0,230.0,235.0,240.0,238.0,234.0,238.0
3,Arkansas,216,229,236,238.0,238.0,238.0,240.0,235.0,234.0,233.0
4,California,213,227,230,230.0,232.0,234.0,234.0,232.0,232.0,235.0

In [100]:
fourmath.isna().sum()

State             2
4th 2000 Math    19
4th 2003 Math     8
4th 2005 Math     8
4th 2007 Math     9
4th 2009 Math     9
4th 2011 Math     8
4th 2013 Math     8
4th 2015 Math     8
4th 2017 Math     8
4th 2019 Math     9
dtype: int64

In [101]:
fourmath.State

0                                               Alabama
1                                                Alaska
2                                               Arizona
3                                              Arkansas
4                                            California
5                                              Colorado
6                                           Connecticut
7                                              Delaware
8                                  District of Columbia
9                                               Florida
10                                              Georgia
11                                               Hawaii
12                                                Idaho
13                                             Illinois
14                                              Indiana
15                                                 Iowa
16                                               Kansas
17                                             Kentucky
18                                            Louisiana
19                                                Maine
20                                             Maryland
21                                        Massachusetts
22                                             Michigan
23                                            Minnesota
24                                          Mississippi
25                                             Missouri
26                                              Montana
27                                             Nebraska
28                                               Nevada
29                                        New Hampshire
30                                           New Jersey
31                                           New Mexico
32                                             New York
33                                       North Carolina
34                                         North Dakota
35                                                 Ohio
36                                             Oklahoma
37                                               Oregon
38                                         Pennsylvania
39                                         Rhode Island
40                                       South Carolina
41                                         South Dakota
42                                            Tennessee
43                                                Texas
44                                                 Utah
45                                              Vermont
46                                             Virginia
47                                           Washington
48                                        West Virginia
49                                            Wisconsin
50                                              Wyoming
51                                                  NaN
52                                          Puerto Rico
53                                                  NaN
54    S = data are suppressed because reporting stan...
55    NOTES: The National Assessment of Educational ...
56    SOURCE: National Center for Education Statisti...
57    Recommended Citation: National Science Board. ...
58                         Last updated: April 29, 2020
59                   Science and Engineering Indicators
Name: State, dtype: object

In [102]:
fourmath.drop(range(51,60), inplace = True)
fourmath.State

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

In [103]:
fourmath.isna().sum()

State             0
4th 2000 Math    10
4th 2003 Math     0
4th 2005 Math     0
4th 2007 Math     0
4th 2009 Math     0
4th 2011 Math     0
4th 2013 Math     0
4th 2015 Math     0
4th 2017 Math     0
4th 2019 Math     0
dtype: int64

In [104]:
fourmath = fourmath.fillna(fourmath.mean())
fourmath

,State,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,217.000000,223,225,229.0,228.0,231.0,233.0,231.0,232.0,230.0
1,Alaska,223.853659,233,236,237.0,237.0,236.0,236.0,236.0,230.0,232.0
2,Arizona,219.000000,229,230,232.0,230.0,235.0,240.0,238.0,234.0,238.0
3,Arkansas,216.000000,229,236,238.0,238.0,238.0,240.0,235.0,234.0,233.0
4,California,213.000000,227,230,230.0,232.0,234.0,234.0,232.0,232.0,235.0
5,Colorado,223.853659,235,239,240.0,243.0,244.0,247.0,242.0,241.0,242.0
6,Connecticut,234.000000,241,242,243.0,245.0,242.0,243.0,240.0,239.0,243.0
7,Delaware,223.853659,236,240,242.0,239.0,240.0,243.0,239.0,236.0,239.0
8,District of Columbia,192.000000,205,211,214.0,219.0,222.0,229.0,231.0,231.0,235.0
9,Florida,223.853659,234,239,242.0,242.0,240.0,242.0,243.0,246.0,246.0
10,Georgia,219.000000,230,234,235.0,236.0,238.0,240.0,236.0,236.0,238.0
11,Hawaii,216.000000,227,230,234.0,236.0,239.0,243.0,238.0,238.0,239.0
12,Idaho,224.000000,235,242,241.0,241.0,240.0,241.0,239.0,240.0,242.0
13,Illinois,223.000000,233,233,237.0,238.0,239.0,239.0,237.0,238.0,237.0
14,Indiana,233.000000,238,240,245.0,243.0,244.0,249.0,248.0,247.0,245.0
15,Iowa,231.000000,238,240,243.0,243.0,243.0,246.0,243.0,243.0,241.0
16,Kansas,232.000000,242,246,248.0,245.0,246.0,246.0,241.0,241.0,239.0
17,Kentucky,219.000000,229,231,235.0,239.0,241.0,241.0,242.0,239.0,239.0
18,Louisiana,218.000000,226,230,230.0,229.0,231.0,231.0,234.0,229.0,231.0
19,Maine,230.000000,238,241,242.0,244.0,244.0,246.0,242.0,240.0,241.0
20,Maryland,222.000000,233,238,240.0,244.0,247.0,245.0,239.0,241.0,239.0
21,Massachusetts,233.000000,242,247,252.0,252.0,253.0,253.0,251.0,249.0,247.0
22,Michigan,229.000000,236,238,238.0,236.0,236.0,237.0,236.0,236.0,236.0
23,Minnesota,234.000000,242,246,247.0,249.0,249.0,253.0,250.0,249.0,248.0
24,Mississippi,211.000000,223,227,228.0,227.0,230.0,231.0,234.0,235.0,241.0
25,Missouri,228.000000,235,235,239.0,241.0,240.0,240.0,239.0,240.0,238.0
26,Montana,228.000000,236,241,244.0,244.0,244.0,244.0,241.0,241.0,241.0
27,Nebraska,225.000000,236,238,238.0,239.0,240.0,243.0,244.0,246.0,244.0
28,Nevada,220.000000,228,230,232.0,235.0,237.0,236.0,234.0,232.0,236.0
29,New Hampshire,223.853659,243,246,249.0,251.0,252.0,253.0,249.0,245.0,245.0
30,New Jersey,223.853659,239,244,249.0,247.0,248.0,247.0,245.0,248.0,246.0
31,New Mexico,213.000000,223,224,228.0,230.0,233.0,233.0,231.0,230.0,231.0
32,New York,225.000000,236,238,243.0,241.0,238.0,240.0,237.0,236.0,237.0
33,North Carolina,230.000000,242,241,242.0,244.0,245.0,245.0,244.0,241.0,241.0
34,North Dakota,230.000000,238,243,245.0,245.0,245.0,246.0,245.0,244.0,243.0
35,Ohio,230.000000,238,242,245.0,244.0,244.0,246.0,244.0,241.0,241.0
36,Oklahoma,224.000000,229,234,237.0,237.0,237.0,239.0,240.0,237.0,237.0
37,Oregon,224.000000,236,238,236.0,238.0,237.0,240.0,238.0,233.0,236.0
38,Pennsylvania,223.853659,236,241,244.0,244.0,246.0,244.0,243.0,242.0,244.0
39,Rhode Island,224.000000,230,233,236.0,239.0,242.0,241.0,238.0,238.0,239.0
40,South Carolina,220.000000,236,238,237.0,236.0,237.0,237.0,237.0,234.0,237.0
41,South Dakota,223.853659,237,242,241.0,242.0,241.0,241.0,240.0,242.0,241.0
42,Tennessee,220.000000,228,232,233.0,232.0,233.0,240.0,241.0,237.0,240.0
43,Texas,231.000000,237,242,242.0,240.0,241.0,242.0,244.0,241.0,244.0
44,Utah,227.000000,235,239,239.0,240.0,243.0,243.0,243.0,242.0,244.0
45,Vermont,232.000000,242,244,246.0,248.0,247.0,248.0,243.0,241.0,239.0
46,Virginia,230.000000,239,240,244.0,243.0,245.0,246.0,247.0,248.0,247.0
47,Washington,223.853659,238,242,243.0,242.0,243.0,246.0,245.0,242.0,240.0
48,West Virginia,223.000000,231,231,236.0,233.0,235.0,237.0,235.0,236.0,231.0
49,Wisconsin,223.853659,237,241,244.0,244.0,245.0,245.0,243.0,240.0,242.0
50,Wyoming,229.000000,241,243,244.0,242.0,244.0,247.0,247.0,248.0,246.0

In [105]:
fourmath = fourmath.astype({'4th 2000 Math': 'int32',
                                  '4th 2003 Math': 'int32',
                                  '4th 2005 Math': 'int32',
                                  '4th 2007 Math': 'int32',
                                  '4th 2009 Math': 'int32',
                                  '4th 2011 Math': 'int32',
                                  '4th 2013 Math': 'int32',
                                  '4th 2015 Math': 'int32',
                                  '4th 2017 Math': 'int32',
                                  '4th 2019 Math': 'int32' })

fourmath

,State,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,217,223,225,229,228,231,233,231,232,230
1,Alaska,223,233,236,237,237,236,236,236,230,232
2,Arizona,219,229,230,232,230,235,240,238,234,238
3,Arkansas,216,229,236,238,238,238,240,235,234,233
4,California,213,227,230,230,232,234,234,232,232,235
5,Colorado,223,235,239,240,243,244,247,242,241,242
6,Connecticut,234,241,242,243,245,242,243,240,239,243
7,Delaware,223,236,240,242,239,240,243,239,236,239
8,District of Columbia,192,205,211,214,219,222,229,231,231,235
9,Florida,223,234,239,242,242,240,242,243,246,246
10,Georgia,219,230,234,235,236,238,240,236,236,238
11,Hawaii,216,227,230,234,236,239,243,238,238,239
12,Idaho,224,235,242,241,241,240,241,239,240,242
13,Illinois,223,233,233,237,238,239,239,237,238,237
14,Indiana,233,238,240,245,243,244,249,248,247,245
15,Iowa,231,238,240,243,243,243,246,243,243,241
16,Kansas,232,242,246,248,245,246,246,241,241,239
17,Kentucky,219,229,231,235,239,241,241,242,239,239
18,Louisiana,218,226,230,230,229,231,231,234,229,231
19,Maine,230,238,241,242,244,244,246,242,240,241
20,Maryland,222,233,238,240,244,247,245,239,241,239
21,Massachusetts,233,242,247,252,252,253,253,251,249,247
22,Michigan,229,236,238,238,236,236,237,236,236,236
23,Minnesota,234,242,246,247,249,249,253,250,249,248
24,Mississippi,211,223,227,228,227,230,231,234,235,241
25,Missouri,228,235,235,239,241,240,240,239,240,238
26,Montana,228,236,241,244,244,244,244,241,241,241
27,Nebraska,225,236,238,238,239,240,243,244,246,244
28,Nevada,220,228,230,232,235,237,236,234,232,236
29,New Hampshire,223,243,246,249,251,252,253,249,245,245
30,New Jersey,223,239,244,249,247,248,247,245,248,246
31,New Mexico,213,223,224,228,230,233,233,231,230,231
32,New York,225,236,238,243,241,238,240,237,236,237
33,North Carolina,230,242,241,242,244,245,245,244,241,241
34,North Dakota,230,238,243,245,245,245,246,245,244,243
35,Ohio,230,238,242,245,244,244,246,244,241,241
36,Oklahoma,224,229,234,237,237,237,239,240,237,237
37,Oregon,224,236,238,236,238,237,240,238,233,236
38,Pennsylvania,223,236,241,244,244,246,244,243,242,244
39,Rhode Island,224,230,233,236,239,242,241,238,238,239
40,South Carolina,220,236,238,237,236,237,237,237,234,237
41,South Dakota,223,237,242,241,242,241,241,240,242,241
42,Tennessee,220,228,232,233,232,233,240,241,237,240
43,Texas,231,237,242,242,240,241,242,244,241,244
44,Utah,227,235,239,239,240,243,243,243,242,244
45,Vermont,232,242,244,246,248,247,248,243,241,239
46,Virginia,230,239,240,244,243,245,246,247,248,247
47,Washington,223,238,242,243,242,243,246,245,242,240
48,West Virginia,223,231,231,236,233,235,237,235,236,231
49,Wisconsin,223,237,241,244,244,245,245,243,240,242
50,Wyoming,229,241,243,244,242,244,247,247,248,246

In [115]:
fourmath = fourmath.drop(['4th 2000 Math','4th 2003 Math','4th 2005 Math','4th 2007 Math','4th 2011 Math','4th 2013 Math'], axis = 1)
fourmath

,State,4th 2009 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,228,231,232,230
1,Alaska,237,236,230,232
2,Arizona,230,238,234,238
3,Arkansas,238,235,234,233
4,California,232,232,232,235
5,Colorado,243,242,241,242
6,Connecticut,245,240,239,243
7,Delaware,239,239,236,239
8,District of Columbia,219,231,231,235
9,Florida,242,243,246,246
10,Georgia,236,236,236,238
11,Hawaii,236,238,238,239
12,Idaho,241,239,240,242
13,Illinois,238,237,238,237
14,Indiana,243,248,247,245
15,Iowa,243,243,243,241
16,Kansas,245,241,241,239
17,Kentucky,239,242,239,239
18,Louisiana,229,234,229,231
19,Maine,244,242,240,241
20,Maryland,244,239,241,239
21,Massachusetts,252,251,249,247
22,Michigan,236,236,236,236
23,Minnesota,249,250,249,248
24,Mississippi,227,234,235,241
25,Missouri,241,239,240,238
26,Montana,244,241,241,241
27,Nebraska,239,244,246,244
28,Nevada,235,234,232,236
29,New Hampshire,251,249,245,245
30,New Jersey,247,245,248,246
31,New Mexico,230,231,230,231
32,New York,241,237,236,237
33,North Carolina,244,244,241,241
34,North Dakota,245,245,244,243
35,Ohio,244,244,241,241
36,Oklahoma,237,240,237,237
37,Oregon,238,238,233,236
38,Pennsylvania,244,243,242,244
39,Rhode Island,239,238,238,239
40,South Carolina,236,237,234,237
41,South Dakota,242,240,242,241
42,Tennessee,232,241,237,240
43,Texas,240,244,241,244
44,Utah,240,243,242,244
45,Vermont,248,243,241,239
46,Virginia,243,247,248,247
47,Washington,242,245,242,240
48,West Virginia,233,235,236,231
49,Wisconsin,244,243,240,242
50,Wyoming,242,247,248,246

In [106]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
4574  2020-05-24       Virginia    51  36244    1171
4575  2020-05-24     Washington    53  20732    1069
4576  2020-05-24  West Virginia    54   1771      72
4577  2020-05-24      Wisconsin    55  15362     510
4578  2020-05-24        Wyoming    56    813      12

[4579 rows x 5 columns]

In [107]:
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases

                       state  fips     cases   deaths
0                    Alabama    73    387786    14345
1                     Alaska   148     18316      367
2                    Arizona   480    426614    18857
3                   Arkansas   375    161569     3301
4                 California   726   2664110   102387
5                   Colorado   648    766512    37828
6                Connecticut   702   1314995   104185
7                   Delaware   750    234327     7813
8       District of Columbia   869    229466    10822
9                    Florida  1020   1726811    63147
10                   Georgia  1092   1282091    54209
11                      Guam  4686     48340      311
12                    Hawaii  1200     31433      681
13                     Idaho  1168    103987     2828
14                  Illinois  2074   2843621   122000
15                   Indiana  1440    920434    53042
16                      Iowa  1482    396980     9203
17                    Kansas  1580    231885     6527
18                  Kentucky  1680    246480    11851
19                 Louisiana  1694   1443404    90609
20                     Maine  1702     61284     2451
21                  Maryland  1944   1173802    56126
22             Massachusetts  2850   2929874   167711
23                  Michigan  1976   2023047   171867
24                 Minnesota  2160    377850    18934
25               Mississippi  2100    358459    15047
26                  Missouri  2291    395952    17924
27                   Montana  2190     23875      676
28                  Nebraska  3038    259429     3535
29                    Nevada  2592    259808    11975
30             New Hampshire  2772    117245     4507
31                New Jersey  2788   5645458   332869
32                New Mexico  2625    177827     6867
33                  New York  3060  15041806  1081194
34            North Carolina  3071    568719    19258
35              North Dakota  2850     55932     1219
36  Northern Mariana Islands  4002       798      102
37                      Ohio  3003    908834    47879
38                  Oklahoma  3200    187462    10394
39                    Oregon  3567    134979     5067
40              Pennsylvania  3360   2320771   127278
41               Puerto Rico  5256     86159     4199
42              Rhode Island  3740    401931    14251
43            South Carolina  3600    313173    11859
44              South Dakota  3496    122292     1121
45                 Tennessee  3807    583792    10198
46                     Texas  4944   1553075    41267
47                      Utah  4410    245859     2472
48                   Vermont  3950     45230     2320
49            Virgin Islands  5616      3373      180
50                  Virginia  4029    866807    28754
51                Washington  6625    807848    42371
52             West Virginia  3726     56158     1950
53                 Wisconsin  6050    393823    15587
54                   Wyoming  4200     28407      281

In [108]:
COVIDCases.state

0                      Alabama
1                       Alaska
2                      Arizona
3                     Arkansas
4                   California
5                     Colorado
6                  Connecticut
7                     Delaware
8         District of Columbia
9                      Florida
10                     Georgia
11                        Guam
12                      Hawaii
13                       Idaho
14                    Illinois
15                     Indiana
16                        Iowa
17                      Kansas
18                    Kentucky
19                   Louisiana
20                       Maine
21                    Maryland
22               Massachusetts
23                    Michigan
24                   Minnesota
25                 Mississippi
26                    Missouri
27                     Montana
28                    Nebraska
29                      Nevada
30               New Hampshire
31                  New Jersey
32                  New Mexico
33                    New York
34              North Carolina
35                North Dakota
36    Northern Mariana Islands
37                        Ohio
38                    Oklahoma
39                      Oregon
40                Pennsylvania
41                 Puerto Rico
42                Rhode Island
43              South Carolina
44                South Dakota
45                   Tennessee
46                       Texas
47                        Utah
48                     Vermont
49              Virgin Islands
50                    Virginia
51                  Washington
52               West Virginia
53                   Wisconsin
54                     Wyoming
Name: state, dtype: object

In [109]:
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [110]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [111]:
COVID4math = pd.merge(COVIDCases, fourmath, how = 'left', on = 'State')
COVID4math

,State,fips,cases,deaths,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,73,387786,14345,217,223,225,229,228,231,233,231,232,230
1,Alaska,148,18316,367,223,233,236,237,237,236,236,236,230,232
2,Arizona,480,426614,18857,219,229,230,232,230,235,240,238,234,238
3,Arkansas,375,161569,3301,216,229,236,238,238,238,240,235,234,233
4,California,726,2664110,102387,213,227,230,230,232,234,234,232,232,235
5,Colorado,648,766512,37828,223,235,239,240,243,244,247,242,241,242
6,Connecticut,702,1314995,104185,234,241,242,243,245,242,243,240,239,243
7,Delaware,750,234327,7813,223,236,240,242,239,240,243,239,236,239
8,District of Columbia,869,229466,10822,192,205,211,214,219,222,229,231,231,235
9,Florida,1020,1726811,63147,223,234,239,242,242,240,242,243,246,246
10,Georgia,1092,1282091,54209,219,230,234,235,236,238,240,236,236,238
11,Hawaii,1200,31433,681,216,227,230,234,236,239,243,238,238,239
12,Idaho,1168,103987,2828,224,235,242,241,241,240,241,239,240,242
13,Illinois,2074,2843621,122000,223,233,233,237,238,239,239,237,238,237
14,Indiana,1440,920434,53042,233,238,240,245,243,244,249,248,247,245
15,Iowa,1482,396980,9203,231,238,240,243,243,243,246,243,243,241
16,Kansas,1580,231885,6527,232,242,246,248,245,246,246,241,241,239
17,Kentucky,1680,246480,11851,219,229,231,235,239,241,241,242,239,239
18,Louisiana,1694,1443404,90609,218,226,230,230,229,231,231,234,229,231
19,Maine,1702,61284,2451,230,238,241,242,244,244,246,242,240,241
20,Maryland,1944,1173802,56126,222,233,238,240,244,247,245,239,241,239
21,Massachusetts,2850,2929874,167711,233,242,247,252,252,253,253,251,249,247
22,Michigan,1976,2023047,171867,229,236,238,238,236,236,237,236,236,236
23,Minnesota,2160,377850,18934,234,242,246,247,249,249,253,250,249,248
24,Mississippi,2100,358459,15047,211,223,227,228,227,230,231,234,235,241
25,Missouri,2291,395952,17924,228,235,235,239,241,240,240,239,240,238
26,Montana,2190,23875,676,228,236,241,244,244,244,244,241,241,241
27,Nebraska,3038,259429,3535,225,236,238,238,239,240,243,244,246,244
28,Nevada,2592,259808,11975,220,228,230,232,235,237,236,234,232,236
29,New Hampshire,2772,117245,4507,223,243,246,249,251,252,253,249,245,245
30,New Jersey,2788,5645458,332869,223,239,244,249,247,248,247,245,248,246
31,New Mexico,2625,177827,6867,213,223,224,228,230,233,233,231,230,231
32,New York,3060,15041806,1081194,225,236,238,243,241,238,240,237,236,237
33,North Carolina,3071,568719,19258,230,242,241,242,244,245,245,244,241,241
34,North Dakota,2850,55932,1219,230,238,243,245,245,245,246,245,244,243
35,Ohio,3003,908834,47879,230,238,242,245,244,244,246,244,241,241
36,Oklahoma,3200,187462,10394,224,229,234,237,237,237,239,240,237,237
37,Oregon,3567,134979,5067,224,236,238,236,238,237,240,238,233,236
38,Pennsylvania,3360,2320771,127278,223,236,241,244,244,246,244,243,242,244
39,Rhode Island,3740,401931,14251,224,230,233,236,239,242,241,238,238,239
40,South Carolina,3600,313173,11859,220,236,238,237,236,237,237,237,234,237
41,South Dakota,3496,122292,1121,223,237,242,241,242,241,241,240,242,241
42,Tennessee,3807,583792,10198,220,228,232,233,232,233,240,241,237,240
43,Texas,4944,1553075,41267,231,237,242,242,240,241,242,244,241,244
44,Utah,4410,245859,2472,227,235,239,239,240,243,243,243,242,244
45,Vermont,3950,45230,2320,232,242,244,246,248,247,248,243,241,239
46,Virginia,4029,866807,28754,230,239,240,244,243,245,246,247,248,247
47,Washington,6625,807848,42371,223,238,242,243,242,243,246,245,242,240
48,West Virginia,3726,56158,1950,223,231,231,236,233,235,237,235,236,231
49,Wisconsin,6050,393823,15587,223,237,241,244,244,245,245,243,240,242
50,Wyoming,4200,28407,281,229,241,243,244,242,244,247,247,248,246

In [112]:
COVID4math.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   fips           51 non-null     int64
 2   cases          51 non-null     int64
 3   deaths         51 non-null     int64
 4   4th 2000 Math  51 non-null     int32
 5   4th 2003 Math  51 non-null     int32
 6   4th 2005 Math  51 non-null     int32
 7   4th 2007 Math  51 non-null     int32
 8   4th 2009 Math  51 non-null     int32
 9   4th 2011 Math  51 non-null     int32
 10  4th 2013 Math  51 non-null     int32
 11  4th 2015 Math  51 non-null     int32
 12  4th 2017 Math  51 non-null     int32
 13  4th 2019 Math  51 non-null     int32
dtypes: int32(10), int64(3), object(1)
memory usage: 4.0+ KB

In [113]:
COVID4math = COVID4math.drop(['fips'], axis = 1)
COVID4math

,State,cases,deaths,4th 2000 Math,4th 2003 Math,4th 2005 Math,4th 2007 Math,4th 2009 Math,4th 2011 Math,4th 2013 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,387786,14345,217,223,225,229,228,231,233,231,232,230
1,Alaska,18316,367,223,233,236,237,237,236,236,236,230,232
2,Arizona,426614,18857,219,229,230,232,230,235,240,238,234,238
3,Arkansas,161569,3301,216,229,236,238,238,238,240,235,234,233
4,California,2664110,102387,213,227,230,230,232,234,234,232,232,235
5,Colorado,766512,37828,223,235,239,240,243,244,247,242,241,242
6,Connecticut,1314995,104185,234,241,242,243,245,242,243,240,239,243
7,Delaware,234327,7813,223,236,240,242,239,240,243,239,236,239
8,District of Columbia,229466,10822,192,205,211,214,219,222,229,231,231,235
9,Florida,1726811,63147,223,234,239,242,242,240,242,243,246,246
10,Georgia,1282091,54209,219,230,234,235,236,238,240,236,236,238
11,Hawaii,31433,681,216,227,230,234,236,239,243,238,238,239
12,Idaho,103987,2828,224,235,242,241,241,240,241,239,240,242
13,Illinois,2843621,122000,223,233,233,237,238,239,239,237,238,237
14,Indiana,920434,53042,233,238,240,245,243,244,249,248,247,245
15,Iowa,396980,9203,231,238,240,243,243,243,246,243,243,241
16,Kansas,231885,6527,232,242,246,248,245,246,246,241,241,239
17,Kentucky,246480,11851,219,229,231,235,239,241,241,242,239,239
18,Louisiana,1443404,90609,218,226,230,230,229,231,231,234,229,231
19,Maine,61284,2451,230,238,241,242,244,244,246,242,240,241
20,Maryland,1173802,56126,222,233,238,240,244,247,245,239,241,239
21,Massachusetts,2929874,167711,233,242,247,252,252,253,253,251,249,247
22,Michigan,2023047,171867,229,236,238,238,236,236,237,236,236,236
23,Minnesota,377850,18934,234,242,246,247,249,249,253,250,249,248
24,Mississippi,358459,15047,211,223,227,228,227,230,231,234,235,241
25,Missouri,395952,17924,228,235,235,239,241,240,240,239,240,238
26,Montana,23875,676,228,236,241,244,244,244,244,241,241,241
27,Nebraska,259429,3535,225,236,238,238,239,240,243,244,246,244
28,Nevada,259808,11975,220,228,230,232,235,237,236,234,232,236
29,New Hampshire,117245,4507,223,243,246,249,251,252,253,249,245,245
30,New Jersey,5645458,332869,223,239,244,249,247,248,247,245,248,246
31,New Mexico,177827,6867,213,223,224,228,230,233,233,231,230,231
32,New York,15041806,1081194,225,236,238,243,241,238,240,237,236,237
33,North Carolina,568719,19258,230,242,241,242,244,245,245,244,241,241
34,North Dakota,55932,1219,230,238,243,245,245,245,246,245,244,243
35,Ohio,908834,47879,230,238,242,245,244,244,246,244,241,241
36,Oklahoma,187462,10394,224,229,234,237,237,237,239,240,237,237
37,Oregon,134979,5067,224,236,238,236,238,237,240,238,233,236
38,Pennsylvania,2320771,127278,223,236,241,244,244,246,244,243,242,244
39,Rhode Island,401931,14251,224,230,233,236,239,242,241,238,238,239
40,South Carolina,313173,11859,220,236,238,237,236,237,237,237,234,237
41,South Dakota,122292,1121,223,237,242,241,242,241,241,240,242,241
42,Tennessee,583792,10198,220,228,232,233,232,233,240,241,237,240
43,Texas,1553075,41267,231,237,242,242,240,241,242,244,241,244
44,Utah,245859,2472,227,235,239,239,240,243,243,243,242,244
45,Vermont,45230,2320,232,242,244,246,248,247,248,243,241,239
46,Virginia,866807,28754,230,239,240,244,243,245,246,247,248,247
47,Washington,807848,42371,223,238,242,243,242,243,246,245,242,240
48,West Virginia,56158,1950,223,231,231,236,233,235,237,235,236,231
49,Wisconsin,393823,15587,223,237,241,244,244,245,245,243,240,242
50,Wyoming,28407,281,229,241,243,244,242,244,247,247,248,246

In [114]:
COVID4math = COVID4math.drop(['4th 2000 Math','4th 2003 Math','4th 2005 Math','4th 2007 Math','4th 2011 Math','4th 2013 Math'], axis = 1)
COVID4math

,State,cases,deaths,4th 2009 Math,4th 2015 Math,4th 2017 Math,4th 2019 Math
0,Alabama,387786,14345,228,231,232,230
1,Alaska,18316,367,237,236,230,232
2,Arizona,426614,18857,230,238,234,238
3,Arkansas,161569,3301,238,235,234,233
4,California,2664110,102387,232,232,232,235
5,Colorado,766512,37828,243,242,241,242
6,Connecticut,1314995,104185,245,240,239,243
7,Delaware,234327,7813,239,239,236,239
8,District of Columbia,229466,10822,219,231,231,235
9,Florida,1726811,63147,242,243,246,246
10,Georgia,1282091,54209,236,236,236,238
11,Hawaii,31433,681,236,238,238,239
12,Idaho,103987,2828,241,239,240,242
13,Illinois,2843621,122000,238,237,238,237
14,Indiana,920434,53042,243,248,247,245
15,Iowa,396980,9203,243,243,243,241
16,Kansas,231885,6527,245,241,241,239
17,Kentucky,246480,11851,239,242,239,239
18,Louisiana,1443404,90609,229,234,229,231
19,Maine,61284,2451,244,242,240,241
20,Maryland,1173802,56126,244,239,241,239
21,Massachusetts,2929874,167711,252,251,249,247
22,Michigan,2023047,171867,236,236,236,236
23,Minnesota,377850,18934,249,250,249,248
24,Mississippi,358459,15047,227,234,235,241
25,Missouri,395952,17924,241,239,240,238
26,Montana,23875,676,244,241,241,241
27,Nebraska,259429,3535,239,244,246,244
28,Nevada,259808,11975,235,234,232,236
29,New Hampshire,117245,4507,251,249,245,245
30,New Jersey,5645458,332869,247,245,248,246
31,New Mexico,177827,6867,230,231,230,231
32,New York,15041806,1081194,241,237,236,237
33,North Carolina,568719,19258,244,244,241,241
34,North Dakota,55932,1219,245,245,244,243
35,Ohio,908834,47879,244,244,241,241
36,Oklahoma,187462,10394,237,240,237,237
37,Oregon,134979,5067,238,238,233,236
38,Pennsylvania,2320771,127278,244,243,242,244
39,Rhode Island,401931,14251,239,238,238,239
40,South Carolina,313173,11859,236,237,234,237
41,South Dakota,122292,1121,242,240,242,241
42,Tennessee,583792,10198,232,241,237,240
43,Texas,1553075,41267,240,244,241,244
44,Utah,245859,2472,240,243,242,244
45,Vermont,45230,2320,248,243,241,239
46,Virginia,866807,28754,243,247,248,247
47,Washington,807848,42371,242,245,242,240
48,West Virginia,56158,1950,233,235,236,231
49,Wisconsin,393823,15587,244,243,240,242
50,Wyoming,28407,281,242,247,248,246