In [35]:
import pandas as pd
import numpy as np

In [36]:
PSchExpGDP = pd.read_excel('public-school-expenditures-to-state-gdp.xlsx')
PSchExpGDP

,Table S-10,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74
0,Elementary and Secondary Public School Expendi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Public school expenditures ($thousands),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,1993,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,...,2007.000000,2008.000000,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000
3,United States,222992392,233291720.0,245703310.0,257168777.0,272313329.0,287860809.0,305130470.0,326202323.0,350643209.0,...,3.304856,3.450229,3.595596,3.503993,3.397334,3.259067,3.197905,3.163878,3.160894,3.188056
4,Alabama,2610514,2809713.0,3026287.0,3240364.0,3436406.0,3633159.0,3880188.0,4176082.0,4354794.0,...,3.680519,3.956545,3.970254,3.817112,3.635470,3.428101,3.411491,3.474610,3.395407,3.385322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NOTES: The national total for public school ex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
PSchExpGDP = PSchExpGDP.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 
                'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 
                'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
               'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
                        'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
                        'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
                        'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
                        'Unnamed: 47', 'Unnamed: 48','Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
                        'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59',
                        'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
                        'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71',
                        'Unnamed: 72', 'Unnamed: 73'], axis = 1)

PSchExpGDP.head()

,Table S-10,Unnamed: 24,Unnamed: 49,Unnamed: 74
0,Elementary and Secondary Public School Expendi...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,State,2016.0,2016.0,2016.000000
3,United States,599710063.0,18811150.0,3.188056
4,Alabama,6885677.0,203398.0,3.385322

In [38]:
PSchExpGDP = PSchExpGDP.rename(columns = {'Table S-10':'State',
                                   'Unnamed: 24': 'Public School Expenditure 2016(Thousands)',
                                   'Unnamed: 49': 'State GDP(Millions)',
                                   'Unnamed: 74': 'School Expenditures per State GDP(Percent)'})
PSchExpGDP

,State,Public School Expenditure 2016(Thousands),State GDP(Millions),School Expenditures per State GDP(Percent)
0,Elementary and Secondary Public School Expendi...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,State,2016.0,2016.0,2016.000000
3,United States,599710063.0,18811150.0,3.188056
4,Alabama,6885677.0,203398.0,3.385322
...,...,...,...,...
59,NOTES: The national total for public school ex...,NaN,NaN,NaN
60,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN

In [39]:
PSchExpGDP.tail(10)

,State,Public School Expenditure 2016(Thousands),State GDP(Millions),School Expenditures per State GDP(Percent)
54,Wyoming,1556321.0,35905.0,4.334552
55,NaN,NaN,NaN,NaN
56,Puerto Rico,2970386.0,103961.0,2.857212
57,NaN,NaN,NaN,NaN
58,GDP = gross domestic product,NaN,NaN,NaN
59,NOTES: The national total for public school ex...,NaN,NaN,NaN
60,SOURCE: National Center for Education Statisti...,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN

In [40]:
PSchExpGDP.drop(range(0, 4), inplace = True)
PSchExpGDP.drop(range(55,64), inplace = True)
PSchExpGDP = PSchExpGDP.reset_index(drop = True)
PSchExpGDP

,State,Public School Expenditure 2016(Thousands),State GDP(Millions),School Expenditures per State GDP(Percent)
0,Alabama,6885677.0,203398.0,3.385322
1,Alaska,2319662.0,49429.0,4.692917
2,Arizona,8551673.0,311397.0,2.746228
3,Arkansas,4872214.0,120090.0,4.057135
4,California,72003129.0,2663396.0,2.703433
5,Colorado,8648369.0,329097.0,2.627909
6,Connecticut,10551327.0,262979.0,4.012232
7,Delaware,1941408.0,70380.0,2.758465
8,District of Columbia,1775833.0,129817.0,1.367951
9,Florida,25621239.0,938370.0,2.730398
10,Georgia,17283295.0,538238.0,3.211088
11,Hawaii,2502117.0,85867.0,2.913945
12,Idaho,2097992.0,69313.0,3.026838
13,Illinois,29253457.0,805434.0,3.632012
14,Indiana,10144064.0,338227.0,2.999188
15,Iowa,5663444.0,180351.0,3.140234
16,Kansas,5065968.0,155682.0,3.254049
17,Kentucky,6750052.0,195080.0,3.460146
18,Louisiana,8027058.0,228087.0,3.519297
19,Maine,2579299.0,59604.0,4.327392
20,Maryland,12774063.0,384156.0,3.325228
21,Massachusetts,16374676.0,519741.0,3.150545
22,Michigan,16977163.0,490183.0,3.463434
23,Minnesota,10687048.0,338638.0,3.155892
24,Mississippi,4234977.0,106891.0,3.961958
25,Missouri,9545816.0,296070.0,3.224175
26,Montana,1652848.0,45550.0,3.628645
27,Nebraska,3911805.0,116056.0,3.370618
28,Nevada,4092457.0,150436.0,2.720397
29,New Hampshire,2833893.0,78402.0,3.614567
30,New Jersey,26825114.0,581271.0,4.614907
31,New Mexico,3343152.0,91004.0,3.673632
32,New York,59161439.0,1541524.0,3.837854
33,North Carolina,13466942.0,518248.0,2.598552
34,North Dakota,1451309.0,50772.0,2.858483
35,Ohio,20484182.0,621363.0,3.296653
36,Oklahoma,5606044.0,178510.0,3.140465
37,Oregon,6238574.0,215153.0,2.899599
38,Pennsylvania,26045127.0,724266.0,3.596072
39,Rhode Island,2283927.0,57727.0,3.956428
40,South Carolina,7669725.0,212675.0,3.606312
41,South Dakota,1253268.0,48462.0,2.586084
42,Tennessee,8886994.0,334385.0,2.657713
43,Texas,49577688.0,1564396.0,3.169126
44,Utah,4539291.0,157902.0,2.874752
45,Vermont,1671433.0,31635.0,5.283493
46,Virginia,14677698.0,493866.0,2.972000
47,Washington,12483668.0,492943.0,2.532477
48,West Virginia,3169684.0,69814.0,4.540184
49,Wisconsin,10122041.0,312141.0,3.242778
50,Wyoming,1556321.0,35905.0,4.334552

In [41]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [42]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [43]:
COVIDPSchExp = pd.merge(COVIDCases, PSchExpGDP, how = 'left', on = 'State')
COVIDPSchExp

,State,fips,cases,deaths,Public School Expenditure 2016(Thousands),State GDP(Millions),School Expenditures per State GDP(Percent)
0,Alabama,73,387786,14345,6885677.0,203398.0,3.385322
1,Alaska,148,18316,367,2319662.0,49429.0,4.692917
2,Arizona,480,426614,18857,8551673.0,311397.0,2.746228
3,Arkansas,375,161569,3301,4872214.0,120090.0,4.057135
4,California,726,2664110,102387,72003129.0,2663396.0,2.703433
5,Colorado,648,766512,37828,8648369.0,329097.0,2.627909
6,Connecticut,702,1314995,104185,10551327.0,262979.0,4.012232
7,Delaware,750,234327,7813,1941408.0,70380.0,2.758465
8,District of Columbia,869,229466,10822,1775833.0,129817.0,1.367951
9,Florida,1020,1726811,63147,25621239.0,938370.0,2.730398
10,Georgia,1092,1282091,54209,17283295.0,538238.0,3.211088
11,Hawaii,1200,31433,681,2502117.0,85867.0,2.913945
12,Idaho,1168,103987,2828,2097992.0,69313.0,3.026838
13,Illinois,2074,2843621,122000,29253457.0,805434.0,3.632012
14,Indiana,1440,920434,53042,10144064.0,338227.0,2.999188
15,Iowa,1482,396980,9203,5663444.0,180351.0,3.140234
16,Kansas,1580,231885,6527,5065968.0,155682.0,3.254049
17,Kentucky,1680,246480,11851,6750052.0,195080.0,3.460146
18,Louisiana,1694,1443404,90609,8027058.0,228087.0,3.519297
19,Maine,1702,61284,2451,2579299.0,59604.0,4.327392
20,Maryland,1944,1173802,56126,12774063.0,384156.0,3.325228
21,Massachusetts,2850,2929874,167711,16374676.0,519741.0,3.150545
22,Michigan,1976,2023047,171867,16977163.0,490183.0,3.463434
23,Minnesota,2160,377850,18934,10687048.0,338638.0,3.155892
24,Mississippi,2100,358459,15047,4234977.0,106891.0,3.961958
25,Missouri,2291,395952,17924,9545816.0,296070.0,3.224175
26,Montana,2190,23875,676,1652848.0,45550.0,3.628645
27,Nebraska,3038,259429,3535,3911805.0,116056.0,3.370618
28,Nevada,2592,259808,11975,4092457.0,150436.0,2.720397
29,New Hampshire,2772,117245,4507,2833893.0,78402.0,3.614567
30,New Jersey,2788,5645458,332869,26825114.0,581271.0,4.614907
31,New Mexico,2625,177827,6867,3343152.0,91004.0,3.673632
32,New York,3060,15041806,1081194,59161439.0,1541524.0,3.837854
33,North Carolina,3071,568719,19258,13466942.0,518248.0,2.598552
34,North Dakota,2850,55932,1219,1451309.0,50772.0,2.858483
35,Ohio,3003,908834,47879,20484182.0,621363.0,3.296653
36,Oklahoma,3200,187462,10394,5606044.0,178510.0,3.140465
37,Oregon,3567,134979,5067,6238574.0,215153.0,2.899599
38,Pennsylvania,3360,2320771,127278,26045127.0,724266.0,3.596072
39,Rhode Island,3740,401931,14251,2283927.0,57727.0,3.956428
40,South Carolina,3600,313173,11859,7669725.0,212675.0,3.606312
41,South Dakota,3496,122292,1121,1253268.0,48462.0,2.586084
42,Tennessee,3807,583792,10198,8886994.0,334385.0,2.657713
43,Texas,4944,1553075,41267,49577688.0,1564396.0,3.169126
44,Utah,4410,245859,2472,4539291.0,157902.0,2.874752
45,Vermont,3950,45230,2320,1671433.0,31635.0,5.283493
46,Virginia,4029,866807,28754,14677698.0,493866.0,2.972000
47,Washington,6625,807848,42371,12483668.0,492943.0,2.532477
48,West Virginia,3726,56158,1950,3169684.0,69814.0,4.540184
49,Wisconsin,6050,393823,15587,10122041.0,312141.0,3.242778
50,Wyoming,4200,28407,281,1556321.0,35905.0,4.334552

In [44]:
COVIDPSchExp = COVIDPSchExp.drop(['fips'], axis = 1)
COVIDPSchExp

,State,cases,deaths,Public School Expenditure 2016(Thousands),State GDP(Millions),School Expenditures per State GDP(Percent)
0,Alabama,387786,14345,6885677.0,203398.0,3.385322
1,Alaska,18316,367,2319662.0,49429.0,4.692917
2,Arizona,426614,18857,8551673.0,311397.0,2.746228
3,Arkansas,161569,3301,4872214.0,120090.0,4.057135
4,California,2664110,102387,72003129.0,2663396.0,2.703433
5,Colorado,766512,37828,8648369.0,329097.0,2.627909
6,Connecticut,1314995,104185,10551327.0,262979.0,4.012232
7,Delaware,234327,7813,1941408.0,70380.0,2.758465
8,District of Columbia,229466,10822,1775833.0,129817.0,1.367951
9,Florida,1726811,63147,25621239.0,938370.0,2.730398
10,Georgia,1282091,54209,17283295.0,538238.0,3.211088
11,Hawaii,31433,681,2502117.0,85867.0,2.913945
12,Idaho,103987,2828,2097992.0,69313.0,3.026838
13,Illinois,2843621,122000,29253457.0,805434.0,3.632012
14,Indiana,920434,53042,10144064.0,338227.0,2.999188
15,Iowa,396980,9203,5663444.0,180351.0,3.140234
16,Kansas,231885,6527,5065968.0,155682.0,3.254049
17,Kentucky,246480,11851,6750052.0,195080.0,3.460146
18,Louisiana,1443404,90609,8027058.0,228087.0,3.519297
19,Maine,61284,2451,2579299.0,59604.0,4.327392
20,Maryland,1173802,56126,12774063.0,384156.0,3.325228
21,Massachusetts,2929874,167711,16374676.0,519741.0,3.150545
22,Michigan,2023047,171867,16977163.0,490183.0,3.463434
23,Minnesota,377850,18934,10687048.0,338638.0,3.155892
24,Mississippi,358459,15047,4234977.0,106891.0,3.961958
25,Missouri,395952,17924,9545816.0,296070.0,3.224175
26,Montana,23875,676,1652848.0,45550.0,3.628645
27,Nebraska,259429,3535,3911805.0,116056.0,3.370618
28,Nevada,259808,11975,4092457.0,150436.0,2.720397
29,New Hampshire,117245,4507,2833893.0,78402.0,3.614567
30,New Jersey,5645458,332869,26825114.0,581271.0,4.614907
31,New Mexico,177827,6867,3343152.0,91004.0,3.673632
32,New York,15041806,1081194,59161439.0,1541524.0,3.837854
33,North Carolina,568719,19258,13466942.0,518248.0,2.598552
34,North Dakota,55932,1219,1451309.0,50772.0,2.858483
35,Ohio,908834,47879,20484182.0,621363.0,3.296653
36,Oklahoma,187462,10394,5606044.0,178510.0,3.140465
37,Oregon,134979,5067,6238574.0,215153.0,2.899599
38,Pennsylvania,2320771,127278,26045127.0,724266.0,3.596072
39,Rhode Island,401931,14251,2283927.0,57727.0,3.956428
40,South Carolina,313173,11859,7669725.0,212675.0,3.606312
41,South Dakota,122292,1121,1253268.0,48462.0,2.586084
42,Tennessee,583792,10198,8886994.0,334385.0,2.657713
43,Texas,1553075,41267,49577688.0,1564396.0,3.169126
44,Utah,245859,2472,4539291.0,157902.0,2.874752
45,Vermont,45230,2320,1671433.0,31635.0,5.283493
46,Virginia,866807,28754,14677698.0,493866.0,2.972000
47,Washington,807848,42371,12483668.0,492943.0,2.532477
48,West Virginia,56158,1950,3169684.0,69814.0,4.540184
49,Wisconsin,393823,15587,10122041.0,312141.0,3.242778
50,Wyoming,28407,281,1556321.0,35905.0,4.334552