In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
from functools import reduce
import seaborn as sns
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from scipy import stats
import statsmodels.api as sm
from pylab import rcParams
from matplotlib.backends.backend_agg import FigureCanvasAgg
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

plt.style.use('seaborn-darkgrid')

In [3]:
COVIDpovertycount = pd.read_csv('COVIDpovertycount.csv',index_col = 0)
COVIDpovertycount

,State,cases,deaths,All Ages SAIPE Poverty Universe,All Ages in Poverty Count
0,Alabama,387786,14345,"4,763,811","801,758"
1,Alaska,18316,367,"720,866","80,224"
2,Arizona,426614,18857,"7,013,461","990,291"
3,Arkansas,161569,3301,"2,925,473","492,306"
4,California,2664110,102387,"38,818,530","4,972,955"
5,Colorado,766512,37828,"5,577,050","540,579"
6,Connecticut,1314995,104185,"3,468,263","358,519"
7,Delaware,234327,7813,"940,779","114,691"
8,District of Columbia,229466,10822,"669,029","107,806"
9,Florida,1726811,63147,"20,882,673","2,854,438"
10,Georgia,1282091,54209,"10,238,647","1,484,439"
11,Hawaii,31433,681,"1,382,453","124,400"
12,Idaho,103987,2828,"1,723,134","201,804"
13,Illinois,2843621,122000,"12,447,296","1,509,348"
14,Indiana,920434,53042,"6,489,270","844,165"
15,Iowa,396980,9203,"3,055,988","342,574"
16,Kansas,231885,6527,"2,825,674","336,892"
17,Kentucky,246480,11851,"4,326,301","723,053"
18,Louisiana,1443404,90609,"4,529,047","848,005"
19,Maine,61284,2451,"1,301,882","151,458"
20,Maryland,1173802,56126,"5,899,814","538,824"
21,Massachusetts,2929874,167711,"6,665,106","668,402"
22,Michigan,2023047,171867,"9,774,136","1,369,235"
23,Minnesota,377850,18934,"5,488,353","527,445"
24,Mississippi,358459,15047,"2,886,375","571,402"
25,Missouri,395952,17924,"5,943,697","785,343"
26,Montana,23875,676,"1,037,468","134,185"
27,Nebraska,259429,3535,"1,875,315","205,393"
28,Nevada,259808,11975,"2,991,991","391,347"
29,New Hampshire,117245,4507,"1,312,009","100,076"
30,New Jersey,5645458,332869,"8,739,317","831,386"
31,New Mexico,177827,6867,"2,051,723","386,739"
32,New York,15041806,1081194,"19,037,616","2,603,303"
33,North Carolina,568719,19258,"10,100,381","1,422,154"
34,North Dakota,55932,1219,"736,622","77,959"
35,Ohio,908834,47879,"11,362,293","1,568,586"
36,Oklahoma,187462,10394,"3,825,031","593,936"
37,Oregon,134979,5067,"4,113,121","516,014"
38,Pennsylvania,2320771,127278,"12,393,999","1,517,936"
39,Rhode Island,401931,14251,"1,016,444","130,538"
40,South Carolina,313173,11859,"4,944,734","750,582"
41,South Dakota,122292,1121,"852,354","109,814"
42,Tennessee,583792,10198,"6,603,092","1,003,055"
43,Texas,1553075,41267,"28,074,669","4,181,623"
44,Utah,245859,2472,"3,110,946","283,562"
45,Vermont,45230,2320,"601,250","64,431"
46,Virginia,866807,28754,"8,264,098","884,898"
47,Washington,807848,42371,"7,400,548","761,941"
48,West Virginia,56158,1950,"1,753,457","305,656"
49,Wisconsin,393823,15587,"5,665,101","626,748"
50,Wyoming,28407,281,"563,345","60,097"

In [4]:
COVIDpovertycount.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   State                            51 non-null     object
 1   cases                            51 non-null     int64
 2   deaths                           51 non-null     int64
 3   All Ages SAIPE Poverty Universe  51 non-null     object
 4   All Ages in Poverty Count        51 non-null     object
dtypes: int64(2), object(3)
memory usage: 2.4+ KB

In [5]:
COVIDpovertycount.isnull().sum()

State                              0
cases                              0
deaths                             0
All Ages SAIPE Poverty Universe    0
All Ages in Poverty Count          0
dtype: int64

In [10]:
COVIDpovertycount = COVIDpovertycount('All Ages SAIPE Poverty Universe').astype(int)

TypeError: 'DataFrame' object is not callable

In [ ]:
plt.style.use('seaborn-darkgrid')

COVIDpovertycount['All Ages SAIPE Poverty Universe'].plot(kind = 'hist', color = 'blue', edgecolor = 'black', figsize = (10,7))
plt.title('All Ages SAIPE Poverty Universe Histogram', fontsize = 16, fontweight = 'bold')
plt.xlabel('All Ages SAIPE Poverty Universe', fontsize = 10, fontweight = 'bold')
plt.ylabel('Frequency', fontsize = 10, fontweight = 'bold');