# Import the libraries

In [2]:
#Numpy for numerical computing
import numpy as np

#Pandas for DataFrames
import pandas as pd

# Load the dataset

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

In [4]:
#Load Dataset


df = pd.read_csv('C:\\NachuMohan\\Saint_Peters_University\\GA_Summer2020\\Health-Literacy-COVID19\\Income\\clean data\\Unemployment.csv')

In [5]:
df.head(5)

,State,cases,deaths,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018
0,Alabama,387786,14345,2216627,2130845,85782,3.9,49881
1,Alaska,18316,367,352662,329901,22761,6.5,74912
2,Arizona,426614,18857,3422583,3260518,162065,4.7,59079
3,Arkansas,161569,3301,1353305,1303995,49310,3.6,47094
4,California,2664110,102387,19280821,18460725,820096,4.3,75250

# In area_name, we have states of U.S also the counties, we dont want counties, so we are removing the counties

In [48]:
df2 = pd.DataFrame(columns=df.columns)

cond = df['Rural_urban_continuum_code_2013'].isnull()
rows = df.loc[cond, :]
df2 = df2.append(rows, ignore_index=True)

In [49]:
df2

,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,United States,NaN,NaN,NaN,"161,389,026","155,102,319","6,286,707",3.9,"61,937",NaN
1,Alabama,NaN,NaN,NaN,"2,216,627","2,130,845","85,782",3.9,"49,881",100.0
2,Alaska,NaN,NaN,NaN,"352,662","329,901","22,761",6.5,"74,912",100.0
3,"Prince of Wales-Outer Ketchikan Census Area, AK",NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,"Skagway-Hoonah-Angoon Census Area, AK",NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,"Wrangell-Petersburg Census Area, AK",NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Arizona,NaN,NaN,NaN,"3,422,583","3,260,518","162,065",4.7,"59,079",100.0
7,Arkansas,NaN,NaN,NaN,"1,353,305","1,303,995","49,310",3.6,"47,094",100.0
8,California,NaN,NaN,NaN,"19,280,821","18,460,725","820,096",4.3,"75,250",100.0
9,Colorado,NaN,NaN,NaN,"3,080,661","2,983,498","97,163",3.2,"71,949",100.0
10,Connecticut,NaN,NaN,NaN,"1,900,664","1,821,891","78,773",4.1,"76,366",100.0
11,Delaware,NaN,NaN,NaN,"481,773","463,542","18,231",3.8,"65,467",100.0
12,District of Columbia,NaN,NaN,NaN,"404,739","381,703","23,036",5.7,"82,533",100.0
13,Florida,NaN,NaN,NaN,"10,173,537","9,808,656","364,881",3.6,"55,433",100.0
14,Georgia,NaN,NaN,NaN,"5,080,472","4,880,038","200,434",3.9,"58,634",100.0
15,Hawaii,NaN,NaN,NaN,"675,184","658,256","16,928",2.5,"80,527",100.0
16,Idaho,NaN,NaN,NaN,"857,207","832,286","24,921",2.9,"55,524",100.0
17,Illinois,NaN,NaN,NaN,"6,463,957","6,184,805","279,152",4.3,"65,063",100.0
18,Indiana,NaN,NaN,NaN,"3,381,609","3,263,751","117,858",3.5,"55,725",100.0
19,Iowa,NaN,NaN,NaN,"1,690,960","1,646,708","44,252",2.6,"60,071",100.0
20,Kansas,NaN,NaN,NaN,"1,477,847","1,429,229","48,618",3.3,"58,150",100.0
21,Kentucky,NaN,NaN,NaN,"2,057,791","1,968,611","89,180",4.3,"50,189",100.0
22,Louisiana,NaN,NaN,NaN,"2,104,497","2,001,995","102,502",4.9,"48,021",100.0
23,Maine,NaN,NaN,NaN,"695,679","673,150","22,529",3.2,"55,579",100.0
24,Maryland,NaN,NaN,NaN,"3,221,603","3,094,569","127,034",3.9,"83,076",100.0
25,Massachusetts,NaN,NaN,NaN,"3,785,489","3,658,286","127,203",3.4,"79,817",100.0
26,Michigan,NaN,NaN,NaN,"4,908,714","4,705,360","203,354",4.1,"56,640",100.0
27,Minnesota,NaN,NaN,NaN,"3,071,433","2,981,153","90,280",2.9,"70,295",100.0
28,Mississippi,NaN,NaN,NaN,"1,269,134","1,207,680","61,454",4.8,"44,740",100.0
29,Missouri,NaN,NaN,NaN,"3,053,105","2,956,667","96,438",3.2,"54,412",100.0
30,Montana,NaN,NaN,NaN,"528,834","509,568","19,266",3.6,"55,248",100.0
31,Nebraska,NaN,NaN,NaN,"1,023,491","993,561","29,930",2.9,"59,724",100.0
32,Nevada,NaN,NaN,NaN,"1,503,683","1,436,891","66,792",4.4,"58,740",100.0
33,New Hampshire,NaN,NaN,NaN,"762,758","743,182","19,576",2.6,"75,322",100.0
34,New Jersey,NaN,NaN,NaN,"4,432,520","4,250,796","181,724",4.1,"81,777",100.0
35,New Mexico,NaN,NaN,NaN,"938,245","892,331","45,914",4.9,"47,405",100.0
36,New York,NaN,NaN,NaN,"9,521,869","9,127,699","394,170",4.1,"67,648",100.0
37,North Carolina,NaN,NaN,NaN,"4,986,138","4,787,719","198,419",4.0,"53,922",100.0
38,North Dakota,NaN,NaN,NaN,"403,583","393,199","10,384",2.6,"65,250",100.0
39,Ohio,NaN,NaN,NaN,"5,780,747","5,521,681","259,066",4.5,"56,155",100.0
40,Oklahoma,NaN,NaN,NaN,"1,840,609","1,777,564","63,045",3.4,"51,914",100.0
41,Oregon,NaN,NaN,NaN,"2,097,202","2,012,235","84,967",4.1,"63,168",100.0
42,Pennsylvania,NaN,NaN,NaN,"6,423,711","6,150,782","272,929",4.2,"60,891",100.0
43,Rhode Island,NaN,NaN,NaN,"554,554","532,478","22,076",4.0,"63,787",100.0
44,South Carolina,NaN,NaN,NaN,"2,339,939","2,259,057","80,882",3.5,"52,449",100.0
45,South Dakota,NaN,NaN,NaN,"459,565","445,472","14,093",3.1,"57,041",100.0
46,Tennessee,NaN,NaN,NaN,"3,254,261","3,139,888","114,373",3.5,"52,366",100.0
47,Texas,NaN,NaN,NaN,"13,816,690","13,285,118","531,572",3.8,"60,632",100.0
48,Utah,NaN,NaN,NaN,"1,569,969","1,522,290","47,679",3.0,"71,381",100.0
49,Vermont,NaN,NaN,NaN,"345,300","336,496","8,804",2.5,"60,917",100.0
50,Virginia,NaN,NaN,NaN,"4,341,153","4,209,651","131,502",3.0,"72,600",100.0
51,Washington,NaN,NaN,NaN,"3,807,013","3,637,581","169,432",4.5,"74,023",100.0
52,West Virginia,NaN,NaN,NaN,"785,196","744,326","40,870",5.2,"44,038",100.0
53,Wisconsin,NaN,NaN,NaN,"3,118,301","3,024,747","93,554",3.0,"60,779",100.0
54,Wyoming,NaN,NaN,NaN,"291,428","280,076","11,352",3.9,"62,259",100.0
55,Puerto Rico,NaN,NaN,NaN,"1,078,187","979,006","99,181",9.2,NaN,NaN

# Removing Unwanted Columns

In [59]:
df = df2.drop(['Rural_urban_continuum_code_2013','Urban_influence_code_2013','Metro_2013'], axis =1)

In [60]:
df

,area_name,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,United States,"161,389,026","155,102,319","6,286,707",3.9,"61,937",NaN
1,Alabama,"2,216,627","2,130,845","85,782",3.9,"49,881",100.0
2,Alaska,"352,662","329,901","22,761",6.5,"74,912",100.0
3,"Prince of Wales-Outer Ketchikan Census Area, AK",NaN,NaN,NaN,NaN,NaN,NaN
4,"Skagway-Hoonah-Angoon Census Area, AK",NaN,NaN,NaN,NaN,NaN,NaN
5,"Wrangell-Petersburg Census Area, AK",NaN,NaN,NaN,NaN,NaN,NaN
6,Arizona,"3,422,583","3,260,518","162,065",4.7,"59,079",100.0
7,Arkansas,"1,353,305","1,303,995","49,310",3.6,"47,094",100.0
8,California,"19,280,821","18,460,725","820,096",4.3,"75,250",100.0
9,Colorado,"3,080,661","2,983,498","97,163",3.2,"71,949",100.0
10,Connecticut,"1,900,664","1,821,891","78,773",4.1,"76,366",100.0
11,Delaware,"481,773","463,542","18,231",3.8,"65,467",100.0
12,District of Columbia,"404,739","381,703","23,036",5.7,"82,533",100.0
13,Florida,"10,173,537","9,808,656","364,881",3.6,"55,433",100.0
14,Georgia,"5,080,472","4,880,038","200,434",3.9,"58,634",100.0
15,Hawaii,"675,184","658,256","16,928",2.5,"80,527",100.0
16,Idaho,"857,207","832,286","24,921",2.9,"55,524",100.0
17,Illinois,"6,463,957","6,184,805","279,152",4.3,"65,063",100.0
18,Indiana,"3,381,609","3,263,751","117,858",3.5,"55,725",100.0
19,Iowa,"1,690,960","1,646,708","44,252",2.6,"60,071",100.0
20,Kansas,"1,477,847","1,429,229","48,618",3.3,"58,150",100.0
21,Kentucky,"2,057,791","1,968,611","89,180",4.3,"50,189",100.0
22,Louisiana,"2,104,497","2,001,995","102,502",4.9,"48,021",100.0
23,Maine,"695,679","673,150","22,529",3.2,"55,579",100.0
24,Maryland,"3,221,603","3,094,569","127,034",3.9,"83,076",100.0
25,Massachusetts,"3,785,489","3,658,286","127,203",3.4,"79,817",100.0
26,Michigan,"4,908,714","4,705,360","203,354",4.1,"56,640",100.0
27,Minnesota,"3,071,433","2,981,153","90,280",2.9,"70,295",100.0
28,Mississippi,"1,269,134","1,207,680","61,454",4.8,"44,740",100.0
29,Missouri,"3,053,105","2,956,667","96,438",3.2,"54,412",100.0
30,Montana,"528,834","509,568","19,266",3.6,"55,248",100.0
31,Nebraska,"1,023,491","993,561","29,930",2.9,"59,724",100.0
32,Nevada,"1,503,683","1,436,891","66,792",4.4,"58,740",100.0
33,New Hampshire,"762,758","743,182","19,576",2.6,"75,322",100.0
34,New Jersey,"4,432,520","4,250,796","181,724",4.1,"81,777",100.0
35,New Mexico,"938,245","892,331","45,914",4.9,"47,405",100.0
36,New York,"9,521,869","9,127,699","394,170",4.1,"67,648",100.0
37,North Carolina,"4,986,138","4,787,719","198,419",4.0,"53,922",100.0
38,North Dakota,"403,583","393,199","10,384",2.6,"65,250",100.0
39,Ohio,"5,780,747","5,521,681","259,066",4.5,"56,155",100.0
40,Oklahoma,"1,840,609","1,777,564","63,045",3.4,"51,914",100.0
41,Oregon,"2,097,202","2,012,235","84,967",4.1,"63,168",100.0
42,Pennsylvania,"6,423,711","6,150,782","272,929",4.2,"60,891",100.0
43,Rhode Island,"554,554","532,478","22,076",4.0,"63,787",100.0
44,South Carolina,"2,339,939","2,259,057","80,882",3.5,"52,449",100.0
45,South Dakota,"459,565","445,472","14,093",3.1,"57,041",100.0
46,Tennessee,"3,254,261","3,139,888","114,373",3.5,"52,366",100.0
47,Texas,"13,816,690","13,285,118","531,572",3.8,"60,632",100.0
48,Utah,"1,569,969","1,522,290","47,679",3.0,"71,381",100.0
49,Vermont,"345,300","336,496","8,804",2.5,"60,917",100.0
50,Virginia,"4,341,153","4,209,651","131,502",3.0,"72,600",100.0
51,Washington,"3,807,013","3,637,581","169,432",4.5,"74,023",100.0
52,West Virginia,"785,196","744,326","40,870",5.2,"44,038",100.0
53,Wisconsin,"3,118,301","3,024,747","93,554",3.0,"60,779",100.0
54,Wyoming,"291,428","280,076","11,352",3.9,"62,259",100.0
55,Puerto Rico,"1,078,187","979,006","99,181",9.2,NaN,NaN

In [61]:
df.isnull().values.any()

True

In [62]:
df.dtypes

area_name                                    object
Civilian_labor_force_2018                    object
Employed_2018                                object
Unemployed_2018                              object
Unemployment_rate_2018                       float64
Median_Household_Income_2018                 object
Med_HH_Income_Percent_of_State_Total_2018    float64
dtype: object

# Replacing the NA Values as mean value of the column

In [63]:
# fill missing values with mean column values
df.fillna(df.mean(), inplace=True)

In [64]:
df

,area_name,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,United States,"161,389,026","155,102,319","6,286,707",3.900000,"61,937",100.0
1,Alabama,"2,216,627","2,130,845","85,782",3.900000,"49,881",100.0
2,Alaska,"352,662","329,901","22,761",6.500000,"74,912",100.0
3,"Prince of Wales-Outer Ketchikan Census Area, AK",NaN,NaN,NaN,3.898113,NaN,100.0
4,"Skagway-Hoonah-Angoon Census Area, AK",NaN,NaN,NaN,3.898113,NaN,100.0
5,"Wrangell-Petersburg Census Area, AK",NaN,NaN,NaN,3.898113,NaN,100.0
6,Arizona,"3,422,583","3,260,518","162,065",4.700000,"59,079",100.0
7,Arkansas,"1,353,305","1,303,995","49,310",3.600000,"47,094",100.0
8,California,"19,280,821","18,460,725","820,096",4.300000,"75,250",100.0
9,Colorado,"3,080,661","2,983,498","97,163",3.200000,"71,949",100.0
10,Connecticut,"1,900,664","1,821,891","78,773",4.100000,"76,366",100.0
11,Delaware,"481,773","463,542","18,231",3.800000,"65,467",100.0
12,District of Columbia,"404,739","381,703","23,036",5.700000,"82,533",100.0
13,Florida,"10,173,537","9,808,656","364,881",3.600000,"55,433",100.0
14,Georgia,"5,080,472","4,880,038","200,434",3.900000,"58,634",100.0
15,Hawaii,"675,184","658,256","16,928",2.500000,"80,527",100.0
16,Idaho,"857,207","832,286","24,921",2.900000,"55,524",100.0
17,Illinois,"6,463,957","6,184,805","279,152",4.300000,"65,063",100.0
18,Indiana,"3,381,609","3,263,751","117,858",3.500000,"55,725",100.0
19,Iowa,"1,690,960","1,646,708","44,252",2.600000,"60,071",100.0
20,Kansas,"1,477,847","1,429,229","48,618",3.300000,"58,150",100.0
21,Kentucky,"2,057,791","1,968,611","89,180",4.300000,"50,189",100.0
22,Louisiana,"2,104,497","2,001,995","102,502",4.900000,"48,021",100.0
23,Maine,"695,679","673,150","22,529",3.200000,"55,579",100.0
24,Maryland,"3,221,603","3,094,569","127,034",3.900000,"83,076",100.0
25,Massachusetts,"3,785,489","3,658,286","127,203",3.400000,"79,817",100.0
26,Michigan,"4,908,714","4,705,360","203,354",4.100000,"56,640",100.0
27,Minnesota,"3,071,433","2,981,153","90,280",2.900000,"70,295",100.0
28,Mississippi,"1,269,134","1,207,680","61,454",4.800000,"44,740",100.0
29,Missouri,"3,053,105","2,956,667","96,438",3.200000,"54,412",100.0
30,Montana,"528,834","509,568","19,266",3.600000,"55,248",100.0
31,Nebraska,"1,023,491","993,561","29,930",2.900000,"59,724",100.0
32,Nevada,"1,503,683","1,436,891","66,792",4.400000,"58,740",100.0
33,New Hampshire,"762,758","743,182","19,576",2.600000,"75,322",100.0
34,New Jersey,"4,432,520","4,250,796","181,724",4.100000,"81,777",100.0
35,New Mexico,"938,245","892,331","45,914",4.900000,"47,405",100.0
36,New York,"9,521,869","9,127,699","394,170",4.100000,"67,648",100.0
37,North Carolina,"4,986,138","4,787,719","198,419",4.000000,"53,922",100.0
38,North Dakota,"403,583","393,199","10,384",2.600000,"65,250",100.0
39,Ohio,"5,780,747","5,521,681","259,066",4.500000,"56,155",100.0
40,Oklahoma,"1,840,609","1,777,564","63,045",3.400000,"51,914",100.0
41,Oregon,"2,097,202","2,012,235","84,967",4.100000,"63,168",100.0
42,Pennsylvania,"6,423,711","6,150,782","272,929",4.200000,"60,891",100.0
43,Rhode Island,"554,554","532,478","22,076",4.000000,"63,787",100.0
44,South Carolina,"2,339,939","2,259,057","80,882",3.500000,"52,449",100.0
45,South Dakota,"459,565","445,472","14,093",3.100000,"57,041",100.0
46,Tennessee,"3,254,261","3,139,888","114,373",3.500000,"52,366",100.0
47,Texas,"13,816,690","13,285,118","531,572",3.800000,"60,632",100.0
48,Utah,"1,569,969","1,522,290","47,679",3.000000,"71,381",100.0
49,Vermont,"345,300","336,496","8,804",2.500000,"60,917",100.0
50,Virginia,"4,341,153","4,209,651","131,502",3.000000,"72,600",100.0
51,Washington,"3,807,013","3,637,581","169,432",4.500000,"74,023",100.0
52,West Virginia,"785,196","744,326","40,870",5.200000,"44,038",100.0
53,Wisconsin,"3,118,301","3,024,747","93,554",3.000000,"60,779",100.0
54,Wyoming,"291,428","280,076","11,352",3.900000,"62,259",100.0
55,Puerto Rico,"1,078,187","979,006","99,181",9.200000,NaN,100.0

In [66]:
df.isnull().values.any()

True

# Join the COVID cases and Unemployment, so rename the columns as State

In [67]:
df = df.rename(columns = {'area_name':'State'})
df.head()

,State,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,United States,"161,389,026","155,102,319","6,286,707",3.900000,"61,937",100.0
1,Alabama,"2,216,627","2,130,845","85,782",3.900000,"49,881",100.0
2,Alaska,"352,662","329,901","22,761",6.500000,"74,912",100.0
3,"Prince of Wales-Outer Ketchikan Census Area, AK",NaN,NaN,NaN,3.898113,NaN,100.0
4,"Skagway-Hoonah-Angoon Census Area, AK",NaN,NaN,NaN,3.898113,NaN,100.0

# Read the COVIS US States dataset

In [68]:
covid_us_states = pd.read_csv('C:\\NachuMohan\\Saint_Peters_University\\GA_Summer2020\\us-states.csv')

# Removing unwanted columns

In [69]:
covid_us_states = covid_us_states.groupby(['state']).sum()
covid_us_states = covid_us_states.reset_index()
covid_us_states.drop([11, 36, 41, 49], inplace = True)
covid_us_states = covid_us_states.reset_index(drop = True)
covid_us_states.head()

        state  fips    cases  deaths
0  Alabama     73    387786   14345
1  Alaska      148   18316    367
2  Arizona     480   426614   18857
3  Arkansas    375   161569   3301
4  California  726   2664110  102387

# Replace the column value  as State

In [70]:
covid_us_states = covid_us_states.rename(columns = {'state':'State'})
covid_us_states.head()covid_us_states = covid_us_states.drop(['fips'], axis = 1)
covid_us_states

        State  fips    cases  deaths
0  Alabama     73    387786   14345
1  Alaska      148   18316    367
2  Arizona     480   426614   18857
3  Arkansas    375   161569   3301
4  California  726   2664110  102387

In [71]:
covid_us_states = covid_us_states.drop(['fips'], axis = 1)
covid_us_states

                   State     cases   deaths
0   Alabama               387786    14345
1   Alaska                18316     367
2   Arizona               426614    18857
3   Arkansas              161569    3301
4   California            2664110   102387
5   Colorado              766512    37828
6   Connecticut           1314995   104185
7   Delaware              234327    7813
8   District of Columbia  229466    10822
9   Florida               1726811   63147
10  Georgia               1282091   54209
11  Hawaii                31433     681
12  Idaho                 103987    2828
13  Illinois              2843621   122000
14  Indiana               920434    53042
15  Iowa                  396980    9203
16  Kansas                231885    6527
17  Kentucky              246480    11851
18  Louisiana             1443404   90609
19  Maine                 61284     2451
20  Maryland              1173802   56126
21  Massachusetts         2929874   167711
22  Michigan              2023047   171867
23  Minnesota             377850    18934
24  Mississippi           358459    15047
25  Missouri              395952    17924
26  Montana               23875     676
27  Nebraska              259429    3535
28  Nevada                259808    11975
29  New Hampshire         117245    4507
30  New Jersey            5645458   332869
31  New Mexico            177827    6867
32  New York              15041806  1081194
33  North Carolina        568719    19258
34  North Dakota          55932     1219
35  Ohio                  908834    47879
36  Oklahoma              187462    10394
37  Oregon                134979    5067
38  Pennsylvania          2320771   127278
39  Rhode Island          401931    14251
40  South Carolina        313173    11859
41  South Dakota          122292    1121
42  Tennessee             583792    10198
43  Texas                 1553075   41267
44  Utah                  245859    2472
45  Vermont               45230     2320
46  Virginia              866807    28754
47  Washington            807848    42371
48  West Virginia         56158     1950
49  Wisconsin             393823    15587
50  Wyoming               28407     281

# Merging the data Unemployment and COVID us states

In [72]:
COVIDUnemployment = pd.merge(covid_us_states, df, how = 'left', on = 'State')
COVIDUnemployment

,State,cases,deaths,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,Alabama,387786,14345,"2,216,627","2,130,845","85,782",3.9,"49,881",100.0
1,Alaska,18316,367,"352,662","329,901","22,761",6.5,"74,912",100.0
2,Arizona,426614,18857,"3,422,583","3,260,518","162,065",4.7,"59,079",100.0
3,Arkansas,161569,3301,"1,353,305","1,303,995","49,310",3.6,"47,094",100.0
4,California,2664110,102387,"19,280,821","18,460,725","820,096",4.3,"75,250",100.0
5,Colorado,766512,37828,"3,080,661","2,983,498","97,163",3.2,"71,949",100.0
6,Connecticut,1314995,104185,"1,900,664","1,821,891","78,773",4.1,"76,366",100.0
7,Delaware,234327,7813,"481,773","463,542","18,231",3.8,"65,467",100.0
8,District of Columbia,229466,10822,"404,739","381,703","23,036",5.7,"82,533",100.0
9,Florida,1726811,63147,"10,173,537","9,808,656","364,881",3.6,"55,433",100.0
10,Georgia,1282091,54209,"5,080,472","4,880,038","200,434",3.9,"58,634",100.0
11,Hawaii,31433,681,"675,184","658,256","16,928",2.5,"80,527",100.0
12,Idaho,103987,2828,"857,207","832,286","24,921",2.9,"55,524",100.0
13,Illinois,2843621,122000,"6,463,957","6,184,805","279,152",4.3,"65,063",100.0
14,Indiana,920434,53042,"3,381,609","3,263,751","117,858",3.5,"55,725",100.0
15,Iowa,396980,9203,"1,690,960","1,646,708","44,252",2.6,"60,071",100.0
16,Kansas,231885,6527,"1,477,847","1,429,229","48,618",3.3,"58,150",100.0
17,Kentucky,246480,11851,"2,057,791","1,968,611","89,180",4.3,"50,189",100.0
18,Louisiana,1443404,90609,"2,104,497","2,001,995","102,502",4.9,"48,021",100.0
19,Maine,61284,2451,"695,679","673,150","22,529",3.2,"55,579",100.0
20,Maryland,1173802,56126,"3,221,603","3,094,569","127,034",3.9,"83,076",100.0
21,Massachusetts,2929874,167711,"3,785,489","3,658,286","127,203",3.4,"79,817",100.0
22,Michigan,2023047,171867,"4,908,714","4,705,360","203,354",4.1,"56,640",100.0
23,Minnesota,377850,18934,"3,071,433","2,981,153","90,280",2.9,"70,295",100.0
24,Mississippi,358459,15047,"1,269,134","1,207,680","61,454",4.8,"44,740",100.0
25,Missouri,395952,17924,"3,053,105","2,956,667","96,438",3.2,"54,412",100.0
26,Montana,23875,676,"528,834","509,568","19,266",3.6,"55,248",100.0
27,Nebraska,259429,3535,"1,023,491","993,561","29,930",2.9,"59,724",100.0
28,Nevada,259808,11975,"1,503,683","1,436,891","66,792",4.4,"58,740",100.0
29,New Hampshire,117245,4507,"762,758","743,182","19,576",2.6,"75,322",100.0
30,New Jersey,5645458,332869,"4,432,520","4,250,796","181,724",4.1,"81,777",100.0
31,New Mexico,177827,6867,"938,245","892,331","45,914",4.9,"47,405",100.0
32,New York,15041806,1081194,"9,521,869","9,127,699","394,170",4.1,"67,648",100.0
33,North Carolina,568719,19258,"4,986,138","4,787,719","198,419",4.0,"53,922",100.0
34,North Dakota,55932,1219,"403,583","393,199","10,384",2.6,"65,250",100.0
35,Ohio,908834,47879,"5,780,747","5,521,681","259,066",4.5,"56,155",100.0
36,Oklahoma,187462,10394,"1,840,609","1,777,564","63,045",3.4,"51,914",100.0
37,Oregon,134979,5067,"2,097,202","2,012,235","84,967",4.1,"63,168",100.0
38,Pennsylvania,2320771,127278,"6,423,711","6,150,782","272,929",4.2,"60,891",100.0
39,Rhode Island,401931,14251,"554,554","532,478","22,076",4.0,"63,787",100.0
40,South Carolina,313173,11859,"2,339,939","2,259,057","80,882",3.5,"52,449",100.0
41,South Dakota,122292,1121,"459,565","445,472","14,093",3.1,"57,041",100.0
42,Tennessee,583792,10198,"3,254,261","3,139,888","114,373",3.5,"52,366",100.0
43,Texas,1553075,41267,"13,816,690","13,285,118","531,572",3.8,"60,632",100.0
44,Utah,245859,2472,"1,569,969","1,522,290","47,679",3.0,"71,381",100.0
45,Vermont,45230,2320,"345,300","336,496","8,804",2.5,"60,917",100.0
46,Virginia,866807,28754,"4,341,153","4,209,651","131,502",3.0,"72,600",100.0
47,Washington,807848,42371,"3,807,013","3,637,581","169,432",4.5,"74,023",100.0
48,West Virginia,56158,1950,"785,196","744,326","40,870",5.2,"44,038",100.0
49,Wisconsin,393823,15587,"3,118,301","3,024,747","93,554",3.0,"60,779",100.0
50,Wyoming,28407,281,"291,428","280,076","11,352",3.9,"62,259",100.0

In [73]:
COVIDUnemployment.isnull().values.any()

False

# Export to Excel

In [ ]:
df.to_excel(r'Path where you want to store the exported excel file\File Name.xlsx', index = False)