In [18]:
import pandas as pd
import os

In [19]:
files = files = [file for file in os.listdir() if file.startswith('COVID')][2:]
files

['COVIDpovertycount.csv', 'COVIDUnemployment.csv']

In [20]:
IncomeDF = pd.read_csv('COVIDAGI.csv', index_col = 0)

for file in files:
    current_data = pd.read_csv(file, index_col = 0)
    IncomeDF = pd.merge(IncomeDF, current_data, how = 'outer', on = ['State', 'cases', 'deaths'])

IncomeDF.head()

,State,cases,deaths,AGI Total,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018
0,Alabama,387786,14345,119662909,18553159,35924229,49537638,76667112,101687773,114405941,"4,763,811","801,758",2216627,2130845,85782,3.9,49881
1,Alaska,18316,367,23969001,2848087,6184956,8915998,14554105,20064361,22927860,"720,866","80,224",352662,329901,22761,6.5,74912
2,Arizona,426614,18857,197753744,33609317,63073164,85351788,128616004,168531690,189378565,"7,013,461","990,291",3422583,3260518,162065,4.7,59079
3,Arkansas,161569,3301,74634888,16319991,26475276,34256878,49689104,64088761,71584342,"2,925,473","492,306",1353305,1303995,49310,3.6,47094
4,California,2664110,102387,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869,"38,818,530","4,972,955",19280821,18460725,820096,4.3,75250

In [21]:
IncomeDF['All Ages SAIPE Poverty Universe'] = IncomeDF['All Ages SAIPE Poverty Universe'].str.replace(',', '').astype('int64')
IncomeDF['All Ages in Poverty Count'] = IncomeDF['All Ages in Poverty Count'].str.replace(',', '').astype('int64')
IncomeDF = IncomeDF.rename(columns = {'Civilian_labor_force_2018':'Civilian Labor Force',
                                     'Employed_2018':'Employed',
                                     'Unemployed_2018':'Unemployed',
                                     'Unemployment_rate_2018':'Unemployment Rate',
                                     'Median_Household_Income_2018':'Median Household Income'})

IncomeDF.head()

,State,cases,deaths,AGI Total,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,Civilian Labor Force,Employed,Unemployed,Unemployment Rate,Median Household Income
0,Alabama,387786,14345,119662909,18553159,35924229,49537638,76667112,101687773,114405941,4763811,801758,2216627,2130845,85782,3.9,49881
1,Alaska,18316,367,23969001,2848087,6184956,8915998,14554105,20064361,22927860,720866,80224,352662,329901,22761,6.5,74912
2,Arizona,426614,18857,197753744,33609317,63073164,85351788,128616004,168531690,189378565,7013461,990291,3422583,3260518,162065,4.7,59079
3,Arkansas,161569,3301,74634888,16319991,26475276,34256878,49689104,64088761,71584342,2925473,492306,1353305,1303995,49310,3.6,47094
4,California,2664110,102387,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869,38818530,4972955,19280821,18460725,820096,4.3,75250

In [22]:
IncomeDF = IncomeDF.drop(columns = ['cases', 'deaths', 'AGI Total', 'Unemployment Rate'])

IncomeDF.head()

,State,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,Civilian Labor Force,Employed,Unemployed,Median Household Income
0,Alabama,18553159,35924229,49537638,76667112,101687773,114405941,4763811,801758,2216627,2130845,85782,49881
1,Alaska,2848087,6184956,8915998,14554105,20064361,22927860,720866,80224,352662,329901,22761,74912
2,Arizona,33609317,63073164,85351788,128616004,168531690,189378565,7013461,990291,3422583,3260518,162065,59079
3,Arkansas,16319991,26475276,34256878,49689104,64088761,71584342,2925473,492306,1353305,1303995,49310,47094
4,California,356240355,600859502,772738760,1086299917,1360947743,1497300869,38818530,4972955,19280821,18460725,820096,75250

In [23]:
COVID = pd.read_csv('COVID.csv', index_col = 0)
COVID.head()

        State   cases  deaths
0     Alabama   26912     785
1      Alaska     751      10
2     Arizona   39298    1228
3    Arkansas   13191     188
4  California  159098    5202

In [24]:
IncomeDF = pd.merge(IncomeDF, COVID, how = 'left', on = 'State')
IncomeDF.head()

,State,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,Civilian Labor Force,Employed,Unemployed,Median Household Income,cases,deaths
0,Alabama,18553159,35924229,49537638,76667112,101687773,114405941,4763811,801758,2216627,2130845,85782,49881,26912,785
1,Alaska,2848087,6184956,8915998,14554105,20064361,22927860,720866,80224,352662,329901,22761,74912,751,10
2,Arizona,33609317,63073164,85351788,128616004,168531690,189378565,7013461,990291,3422583,3260518,162065,59079,39298,1228
3,Arkansas,16319991,26475276,34256878,49689104,64088761,71584342,2925473,492306,1353305,1303995,49310,47094,13191,188
4,California,356240355,600859502,772738760,1086299917,1360947743,1497300869,38818530,4972955,19280821,18460725,820096,75250,159098,5202

In [25]:
IncomeDF.to_csv('IncomeMerged.csv')