In [2]:
import pandas as pd
import numpy as np

In [3]:
MDI_DF = pd.read_excel('county-level-mdi-rates-2017.xls')
MDI_DF.head()

  county MDI rate Standard Error
0   1001   0.1407         0.0182
1   1003   0.0658         0.0104
2   1005   0.2488         0.0253
3   1007   0.2079         0.0236
4   1009   0.1159         0.0171

In [4]:
MDI_DF = MDI_DF.drop(columns = ['Standard Error'])
MDI_DF = MDI_DF.rename(columns = {'county':'County Code'})
MDI_DF = MDI_DF.dropna()
MDI_DF = MDI_DF.astype({'County Code':'int64'})
MDI_DF.head()

   County Code MDI rate
0         1001   0.1407
1         1003   0.0658
2         1005   0.2488
3         1007   0.2079
4         1009   0.1159

In [5]:
MDI_DF.isnull().sum()

County Code    0
MDI rate       0
dtype: int64

In [6]:
COVID = pd.read_csv('COVID_Case.csv')
COVID.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/9/20,8/10/20,8/11/20,8/12/20,8/13/20,8/14/20,8/15/20,8/16/20,8/17/20,8/18/20
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,1215,1215,1215,1241,1250,1252,1262,1273,1274,1291
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,3606,3714,3736,3776,3813,3860,3909,3948,3960,3977
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,630,631,643,646,651,656,663,671,672,674
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,446,450,455,464,469,477,483,483,488,490

In [7]:
COVID = COVID.drop(columns = [c for c in COVID.columns if c not in ['countyFIPS', 'County Name', '8/18/20']])
COVID = COVID.rename(columns = {'countyFIPS':'County Code',
                                'County Name':'County',
                               '8/18/20':'Cases'})
COVID.head()

   County Code                 County  Cases
0            0  Statewide Unallocated      0
1         1001         Autauga County   1291
2         1003         Baldwin County   3977
3         1005         Barbour County    674
4         1007            Bibb County    490

In [8]:
COVID.isnull().sum()

County Code    0
County         0
Cases          0
dtype: int64

In [10]:
MDI_COVID = pd.merge(MDI_DF, COVID, how = 'left', on = 'County Code')
MDI_COVID.head()

   County Code MDI rate          County  Cases
0         1001   0.1407  Autauga County   1291
1         1003   0.0658  Baldwin County   3977
2         1005   0.2488  Barbour County    674
3         1007   0.2079     Bibb County    490
4         1009   0.1159   Blount County   1034

In [11]:
MDI_COVID = MDI_COVID[['County Code', 'County', 'MDI rate', 'Cases']]
MDI_COVID.head()

   County Code          County MDI rate  Cases
0         1001  Autauga County   0.1407   1291
1         1003  Baldwin County   0.0658   3977
2         1005  Barbour County   0.2488    674
3         1007     Bibb County   0.2079    490
4         1009   Blount County   0.1159   1034

In [12]:
MDI_COVID.to_csv('MDI.csv')